{
  "#version": "3.0.0",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": "10",
    "view": "k",
    "kbsize": 2,
    "kbext": false,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "g1": [
        "#e949ea",
        "文件"
      ],
      "g2": [
        "#915fff",
        "编辑"
      ],
      "g3": [
        "#69826c",
        "图像"
      ],
      "g4": [
        "#61c273",
        "图层"
      ],
      "g5": [
        "#d174eb",
        "选择"
      ],
      "g6": [
        "#db937f",
        "画布和显示操作"
      ],
      "g7": [
        "#98b2db",
        "选择工具"
      ],
      "g8": [
        "#b3c10f",
        "画笔和涂抹工具"
      ],
      "g9": [
        "#b3dace",
        "渐变和涂抹工具"
      ],
      "g10": [
        "#7ac5f0",
        "文本工具"
      ],
      "g11": [
        "#2f685e",
        "滤镜和效果"
      ],
      "g12": [
        "#028a5e",
        "其他"
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": false,
    "show_cnt": true,
    "list_by": "group"
  },
  "#10": {
    "Alt+N": "CV约束法线（Normal）移动\n::g10",
    "Alt+U": "CV约束到U向移动\n::g10",
    "Alt+V": "CV约束到V向移动\n::g10",
    "Shift+Ctrl+C": "显示曲线（Curves)\n::g10",
    "Ctrl+D": "显示控制点（Dependents)\n::g10",
    "Ctrl+L": "显示格子（Lattices)\n::g10",
    "Alt+L": "NURBS面显示方式切换\n::g10",
    "Shift+Ctrl+S": "显示表面（Surfaces)\n::g10",
    "Ctrl+T": "显示工具箱(Toolbox)\n::g10",
    "Shift+Ctrl+T": "显示表面整齐（Trims)\n::g10",
    "Ctrl+H": "根据名字选择本物体的子层级\n::g10",
    "Space": "锁定2D所选物体\n::g10",
    "Ctrl+Right": "选择U向的下一点\n::g10",
    "Ctrl+Up": "选择V向的下一点\n::g10",
    "Ctrl+Left": "选择U向的前一点\n::g10",
    "Ctrl+Down": "选择V向的前一点\n::g10",
    "H": "根据名字选择子物体\n::g10",
    "Ctrl+S": "柔软所选物体\n::g10",
    "Alt+Shift+Z": "转换到CurveCV层级\n::g10",
    "Alt+Shift+C": "转换到Curve层级\n::g10",
    "Alt+Shift+I": "转换到Imports层级\n::g10",
    "Alt+Shift+P": "转换到Point层级\n::g10",
    "Alt+Shift+V": "转换到SurfaceCV层级\n::g10",
    "Alt+Shift+S": "转换到Surface层级\n::g10",
    "Alt+Shift+T": "转换到上一层级\n::g10",
    "Ctrl+X": "转换降级\n::g10",
    "#name": "十、文本工具"
  },
  "#11": {
    "Alt+Shift+C": "转换到控制点（ControlPoint）层级\n::g11",
    "Alt+Shift+L": "到格点（Lattice）层级\n::g11",
    "Alt+Shift+S": "到设置体积（Volume）层级\n::g11",
    "Alt+Shift+T": "转换到上层级\n::g11",
    "#name": "十一、滤镜和效果"
  },
  "#12": {
    "Ctrl+E": "进入编辑（Edit)UVW模式\n::g12",
    "Alt+Shift+Ctrl": "将Unwrap视图扩展到所选材质点的大小\n::g12",
    "Ctrl+B": "打断（Break）选择点\n::g12",
    "Ctrl+D": "分离（Detach）边界点\n::g12",
    "Ctrl+Space": "过滤选择面\n::g12",
    "Ctrl+F": "冻结（Freeze）所选材质点\n::g12",
    "Ctrl+H": "隐藏（Hide）所选材质点\n::g12",
    "Alt+F": "全部解冻（unFreeze)\n::g12",
    "Alt+H": "全部取消隐藏（unHide)\n::g12",
    "Space": "锁定所选顶点\n::g12",
    "Ctrl+P": "平移视图\n::g12",
    "S": "象素捕捉\n::g12",
    "Q": "移动材质点\n::g12",
    "W": "旋转材质点\n::g12",
    "E": "等比例缩放材质点\n::g12",
    "Alt+Ctrl+W": "焊接（Weld）所选的材质点\n::g12",
    "Ctrl+W": "焊接（Weld）到目标材质点\n::g12",
    "Ctrl+O": "Unwrap的选项（Options)\n::g12",
    "Alt+Ctrl+Z": "将Unwrap视图扩展到全部显示\n::g12",
    "Ctrl+Z": "框选放大Unwrap视图\n::g12",
    "Shift+Space": "缩放到Gizmo大小\n::g12",
    "Z": "缩放（Zoom）工具\n::g12",
    "#name": "十二、其他"
  },
  "#13": {
    "Alt+Ctrl+C": "建立（Create）反应（Reaction)\n::g13",
    "Alt+Ctrl+D": "删除（Delete）反应（Reaction)\n::g13",
    "Alt+Ctrl+S": "编辑状态（State）切换\n::g13",
    "Ctrl+I": "设置最大影响（Influence)\n::g13",
    "Alt+I": "设置最小影响（Influence)\n::g13",
    "Alt+Ctrl+V": "设置影响值（Value)\n::g13"
  },
  "#14": {
    "P": "初始化\n::g14",
    "U": "更新\n::g14"
  },
  "#15": {
    "Q": "累积计数器\n::g15",
    "C+O": "复制\n::g15",
    "Alt+F8": "VBA宏命令\n::g15",
    "Alt+F11": "VisualBasic编辑器\n::g15"
  },
  "#0": {
    "1": "打开虚拟现实数字键盘\n::g7",
    "2": "虚拟视图向下移动数字键盘\n::g7",
    "3": "显示/隐藏命令面板\n::g7",
    "4": "虚拟视图向左移动数字键盘\n::g7",
    "5": "根据名字显示隐藏的物体\n::g7",
    "6": "虚拟视图向右移动数字键盘\n::g7",
    "7": "虚拟视图放大数字键盘\n::g7",
    "8": "虚拟视图向中移动数字键盘\n::g7",
    "9": "虚拟视图缩小数字键盘\n::g7",
    "Ctrl+N": "新（New）的序列\n::g9",
    "Ctrl+O": "Unwrap的选项（Options)\n::g12",
    "Ctrl+S": "柔软所选物体\n::g10",
    "Ctrl+Shift+S": "显示表面（Surfaces)\n::g10",
    "Ctrl+F4": "关闭\n::g1",
    "Ctrl+Z": "框选放大Unwrap视图\n::g12",
    "Ctrl+Y": "重做\n::g1",
    "Ctrl+X": "转换降级\n::g10",
    "Ctrl+C": "匹配到相机（Camera）视图\n::g7",
    "Ctrl+V": "粘贴\n::g1",
    "Del": "删除物体\n::g7",
    "Space": "锁定所选顶点\n::g12",
    "Ctrl+=": "放大\n::g1",
    "Ctrl+-": "缩小\n::g1",
    "Ctrl+0": "全屏\n::g1",
    "Ctrl+1": "NURBS调整方格1\n::g7",
    "Ctrl+R": "执行（Run）序列\n::g9",
    "Ctrl+M": "移动\n::g1",
    "Ctrl+J": "重复执行上一步命令\n::g1",
    "Ctrl+A": "加入（Add）新的项目\n::g9",
    "Ctrl+H": "隐藏（Hide）所选材质点\n::g12",
    "Ctrl+Shift+C": "显示曲线（Curves)\n::g10",
    "Ctrl+Shift+X": "拉伸\n::g1",
    "Ctrl+Shift+R": "旋转3D\n::g1",
    "Ctrl+Shift+M": "移动3D\n::g1",
    "Ctrl+Shift+Z": "全部视图显示所有物体\n::g7",
    "Alt": "提取轮廓\n::g1",
    "Alt+N+L": "线性标注\n::g1",
    "Ctrl+F": "冻结（Freeze）所选材质点\n::g12",
    "Ctrl+B": "打断（Break）选择点\n::g12",
    "Ctrl+G": "栅格显示模式控制（F7）\n::g1",
    "Ctrl+K": "超级链接\n::g1",
    "Ctrl+Q": "打开关闭保存对话框\n::g1",
    "Ctrl+U": "极轴模式控制（F10）\n::g1",
    "Ctrl+P": "平移视图\n::g12",
    "Ctrl+6": "打开图象数据原子\n::g1",
    "Ctrl+3": "NURBS调整方格3\n::g7",
    "Ctrl+2": "NURBS调整方格2\n::g7",
    "Alt+T+K": "快速选择\n::g2",
    "Ctrl+8": "快速\n::g1",
    "Ctrl+W": "焊接（Weld）到目标材质点\n::g12",
    "H": "根据名字选择子物体\n::g10",
    "L": "直线\n::g6",
    "O+P+L": "多边形\n::g2",
    "E+L": "椭圆\n::g2",
    "B+O": "边界\n::g2",
    "C": "改变到相机（Camera）视图\n::g7",
    "A": "加入（Add）关键帧\n::g8",
    "P+S+L": "样条曲线\n::g2",
    "E+R+C": "矩形\n::g6",
    "C+U+R": "曲线\n::g2",
    "O": "展开对象（Object）切换\n::g8",
    "T+R": "修剪\n::g2",
    "E+X": "延伸\n::g2",
    "D+L+I": "线性标注\n::g3",
    "D+R+A": "半径标注\n::g3",
    "D+I": "直径标注\n::g3",
    "A+D+L": "对齐标注\n::g3",
    "A+D+N": "角度标注\n::g3",
    "C+D+O": "连续标注\n::g3",
    "C+D+E": "圆心标注\n::g3",
    "L+E": "引线标注\n::g5",
    "O+T+L": "公差标注\n::g3",
    "E+N+D": "捕捉到端点\n::g4",
    "I+M+D": "捕捉到中点\n::g4",
    "I+N+T": "捕捉到交点\n::g4",
    "C+E+N": "捕捉到圆心\n::g4",
    "Q+U+A": "捕捉到象限点\n::g4",
    "A+T+N": "捕捉到切点\n::g4",
    "E+P+A": "捕捉到垂足\n::g4",
    "N+O+D": "捕捉到节点\n::g4",
    "E+N+A": "捕捉到最近点\n::g4",
    "I+D": "指定坐标\n::g5",
    "L+I": "指定集体（个体）的坐标\n::g5",
    "A+L": "对齐（align)\n::g5",
    "A+R": "阵列（array)\n::g5",
    "A+P": "加载*lsp程系\n::g5",
    "A+V": "打开视图对话框（dsviewer)\n::g5",
    "S+E": "打开对象自动捕捉对话框\n::g5",
    "S+T": "文字样式的设置\n::g5",
    "S+O": "绘制二维面（2dsolid)\n::g5",
    "S+P": "拼音的校核（spell)\n::g5",
    "S+C": "缩放比例(scale)\n::g5",
    "S+N": "栅格捕捉模式设置（snap)\n::g5",
    "D+T": "单行文本输入（dtext)\n::g5",
    "D+A": "测量两点间的距离\n::g5",
    "I+O": "插入外部对象\n::g5",
    "R+E": "更新显示\n::g5",
    "R+O": "旋转\n::g5",
    "L+A": "图层管理器\n::g5",
    "B": "改变到底（Bottom）视图\n::g7",
    "D": "当前视图暂时失效\n::g7",
    "E": "等比例缩放材质点\n::g12",
    "F": "改变到前（Front）视图\n::g7",
    "G": "显示/隐藏网格(Grids)\n::g7",
    "I": "交互式平移视图\n::g7",
    "J": "*显示/隐藏所选物体的支架\n::g7",
    "S": "象素捕捉\n::g12",
    "T": "展开轨迹（Track）切换\n::g8",
    "W": "旋转材质点\n::g12",
    "P+L": "画多段线\n::g6",
    "M": "材质（Material)编辑器\n::g7",
    "X": "激活动态坐标（开关）\n::g7",
    "V": "设置当前坐标\n::g6",
    "U": "更新\n::g14",
    "P": "初始化\n::g14",
    "Z": "缩放（Zoom）工具\n::g12",
    "Ctrl+Shift+A": "适应透视图格点\n::g7",
    "Alt+A": "排列\n::g7",
    "N": "动画模式（开关）\n::g7",
    "K": "改变到后视图\n::g7",
    "Alt+Ctrl+B": "背景锁定（开关）\n::g7",
    ".": "前一时间单位\n::g7",
    ",": "下一时间单位\n::g7",
    "R": "改变到右（Right）视图\n::g7",
    "Ctrl+L": "显示格子（Lattices)\n::g10",
    "Ctrl+E": "进入编辑（Edit)UVW模式\n::g12",
    "Alt+1": "显示第一个工具条\n::g7",
    "Alt+Ctrl+H": "暂存（Hold）场景\n::g7",
    "Alt+Ctrl+F": "取回(Fetch）场景\n::g7",
    "End": "跳到最后一帧\n::g7",
    "Home": "跳到第一帧\n::g7",
    "Shift+C": "显示/隐藏相机（Cameras）\n::g7",
    "Shift+O": "显示/隐藏几何体（Geometry)【\n::g7",
    "Shift+H": "显示/隐藏帮助（Helpers）物体\n::g7",
    "Shift+L": "显示/隐藏光源（Lights)\n::g7",
    "Shift+P": "显示/隐藏粒子系统（ParticleSystems)\n::g7",
    "Shift+W": "显示/隐藏空间扭曲（SpaceWarps）物体\n::g7",
    "Alt+0": "锁定用户界面（开关）\n::g7",
    "F11": "脚本编辑器\n::g7",
    "Alt+N": "CV约束法线（Normal）移动\n::g10",
    "-": "减小动态坐标\n::g7",
    "+": "加大动态坐标\n::g7",
    "Alt+L": "NURBS面显示方式切换\n::g10",
    "Ctrl+4": "NURBS表面显示方式\n::g7",
    "Alt+Ctrl+Space": "偏移捕捉\n::g7",
    "/": "播放/停止动画\n::g7",
    "Shift+Q": "快速（Quick）渲染\n::g7",
    "Shift+A": "回到上一视图*作\n::g7",
    "Shift+Z": "撤消视图*作\n::g7",
    "Shift+E": "用前一次的参数进行渲染\n::g7",
    "Shift+R": "渲染配置\n::g7",
    "F8": "在xy/yz/zx锁定中循环改变\n::g7",
    "F5": "函数（Function)曲线模式\n::g8",
    "F6": "约束到Y轴\n::g7",
    "F7": "约束到Z轴\n::g7",
    "Alt+X": "透明显示所选物体（开关）\n::g7",
    "PgUp": "选择父物体\n::g7",
    "PgDn": "选择子物体\n::g7",
    "F2": "编辑时间模式\n::g8",
    "Shift+G": "显示所有视图网格（Grids）（开关）\n::g7",
    "Ctrl+I": "设置最大影响（Influence)\n::g13",
    "Alt+6": "显示/隐藏主要工具栏\n::g7",
    "Shift+F": "显示/隐藏安全框\n::g7",
    "Y": "显示/隐藏工具条\n::g7",
    "Ctrl+Shift+P": "百分比（Percent）捕捉（开关）\n::g7",
    "Alt+Space": "循环通过捕捉点\n::g7",
    "\\": "声音（开关）\n::g7",
    "Shift": "间隔放置物体\n::g7",
    "Shift+4": "改变到光线视图\n::g7",
    "Insert": "循环改变子物体层级\n::g7",
    "Ctrl+T": "显示工具箱(Toolbox)\n::g10",
    "F12": "精确输入转变量\n::g7",
    "Alt+Shift+Ctrl": "将Unwrap视图扩展到所选材质点的大小\n::g12",
    "F4": "位置区域模式\n::g8",
    "Alt+B": "视图背景（Background)\n::g7",
    "Shift+B": "用方框（Box）快显几何体（开关）\n::g7",
    "F3": "编辑区域模式\n::g8",
    "Alt+Ctrl+Z": "将Unwrap视图扩展到全部显示\n::g12",
    "+Shift+": "视窗放大两倍\n::g7",
    "Shift+-": "视窗缩小两倍\n::g7",
    "[": "视窗交互式放大\n::g7",
    "]": "视窗交互式缩小\n::g7",
    ";": "下一时间单位\n::g8",
    "Down": "向上移动高亮显示\n::g8",
    "Up": "向下移动高亮显示\n::g8",
    "Left": "向左轻移关键帧\n::g8",
    "Right": "向右轻移关键帧\n::g8",
    "F9": "用前一次的配置进行渲染\n::g8",
    "F10": "渲染配置\n::g8",
    "Ctrl+Down": "选择V向的前一点\n::g10",
    "Ctrl+Up": "选择V向的下一点\n::g10",
    "Alt+U": "CV约束到U向移动\n::g10",
    "Alt+V": "CV约束到V向移动\n::g10",
    "Ctrl+D": "分离（Detach）边界点\n::g12",
    "Ctrl+Shift+T": "显示表面整齐（Trims)\n::g10",
    "Ctrl+Right": "选择U向的下一点\n::g10",
    "Ctrl+Left": "选择U向的前一点\n::g10",
    "Alt+Shift+Z": "转换到CurveCV层级\n::g10",
    "Alt+Shift+C": "转换到控制点（ControlPoint）层级\n::g11",
    "Alt+Shift+I": "转换到Imports层级\n::g10",
    "Alt+Shift+P": "转换到Point层级\n::g10",
    "Alt+Shift+V": "转换到SurfaceCV层级\n::g10",
    "Alt+Shift+S": "到设置体积（Volume）层级\n::g11",
    "Alt+Shift+T": "转换到上层级\n::g11",
    "Alt+Shift+L": "到格点（Lattice）层级\n::g11",
    "Ctrl+Space": "过滤选择面\n::g12",
    "Alt+F": "全部解冻（unFreeze)\n::g12",
    "Alt+H": "全部取消隐藏（unHide)\n::g12",
    "Q": "累积计数器\n::g15",
    "Alt+Ctrl+W": "焊接（Weld）所选的材质点\n::g12",
    "Shift+Space": "缩放到Gizmo大小\n::g12",
    "Alt+Ctrl+C": "建立（Create）反应（Reaction)\n::g13",
    "Alt+Ctrl+D": "删除（Delete）反应（Reaction)\n::g13",
    "Alt+Ctrl+S": "编辑状态（State）切换\n::g13",
    "Alt+I": "设置最小影响（Influence)\n::g13",
    "Alt+Ctrl+V": "设置影响值（Value)\n::g13",
    "C+O": "复制\n::g15",
    "Alt+F8": "VBA宏命令\n::g15",
    "Alt+F11": "VisualBasic编辑器\n::g15"
  },
  "#1": {
    "Ctrl+N": "新建\n::g1",
    "Ctrl+O": "打开图象文件\n::g1",
    "Ctrl+S": "保存\n::g1",
    "Ctrl+Shift+S": "另存为\n::g1",
    "Ctrl+F4": "关闭\n::g1",
    "Ctrl+Z": "撤销\n::g1",
    "Ctrl+Y": "重做\n::g1",
    "Ctrl+X": "剪切\n::g1",
    "Ctrl+C": "复制\n::g1",
    "Ctrl+V": "粘贴\n::g1",
    "Del": "删除\n::g1",
    "Space": "选择\n::g1",
    "Ctrl+=": "放大\n::g1",
    "Ctrl+-": "缩小\n::g1",
    "Ctrl+0": "全屏\n::g1",
    "Ctrl+1": "恢复原始大小\n::g1",
    "Ctrl+R": "旋转\n::g1",
    "Ctrl+M": "移动\n::g1",
    "Ctrl+J": "重复执行上一步命令\n::g1",
    "Ctrl+A": "阵列\n::g1",
    "Ctrl+H": "镜像\n::g1",
    "Ctrl+Shift+C": "平移\n::g1",
    "Ctrl+Shift+X": "拉伸\n::g1",
    "Ctrl+Shift+R": "旋转3D\n::g1",
    "Ctrl+Shift+M": "移动3D\n::g1",
    "Ctrl+Shift+Z": "缩放\n::g1",
    "Alt": "提取轮廓\n::g1",
    "Alt+N+L": "线性标注\n::g1",
    "Ctrl+F": "控制是否实现对象自动捕捉（F3）\n::g1",
    "Ctrl+B": "栅格捕捉模式控制（F9）\n::g1",
    "Ctrl+G": "栅格显示模式控制（F7）\n::g1",
    "Ctrl+K": "超级链接\n::g1",
    "Ctrl+Q": "打开关闭保存对话框\n::g1",
    "Ctrl+U": "极轴模式控制（F10）\n::g1",
    "Ctrl+P": "打印当前图形\n::g1",
    "Ctrl+6": "打开图象数据原子\n::g1",
    "Ctrl+3": "打开工具选项板\n::g1",
    "Ctrl+2": "打开图象资源管理器\n::g1",
    "Alt+T+K": "快速选择\n::g1",
    "Ctrl+8": "快速\n::g1",
    "Ctrl+W": "对象追踪式控制（F11）\n::g1",
    "#name": "一、文件"
  },
  "#2": {
    "H": "填充区域\n::g2",
    "L": "线段\n::g2",
    "O+P+L": "多边形\n::g2",
    "E+L": "椭圆\n::g2",
    "B+O": "边界\n::g2",
    "C": "圆\n::g2",
    "Alt+T+K": "快速选择\n::g2",
    "A": "弧\n::g2",
    "P+S+L": "样条曲线\n::g2",
    "E+R+C": "矩形\n::g2",
    "C+U+R": "曲线\n::g2",
    "O": "|O\n::g2",
    "T+R": "修剪\n::g2",
    "E+X": "延伸\n::g2",
    "#name": "二、编辑"
  },
  "#3": {
    "D+L+I": "线性标注\n::g3",
    "D+R+A": "半径标注\n::g3",
    "D+I": "直径标注\n::g3",
    "A+D+L": "对齐标注\n::g3",
    "A+D+N": "角度标注\n::g3",
    "C+D+O": "连续标注\n::g3",
    "C+D+E": "圆心标注\n::g3",
    "L+E": "引线标注\n::g3",
    "O+T+L": "公差标注\n::g3",
    "#name": "三、图像"
  },
  "#4": {
    "E+N+D": "捕捉到端点\n::g4",
    "I+M+D": "捕捉到中点\n::g4",
    "I+N+T": "捕捉到交点\n::g4",
    "C+E+N": "捕捉到圆心\n::g4",
    "Q+U+A": "捕捉到象限点\n::g4",
    "A+T+N": "捕捉到切点\n::g4",
    "E+P+A": "捕捉到垂足\n::g4",
    "N+O+D": "捕捉到节点\n::g4",
    "E+N+A": "捕捉到最近点\n::g4",
    "#name": "四、图层"
  },
  "#5": {
    "A": "测量区域和周长（area)\n::g5",
    "I+D": "指定坐标\n::g5",
    "L+I": "指定集体（个体）的坐标\n::g5",
    "A+L": "对齐（align)\n::g5",
    "A+R": "阵列（array)\n::g5",
    "A+P": "加载*lsp程系\n::g5",
    "A+V": "打开视图对话框（dsviewer)\n::g5",
    "S+E": "打开对象自动捕捉对话框\n::g5",
    "S+T": "文字样式的设置\n::g5",
    "S+O": "绘制二维面（2dsolid)\n::g5",
    "S+P": "拼音的校核（spell)\n::g5",
    "S+C": "缩放比例(scale)\n::g5",
    "S+N": "栅格捕捉模式设置（snap)\n::g5",
    "D+T": "单行文本输入（dtext)\n::g5",
    "D+A": "测量两点间的距离\n::g5",
    "I+O": "插入外部对象\n::g5",
    "R+E": "更新显示\n::g5",
    "R+O": "旋转\n::g5",
    "L+E": "引线标注\n::g5",
    "L+A": "图层管理器\n::g5",
    "#name": "五、选择"
  },
  "#6": {
    "E+R+C": "矩形\n::g6",
    "A": "绘圆弧\n::g6",
    "B": "定义块\n::g6",
    "C": "画圆\n::g6",
    "D": "尺寸资源管理器\n::g6",
    "E": "删除\n::g6",
    "F": "倒圆角\n::g6",
    "G": "对象组合\n::g6",
    "H": "填充\n::g6",
    "I": "插入\n::g6",
    "J": "对接\n::g6",
    "S": "拉伸\n::g6",
    "T": "多行文本输入\n::g6",
    "W": "定义块并保存到硬盘中\n::g6",
    "L": "直线\n::g6",
    "P+L": "画多段线\n::g6",
    "M": "移动\n::g6",
    "X": "分解炸开\n::g6",
    "V": "设置当前坐标\n::g6",
    "U": "恢复上一次操作\n::g6",
    "O": "偏移\n::g6",
    "P": "移动\n::g6",
    "Z": "缩放\n::g6",
    "#name": "六、画布和显示操作"
  },
  "#7": {
    "1": "打开虚拟现实数字键盘\n::g7",
    "2": "虚拟视图向下移动数字键盘\n::g7",
    "3": "显示/隐藏命令面板\n::g7",
    "4": "虚拟视图向左移动数字键盘\n::g7",
    "5": "根据名字显示隐藏的物体\n::g7",
    "6": "虚拟视图向右移动数字键盘\n::g7",
    "7": "虚拟视图放大数字键盘\n::g7",
    "8": "虚拟视图向中移动数字键盘\n::g7",
    "9": "虚拟视图缩小数字键盘\n::g7",
    "O": "显示降级适配（开关）\n::g7",
    "Ctrl+Shift+A": "适应透视图格点\n::g7",
    "Alt+A": "排列\n::g7",
    "A": "角度捕捉（开关）\n::g7",
    "N": "动画模式（开关）\n::g7",
    "K": "改变到后视图\n::g7",
    "Alt+Ctrl+B": "背景锁定（开关）\n::g7",
    ".": "前一时间单位\n::g7",
    ",": "下一时间单位\n::g7",
    "T": "改变到上（Top）视图\n::g7",
    "B": "改变到底（Bottom）视图\n::g7",
    "C": "改变到相机（Camera）视图\n::g7",
    "F": "改变到前（Front）视图\n::g7",
    "U": "改变到等大的用户（User）视图\n::g7",
    "R": "改变到右（Right）视图\n::g7",
    "P": "改变到透视（Perspective）图\n::g7",
    "Ctrl+F": "循环改变选择方式\n::g7",
    "Ctrl+L": "默认灯光（开关）\n::g7",
    "Del": "删除物体\n::g7",
    "D": "当前视图暂时失效\n::g7",
    "Ctrl+E": "是否显示几何体内框（开关）\n::g7",
    "Alt+1": "显示第一个工具条\n::g7",
    "Ctrl+X": "专家模式棿佑（开关）\n::g7",
    "Alt+Ctrl+H": "暂存（Hold）场景\n::g7",
    "Alt+Ctrl+F": "取回(Fetch）场景\n::g7",
    "End": "跳到最后一帧\n::g7",
    "Home": "跳到第一帧\n::g7",
    "Shift+C": "显示/隐藏相机（Cameras）\n::g7",
    "Shift+O": "显示/隐藏几何体（Geometry)【\n::g7",
    "G": "显示/隐藏网格(Grids)\n::g7",
    "Shift+H": "显示/隐藏帮助（Helpers）物体\n::g7",
    "Shift+L": "显示/隐藏光源（Lights)\n::g7",
    "Shift+P": "显示/隐藏粒子系统（ParticleSystems)\n::g7",
    "Shift+W": "显示/隐藏空间扭曲（SpaceWarps）物体\n::g7",
    "Alt+0": "锁定用户界面（开关）\n::g7",
    "Ctrl+C": "匹配到相机（Camera）视图\n::g7",
    "M": "材质（Material)编辑器\n::g7",
    "W": "最大化当前视图（开关）\n::g7",
    "F11": "脚本编辑器\n::g7",
    "Ctrl+N": "新的场景\n::g7",
    "Alt+N": "法线（Normal）对齐\n::g7",
    "-": "减小动态坐标\n::g7",
    "+": "加大动态坐标\n::g7",
    "Alt+L": "NURBS表面显示方式\n::g7",
    "Ctrl+4": "NURBS表面显示方式\n::g7",
    "Ctrl+1": "NURBS调整方格1\n::g7",
    "Ctrl+2": "NURBS调整方格2\n::g7",
    "Ctrl+3": "NURBS调整方格3\n::g7",
    "Alt+Ctrl+Space": "偏移捕捉\n::g7",
    "Ctrl+O": "打开一个MAX文件\n::g7",
    "Ctrl+P": "平移视图\n::g7",
    "I": "交互式平移视图\n::g7",
    "Ctrl+H": "放置高光(Highlight)\n::g7",
    "/": "播放/停止动画\n::g7",
    "Shift+Q": "快速（Quick）渲染\n::g7",
    "Ctrl+A": "回到上一场景*作\n::g7",
    "Shift+A": "回到上一视图*作\n::g7",
    "Ctrl+Z": "撤消场景*作\n::g7",
    "Shift+Z": "撤消视图*作\n::g7",
    "Shift+E": "用前一次的参数进行渲染\n::g7",
    "Shift+R": "渲染配置\n::g7",
    "F8": "在xy/yz/zx锁定中循环改变\n::g7",
    "F5": "约束到X轴\n::g7",
    "F6": "约束到Y轴\n::g7",
    "F7": "约束到Z轴\n::g7",
    "Ctrl+R": "旋转（Rotate）视图模式\n::g7",
    "Ctrl+S": "保存（Save）文件\n::g7",
    "Alt+X": "透明显示所选物体（开关）\n::g7",
    "PgUp": "选择父物体\n::g7",
    "PgDn": "选择子物体\n::g7",
    "H": "根据名称选择物体\n::g7",
    "Space": "选择锁定（开关）\n::g7",
    "F2": "减淡所选物体的面（开关）\n::g7",
    "Shift+G": "显示所有视图网格（Grids）（开关）\n::g7",
    "Ctrl+I": "显示最后一次渲染的图画\n::g7",
    "Alt+6": "显示/隐藏主要工具栏\n::g7",
    "Shift+F": "显示/隐藏安全框\n::g7",
    "J": "*显示/隐藏所选物体的支架\n::g7",
    "Y": "显示/隐藏工具条\n::g7",
    "Ctrl+Shift+P": "百分比（Percent）捕捉（开关）\n::g7",
    "S": "打开/关闭捕捉（Snap)\n::g7",
    "Alt+Space": "循环通过捕捉点\n::g7",
    "\\": "声音（开关）\n::g7",
    "Shift": "间隔放置物体\n::g7",
    "Shift+4": "改变到光线视图\n::g7",
    "Insert": "循环改变子物体层级\n::g7",
    "Ctrl+B": "子物体选择（开关）\n::g7",
    "Ctrl+T": "帖图材质（Texture）修正\n::g7",
    "X": "激活动态坐标（开关）\n::g7",
    "F12": "精确输入转变量\n::g7",
    "Alt+Shift+Ctrl": "刷新背景图像（Background)\n::g7",
    "F4": "显示几何体外框（开关）\n::g7",
    "Alt+B": "视图背景（Background)\n::g7",
    "Shift+B": "用方框（Box）快显几何体（开关）\n::g7",
    "F3": "实色显示场景中的几何体（开关）\n::g7",
    "Ctrl+Shift+Z": "全部视图显示所有物体\n::g7",
    "E": "*视窗缩放到选择物体范围（Extents）\n::g7",
    "Alt+Ctrl+Z": "缩放范围\n::g7",
    "+Shift+": "视窗放大两倍\n::g7",
    "Z": "放大镜工具\n::g7",
    "Shift+-": "视窗缩小两倍\n::g7",
    "Ctrl+W": "根据框选进行放大\n::g7",
    "[": "视窗交互式放大\n::g7",
    "]": "视窗交互式缩小\n::g7",
    "#name": "七、选择工具"
  },
  "#8": {
    "A": "加入（Add）关键帧\n::g8",
    ";": "下一时间单位\n::g8",
    "E": "编辑（Edit）关键帧模式\n::g8",
    "F3": "编辑区域模式\n::g8",
    "F2": "编辑时间模式\n::g8",
    "O": "展开对象（Object）切换\n::g8",
    "T": "展开轨迹（Track）切换\n::g8",
    "F5": "函数（Function)曲线模式\n::g8",
    "Space": "锁定所选物体\n::g8",
    "Down": "向上移动高亮显示\n::g8",
    "Up": "向下移动高亮显示\n::g8",
    "Left": "向左轻移关键帧\n::g8",
    "Right": "向右轻移关键帧\n::g8",
    "F4": "位置区域模式\n::g8",
    "Ctrl+A": "回到上一场景*作\n::g8",
    "Ctrl+Z": "撤消场景*作\n::g8",
    "F9": "用前一次的配置进行渲染\n::g8",
    "F10": "渲染配置\n::g8",
    "Ctrl+Down": "向下收拢\n::g8",
    "Ctrl+Up": "向上收拢\n::g8",
    "#name": "八、画笔和涂抹工具"
  },
  "#9": {
    "Ctrl+F": "加入过滤器（Filter）项目\n::g9",
    "Ctrl+I": "加入输入（Input）项目\n::g9",
    "Ctrl+L": "加入图层（Layer）项目\n::g9",
    "Ctrl+O": "加入输出(Output）项目\n::g9",
    "Ctrl+A": "加入（Add）新的项目\n::g9",
    "Ctrl+S": "加入场景（Scene）事件\n::g9",
    "Ctrl+Z": "撤消场景*作\n::g9",
    "Ctrl+R": "执行（Run）序列\n::g9",
    "Ctrl+N": "新（New）的序列\n::g9",
    "#name": "九、渐变和涂抹工具"
  }
}