{
  "#version": "3.5.3",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": "10",
    "view": "k",
    "kbsize": 1,
    "kbext": false,
    "kbhint": true,
    "showall": true,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "1.25",
    "kw2": "5",
    "kh2": "5",
    "kt2": "1",
    "c0": "darkblue",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "lightgray",
    "kb-bgc": "gray",
    "kb-bdc": "black",
    "cols": 2,
    "extkeys": [],
    "modkeys": [
      "Caps"
    ],
    "modkey_colors": {
      "Alt": "#e53935",
      "Caps": "#ffa000/"
    },
    "modkey_chars": {
      "Alt": "A",
      "Caps": "+"
    },
    "modkey_mode": "raw",
    "modkey_clr": true,
    "modkey_clr_list": false,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "字符": [
        "#ACE1AF",
        ""
      ],
      "单词": [
        "#F7CAC9",
        ""
      ],
      "多次操作": [
        "#E7E28C",
        ""
      ],
      "行/页": [
        "#BFBD50",
        ""
      ],
      "删除": [
        "#DCAE96",
        ""
      ],
      "操作": [
        "#FAA052",
        ""
      ],
      "窗口": [
        "#8ED449",
        ""
      ],
      "功能": [
        "#F2CB07",
        ""
      ],
      "009": [
        "#BBBBBB",
        ""
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": true,
    "show_cnt": true,
    "list_by": "group"
  },
  "#0": {
    "Caps+0": "* 窗口 10\n\n激活绑定的窗口 10\n::窗口",
    "Caps+1": "* 窗口 1\n\n激活绑定的窗口 1\n::窗口",
    "Caps+2": "* 窗口 2\n\n激活绑定的窗口 2\n::窗口",
    "Caps+3": "* 窗口 3\n\n激活绑定的窗口 3\n::窗口",
    "Caps+4": "* 窗口 4\n\n激活绑定的窗口 4\n::窗口",
    "Caps+5": "* 窗口 5\n\n激活绑定的窗口 5\n::窗口",
    "Caps+6": "* 窗口 6\n\n激活绑定的窗口 6\n::窗口",
    "Caps+7": "* 窗口 7\n\n激活绑定的窗口 7\n::窗口",
    "Caps+8": "* 窗口 8\n\n激活绑定的窗口 8\n::窗口",
    "Caps+9": "* 窗口 9\n\n激活绑定的窗口 9\n::窗口",
    "Caps+E": "* 上\n\n光标上移\n相当于 ↑\n::字符",
    "Caps+D": "* 下\n\n光标下移\n相当于 ↓\n::字符",
    "Caps+S": "* 左\n\n光标左移\n相当于 ←\n::字符",
    "Caps+F": "* 右\n\n光标右移\n相当于 →\n::字符",
    "Caps+I": "* 上选\n\n向上选中\n相当于 Shift+↑\n::字符",
    "Caps+K": "* 下选\n\n向下选中\n相当于 Shift+↓\n::字符",
    "Caps+J": "* 左选\n\n向左选中\n相当于 Shift+←\n::字符",
    "Caps+L": "* 右选\n\n向右选中\n相当于 Shift+→\n::字符",
    "Caps+T": "* 上 x10\n\n向下移动 10 行\n相当于按 10 次 ↓\n::多次操作",
    "Caps+B": "* 下 x10\n\n向下移动 10 行\n相当于按 10 次 ↓\n::多次操作",
    "Caps+A": "* 左移\n1 词\n\n向左移动 1 个单词\n相当于 Ctrl+←\n::单词",
    "Caps+G": "* 右移\n1 词\n\n向右移动 1 个单词\n相当于 Ctrl+→\n::单词",
    "Caps+H": "* 左选\n1 词\n\n向左选中 1 个单词\n相当于 Shift+Ctrl+←\n::单词",
    "Caps+N": "* 下选 x10\n\n向下选中 10 行\n相当于按住 Shift 时\n按 10 次 ↓\n::多次操作",
    "Caps+Y": "* 上选 x10\n\n向上选中 10 行\n相当于按住 Shift 时\n按 10 次 ↑\n::多次操作",
    "Caps+P": "* 行首\n\n移动到行首\n相当于 Home\n::行/页",
    "Caps+;": "* 行尾\n\n移动到行尾\n相当于 End\n::行/页",
    "Caps+U": "* 选至行首\n\n选中至行首\n相当于 Shift+Home\n::行/页",
    "Caps+O": "* 选至行尾\n\n选中至行尾\n相当于 Shift+End\n::行/页",
    "Caps+W": "* 退格\n\n向左删除 1 个字符\n相当于 Backspace\n::删除",
    "Caps+R": "* 删除\n\n向右删除 1 个字符\n相当于 Delete\n::删除",
    "Caps+.": "* 右选\n1 词\n\n向右选中一个单词\n相当于 Shift+Ctrl+→\n::单词",
    "Caps+,": "* 选中词\n\n选中当前单词\n相当于双击(?)\n::单词",
    "Caps+[": "* 删至行首\n\n删除至行首\n相当于 Shift+Home\n然后按 Backspace\n::删除",
    "Caps+/": "* 删至行尾\n\n删除至行尾\n相当于 Shift+End\n然后按 Backspace\n::删除",
    "Caps+X": "* 剪切 1\n\n剪切选中内容到独立剪贴版 1 \n相当于 Ctrl+X，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+C": "* 复制 1\n\n复制选中内容到独立剪贴板 1\n相当于 Ctrl+C，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+V": "* 粘贴 1\n\n粘贴选中内容到独立剪贴板 1\n相当于 Ctrl+V，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+Space": "回车\n\n回车\n相当于 Enter\n::操作",
    "Caps+Enter": "强制换行\n\n换行，无论是否在行末\n相当于 End\n然后按 Enter\n::操作",
    "Caps+Backspace": "* 删除整行\n\n删除光标所在一行\n相当于 Home\n然后按 Shift+End\n然后按 Backspace\n::删除",
    "Caps+Tab": "脚本\n\n执行 TabHotString 里列出的脚本\n详见 [TabScript](https://capslox.com/capslock-plus/#clTabScript)\n::功能",
    "Caps+Q": "Qbar\n\n打开 Qbar 输入框\n::功能",
    "Caps+-": "Qbar\n上一级\n\n可以在 Qbar 中回到上一级目录\n-----\n示例：\nQbar: D:\\upperFolder\\lowerFolder\n按下 Caps+- 后\nQbar: D:\\upperFolder\n::功能",
    "Caps+=": "Qbar\n下一级\n\n可以看作是“Qbar上一级”的反向操作\n-----\n示例：\n接着“Qbar上一级”的示例\n按下 Caps+=\nQbar: D:\\upperFolder\\lowerFolder\n::功能",
    "Caps+F1": "首页\n\n打开 [Capslock+ 首页](https://capslox.com/capslock-plus/)\n::功能",
    "Caps+F2": "计算白板\n\n可以进行简单四则运算的白板\n::功能",
    "Caps+F3": "有道翻译\n\n不再提供免费 API\n只能使用收费 API\n-----\n更多信息请按 Caps+Q 呼出 Qbar\n输入命令 \"cl set\"\n在 CapsLock+settingsDemo.ini 中查看\n::功能",
    "Caps+F4": "窗口透明\n\n让当前窗口变成 1/3 透明的状态\n::功能",
    "Caps+F5": "重启\n\n重新启动 CapsLock+\n::功能",
    "Caps+F6": "窗口置顶\n\n字面意思\n::功能",
    "Caps+F8": "获取脚本中的转义字符\n\n详见[对于熟悉JavaScript的同学](https://capslox.com/capslock-plus/#tab-js)\n::功能",
    "Caps+F12": "剪贴板开关\n\n打开/关闭独立剪贴板\n::功能",
    "Alt+Caps+E": "上 x3\n\n上移 3 次\n相当于按 3 次 ↑\n::字符",
    "Alt+Caps+D": "下 x3\n\n下移 3 次\n相当于按 3 次 ↓\n::字符",
    "Alt+Caps+S": "左 x5\n\n左移 5 次\n相当于按 5 次 ←\n::字符",
    "Alt+Caps+F": "右 x5\n\n右移 5 次\n相当于按 5 次 →\n::字符",
    "Alt+Caps+I": "上选 x3\n\n向上选中 3 次\n相当于按住 Shift 时\n按 3 次 ↑\n::字符",
    "Alt+Caps+K": "下选 x3\n\n向下选中 3 次\n相当于按住 Shift 时\n按 3 次 ↓\n::字符",
    "Alt+Caps+J": "左选 x5\n\n向左选中 5 个字符\n相当于按住 Shift 时\n按 5 次 ←\n::字符",
    "Alt+Caps+L": "右选 x5\n\n向右选中 5 个字符\n相当于按住 Shift 时\n按 5 次 →\n::字符",
    "Alt+Caps+A": "左移\n3 词\n\n向左移动 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 ←\n::单词",
    "Alt+Caps+G": "右移\n3 词\n\n向右移动 3 个单词\n相当于按住 Ctrl 时\n按 3 次 →\n::单词",
    "Alt+Caps+H": "左选\n3 词\n\n向左选中 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 ←\n::单词",
    "Alt+Caps+N": "下选 x30\n\n向下选中 10 行\n相当于按住 Shift 时\n按 30 次 ↓\n::多次操作",
    "Alt+Caps+.": "右选\n3 词\n\n向右选中 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 →\n::单词",
    "Alt+Caps+P": "页首\n\n移动到页首\n相当于 Ctrl+Home\n::行/页",
    "Alt+Caps+T": "上 x30\n\n上移 30 次\n相当于按 30 次 ↑\n::多次操作",
    "Alt+Caps+B": "下 x30\n\n下移 30 次\n相当于按 30 次 ↓\n::多次操作",
    "Alt+Caps+;": "页尾\n\n移动到页尾\n相当于 Ctrl+End\n::行/页",
    "Alt+Caps+Y": "上选 x30\n\n向上选中 30 次\n相当于按住 Shift 时\n按 30 次 ↑\n::多次操作",
    "Alt+Caps+U": "选至页首\n\n选中至页首\n相当于按住 Shift 时\n按 Ctrl+Home\n::行/页",
    "Alt+Caps+O": "选至页尾\n\n选中至页尾\n相当于按住 Shift 时\n按 Ctrl+End\n::行/页",
    "Alt+Caps+W": "左删\n1 词\n\n向左删除 1 个单词\n相当于 Ctrl+Backspace\n::删除",
    "Alt+Caps+R": "右删\n1 词\n\n向右删除 1 个单词\n相当于 Ctrl+Delete\n::删除",
    "Alt+Caps+[": "删至页首\n\n删除至页首\n相当于按住 Shift 时\n按 Ctrl+Home\n然后按 Backspace\n::删除",
    "Alt+Caps+/": "删至页尾\n\n删除至页尾\n相当于按住 Shift 时\n按 Ctrl+End\n然后按 Backspace\n::删除",
    "Alt+Caps+,": "选中行\n\n选中当前行\n相当于 Home\n然后按 Shift+End\n::单词",
    "Alt+Caps+Backspace": "删除全部\n::删除",
    "Alt+Caps+1": "绑定\n窗口 1\n\n将当前窗口绑定为窗口 1\n::窗口",
    "Alt+Caps+2": "绑定\n窗口 2\n\n将当前窗口绑定为窗口 2\n::窗口",
    "Alt+Caps+3": "绑定\n窗口 3\n\n将当前窗口绑定为窗口 3\n::窗口",
    "Alt+Caps+4": "绑定\n窗口 4\n\n将当前窗口绑定为窗口 4\n::窗口",
    "Alt+Caps+5": "绑定\n窗口 5\n\n将当前窗口绑定为窗口 5\n::窗口",
    "Alt+Caps+6": "绑定\n窗口 6\n\n将当前窗口绑定为窗口 6\n::窗口",
    "Alt+Caps+7": "绑定\n窗口 7\n\n将当前窗口绑定为窗口 7\n::窗口",
    "Alt+Caps+8": "绑定\n窗口 8\n\n将当前窗口绑定为窗口 8\n::窗口",
    "Alt+Caps+9": "绑定\n窗口 9\n\n将当前窗口绑定为窗口 9\n::窗口",
    "Alt+Caps+0": "绑定\n窗口 1\n\n将当前窗口绑定为窗口 10\n::窗口",
    "Alt+Caps+X": "剪切 2\n\n剪切所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "Alt+Caps+C": "复制 2\n\n复制所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "Alt+Caps+V": "粘贴 2\n\n粘贴所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "#comment": "1 层为 Caps+ 层\n2 层为 Caps+LAlt+ 层"
  },
  "#1": {
    "Caps+0": "窗口 10\n\n激活绑定的窗口 10\n::窗口",
    "Caps+1": "窗口 1\n\n激活绑定的窗口 1\n::窗口",
    "Caps+2": "窗口 2\n\n激活绑定的窗口 2\n::窗口",
    "Caps+3": "窗口 3\n\n激活绑定的窗口 3\n::窗口",
    "Caps+4": "窗口 4\n\n激活绑定的窗口 4\n::窗口",
    "Caps+5": "窗口 5\n\n激活绑定的窗口 5\n::窗口",
    "Caps+6": "窗口 6\n\n激活绑定的窗口 6\n::窗口",
    "Caps+7": "窗口 7\n\n激活绑定的窗口 7\n::窗口",
    "Caps+8": "窗口 8\n\n激活绑定的窗口 8\n::窗口",
    "Caps+9": "窗口 9\n\n激活绑定的窗口 9\n::窗口",
    "Caps": "按住这个键来\n触发这一层",
    "Caps+E": "上\n\n光标上移\n相当于 ↑\n::字符",
    "Caps+D": "下\n\n光标下移\n相当于 ↓\n::字符",
    "Caps+S": "左\n\n光标左移\n相当于 ←\n::字符",
    "Caps+F": "右\n\n光标右移\n相当于 →\n::字符",
    "Caps+I": "上选\n\n向上选中\n相当于 Shift+↑\n::字符",
    "Caps+K": "下选\n\n向下选中\n相当于 Shift+↓\n::字符",
    "Caps+J": "左选\n\n向左选中\n相当于 Shift+←\n::字符",
    "Caps+L": "右选\n\n向右选中\n相当于 Shift+→\n::字符",
    "Caps+T": "上 x10\n\n向下移动 10 行\n相当于按 10 次 ↓\n::多次操作",
    "Caps+B": "下 x10\n\n向下移动 10 行\n相当于按 10 次 ↓\n::多次操作",
    "Caps+A": "左移\n1 词\n\n向左移动 1 个单词\n相当于 Ctrl+←\n::单词",
    "Caps+G": "右移\n1 词\n\n向右移动 1 个单词\n相当于 Ctrl+→\n::单词",
    "Caps+H": "左选\n1 词\n\n向左选中 1 个单词\n相当于 Shift+Ctrl+←\n::单词",
    "Caps+N": "下选 x10\n\n向下选中 10 行\n相当于按住 Shift 时\n按 10 次 ↓\n::多次操作",
    "Caps+Y": "上选 x10\n\n向上选中 10 行\n相当于按住 Shift 时\n按 10 次 ↑\n::多次操作",
    "Caps+P": "行首\n\n移动到行首\n相当于 Home\n::行/页",
    "Caps+;": "行尾\n\n移动到行尾\n相当于 End\n::行/页",
    "Caps+U": "选至行首\n\n选中至行首\n相当于 Shift+Home\n::行/页",
    "Caps+O": "选至行尾\n\n选中至行尾\n相当于 Shift+End\n::行/页",
    "Caps+W": "退格\n\n向左删除 1 个字符\n相当于 Backspace\n::删除",
    "Caps+R": "删除\n\n向右删除 1 个字符\n相当于 Delete\n::删除",
    "Caps+.": "右选\n1 词\n\n向右选中一个单词\n相当于 Shift+Ctrl+→\n::单词",
    "Caps+,": "选中词\n\n选中当前单词\n相当于双击(?)\n::单词",
    "Caps+[": "删至行首\n\n删除至行首\n相当于 Shift+Home\n然后按 Backspace\n::删除",
    "Caps+/": "删至行尾\n\n删除至行尾\n相当于 Shift+End\n然后按 Backspace\n::删除",
    "Caps+X": "剪切 1\n\n剪切选中内容到独立剪贴版 1 \n相当于 Ctrl+X，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+C": "复制 1\n\n复制选中内容到独立剪贴板 1\n相当于 Ctrl+C，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+V": "粘贴 1\n\n粘贴选中内容到独立剪贴板 1\n相当于 Ctrl+V，\n但是会保存到独立剪贴板 1 中\n::操作",
    "Caps+Space": "回车\n\n回车\n相当于 Enter\n::操作",
    "Caps+Enter": "强制换行\n\n换行，无论是否在行末\n相当于 End\n然后按 Enter\n::操作",
    "Caps+Backspace": "删除整行\n\n删除光标所在一行\n相当于 Home\n然后按 Shift+End\n然后按 Backspace\n::删除",
    "Caps+Tab": "脚本\n\n执行 TabHotString 里列出的脚本\n详见 [TabScript](https://capslox.com/capslock-plus/#clTabScript)\n::功能",
    "Caps+Q": "Qbar\n\n打开 Qbar 输入框\n::功能",
    "Caps+-": "Qbar\n上一级\n\n可以在 Qbar 中回到上一级目录\n-----\n示例：\nQbar: D:\\upperFolder\\lowerFolder\n按下 Caps+- 后\nQbar: D:\\upperFolder\n::功能",
    "Caps+=": "Qbar\n下一级\n\n可以看作是“Qbar上一级”的反向操作\n-----\n示例：\n接着“Qbar上一级”的示例\n按下 Caps+=\nQbar: D:\\upperFolder\\lowerFolder\n::功能",
    "Caps+F1": "首页\n\n打开 [Capslock+ 首页](https://capslox.com/capslock-plus/)\n::功能",
    "Caps+F2": "计算白板\n\n可以进行简单四则运算的白板\n::功能",
    "Caps+F3": "有道翻译\n\n不再提供免费 API\n只能使用收费 API\n-----\n更多信息请按 Caps+Q 呼出 Qbar\n输入命令 \"cl set\"\n在 CapsLock+settingsDemo.ini 中查看\n::功能",
    "Caps+F4": "窗口透明\n\n让当前窗口变成 1/3 透明的状态\n::功能",
    "Caps+F5": "重启\n\n重新启动 CapsLock+\n::功能",
    "Caps+F6": "窗口置顶\n\n字面意思\n::功能",
    "Caps+F8": "获取脚本中的转义字符\n\n详见[对于熟悉JavaScript的同学](https://capslox.com/capslock-plus/#tab-js)\n::功能",
    "Caps+F12": "剪贴板开关\n\n打开/关闭独立剪贴板\n::功能",
    "#comment": "1 层为 Caps+ 层\n2 层为 Caps+LAlt+ 层",
    "#name": "Caps+层",
    "M": "-----\n这个键现在默认 doNothing\n不过从 CapsLock+settingsDemo.ini 中可以看出\n原来 Caps+N 负责的是右选 1 词，Caps+M 才是下选 x10\n所以也可以在 CapsLock+settings.ini 里手动改回去"
  },
  "#2": {
    "Caps": "本层的修饰键之一\n按住这个键来触发",
    "Alt": "本层修饰键之一\n按住这个键触发",
    "Alt+Caps+E": "上 x3\n\n上移 3 次\n相当于按 3 次 ↑\n::字符",
    "Alt+Caps+D": "下 x3\n\n下移 3 次\n相当于按 3 次 ↓\n::字符",
    "Alt+Caps+S": "左 x5\n\n左移 5 次\n相当于按 5 次 ←\n::字符",
    "Alt+Caps+F": "右 x5\n\n右移 5 次\n相当于按 5 次 →\n::字符",
    "Alt+Caps+I": "上选 x3\n\n向上选中 3 次\n相当于按住 Shift 时\n按 3 次 ↑\n::字符",
    "Alt+Caps+K": "下选 x3\n\n向下选中 3 次\n相当于按住 Shift 时\n按 3 次 ↓\n::字符",
    "Alt+Caps+J": "左选 x5\n\n向左选中 5 个字符\n相当于按住 Shift 时\n按 5 次 ←\n::字符",
    "Alt+Caps+L": "右选 x5\n\n向右选中 5 个字符\n相当于按住 Shift 时\n按 5 次 →\n::字符",
    "Alt+Caps+A": "左移\n3 词\n\n向左移动 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 ←\n::单词",
    "Alt+Caps+G": "右移\n3 词\n\n向右移动 3 个单词\n相当于按住 Ctrl 时\n按 3 次 →\n::单词",
    "Alt+Caps+H": "左选\n3 词\n\n向左选中 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 ←\n::单词",
    "Alt+Caps+N": "下选 x30\n\n向下选中 10 行\n相当于按住 Shift 时\n按 30 次 ↓\n::多次操作",
    "Alt+Caps+.": "右选\n3 词\n\n向右选中 3 个单词\n相当于按住 Shift+Ctrl 时\n按 3 次 →\n::单词",
    "Alt+Caps+P": "页首\n\n移动到页首\n相当于 Ctrl+Home\n::行/页",
    "Alt+Caps+T": "上 x30\n\n上移 30 次\n相当于按 30 次 ↑\n::多次操作",
    "Alt+Caps+B": "下 x30\n\n下移 30 次\n相当于按 30 次 ↓\n::多次操作",
    "Alt+Caps+;": "页尾\n\n移动到页尾\n相当于 Ctrl+End\n::行/页",
    "Alt+Caps+Y": "上选 x30\n\n向上选中 30 次\n相当于按住 Shift 时\n按 30 次 ↑\n::多次操作",
    "Alt+Caps+U": "选至页首\n\n选中至页首\n相当于按住 Shift 时\n按 Ctrl+Home\n::行/页",
    "Alt+Caps+O": "选至页尾\n\n选中至页尾\n相当于按住 Shift 时\n按 Ctrl+End\n::行/页",
    "Alt+Caps+W": "左删\n1 词\n\n向左删除 1 个单词\n相当于 Ctrl+Backspace\n::删除",
    "Alt+Caps+R": "右删\n1 词\n\n向右删除 1 个单词\n相当于 Ctrl+Delete\n::删除",
    "Alt+Caps+[": "删至页首\n\n删除至页首\n相当于按住 Shift 时\n按 Ctrl+Home\n然后按 Backspace\n::删除",
    "Alt+Caps+/": "删至页尾\n\n删除至页尾\n相当于按住 Shift 时\n按 Ctrl+End\n然后按 Backspace\n::删除",
    "Alt+Caps+,": "选中行\n\n选中当前行\n相当于 Home\n然后按 Shift+End\n::单词",
    "Alt+Caps+Backspace": "删除全部\n::删除",
    "Alt+Caps+1": "绑定\n窗口 1\n\n将当前窗口绑定为窗口 1\n::窗口",
    "Alt+Caps+2": "绑定\n窗口 2\n\n将当前窗口绑定为窗口 2\n::窗口",
    "Alt+Caps+3": "绑定\n窗口 3\n\n将当前窗口绑定为窗口 3\n::窗口",
    "Alt+Caps+4": "绑定\n窗口 4\n\n将当前窗口绑定为窗口 4\n::窗口",
    "Alt+Caps+5": "绑定\n窗口 5\n\n将当前窗口绑定为窗口 5\n::窗口",
    "Alt+Caps+6": "绑定\n窗口 6\n\n将当前窗口绑定为窗口 6\n::窗口",
    "Alt+Caps+7": "绑定\n窗口 7\n\n将当前窗口绑定为窗口 7\n::窗口",
    "Alt+Caps+8": "绑定\n窗口 8\n\n将当前窗口绑定为窗口 8\n::窗口",
    "Alt+Caps+9": "绑定\n窗口 9\n\n将当前窗口绑定为窗口 9\n::窗口",
    "Alt+Caps+0": "绑定\n窗口 1\n\n将当前窗口绑定为窗口 10\n::窗口",
    "Alt+Caps+X": "剪切 2\n\n剪切所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "Alt+Caps+C": "复制 2\n\n复制所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "Alt+Caps+V": "粘贴 2\n\n粘贴所选内容到独立剪贴板 2\n相当于 Ctrl+X\n但会保存到独立剪贴板 2\n::操作",
    "#name": "Caps+LAlt+层",
    "#comment": "1 层为 Caps+ 层\n2 层为 Caps+LAlt+ 层",
    "M": "-----\n这个键现在默认 doNothing\n不过从 CapsLock+settingsDemo.ini 中可以看出\n原来 Caps+LAlt+N 负责的是右选 3 词，Caps+LAlt+M 才是下选 x30\n所以也可以在 CapsLock+settings.ini 里手动改回去"
  },
  "#3": {
    "#name": ""
  },
  "#4": {
    "#name": ""
  },
  "#5": {
    "#name": ""
  },
  "#6": {
    "#name": ""
  },
  "#7": {
    "#name": ""
  },
  "#8": {
    "#name": ""
  },
  "#9": {
    "#name": ""
  }
}