{
  "#version": "3.0.0",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": "15",
    "view": "k",
    "kbsize": 2,
    "kbext": false,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "g1": [
        "#e949ea",
        "一、文件"
      ],
      "g2": [
        "#915fff",
        "二、编辑"
      ],
      "g3": [
        "#69826c",
        "三、图像"
      ],
      "g4": [
        "#61c273",
        "四、图层"
      ],
      "g5": [
        "#d174eb",
        "五、选择"
      ],
      "g6": [
        "#db937f",
        "六、画布和显示操作"
      ],
      "g7": [
        "#98b2db",
        "七、选择工具"
      ],
      "g8": [
        "#b3c10f",
        "八、画笔和涂抹工具"
      ],
      "g9": [
        "#b3dace",
        "九、渐变和涂抹工具"
      ],
      "g10": [
        "#7ac5f0",
        "十、文本工具"
      ],
      "g11": [
        "#2f685e",
        "十一、滤镜和效果"
      ],
      "g12": [
        "#028a5e",
        "十二、其他"
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": false,
    "show_cnt": true,
    "list_by": "group"
  },
  "#10": {
    "Alt": "使用“选择工具”、“比例缩放工具”、“镜像工具”或“倾斜工具”时复制并变换所选对象\n::g10",
    ",": "设置选中对象为渐变填色模式\n::g10",
    "Ctrl+D": "再制/将变换重新应用于对象\n::g10",
    "Ctrl+4": "将上一个路径查找器效果应用于选定对象\n::g10",
    "Shift+Ctrl+M": "移动对象对话框\n::g10",
    "Alt+Shift+Ctrl": "打开“分别变换”对话框\n::g10",
    "Ctrl+7": "创建剪切蒙版\n::g10",
    "Alt+Ctrl+7": "释放剪切蒙版\n::g10",
    "X": "在填色和描边之间转换（前景激活描边/或填色）\n::g10",
    "Shift+X": "互换填色和描边\n::g10",
    "D": "把填色和描边设置为默认\n::g10",
    "Alt+Ctrl+G": "隐藏渐变批注者/控制条（使用渐变工具时）\n::g10",
    "Shift": "从图像中提取颜色样本或从渐变中提取中间色样本\n::g10",
    "Alt+Shift": "提取样式样本，追加当前选定项目的外观\n::g10",
    "Ctrl+/": "添加新填色（详见外观面板）\n::g10",
    "Ctrl+Alt+/": "添加新描边（详见外观面板）\n::g10",
    "Ctrl": "将渐变重置为黑白状态\n::g10",
    "Alt+Ctrl+X": "进行实时上色（使用油漆桶工具时）\n::g10",
    "[": "减小毛刷画笔大小\n::g10",
    "]": "增加毛刷画笔大小\n::g10",
    "#name": "十、文本工具"
  },
  "#11": {
    "Alt": "删除而无需进行确认（“图层”面板除外）\n::g11",
    "Alt+Shift+Ctrl": "切换度量单位\n::g11",
    "Shift+Enter": "应用值并使文本框保持启用状态\n::g11",
    "Shift": "选择动作、画笔、图层、链接、样式或色板的范围\n::g11",
    "Ctrl": "选择不连续的动作、画笔、图层（只限于同一层）、链接、样式或色板\n::g11",
    "Tab": "显示/隐藏所有面板\n::g11",
    "Shift+Tab": "显示/隐藏除工具栏控制栏以外的其他面板\n::g11",
    "Ctrl+Up+Down": "增加/减少度量单位的逻辑分数中的值\n::g11",
    "Shift+Up+Down": "将度量单位增加/减少10倍\n::g11",
    "#name": "十一、滤镜和效果"
  },
  "#12": {
    "Shift+Ctrl+E": "将上一个效果应用于选定对象\n::g12",
    "Alt+Shift+Ctrl": "通过调整效果对话框中的值，将上一个效果应用于选定对象\n::g12",
    "Alt": "变蒙版为编辑用的灰度图像\n::g12",
    "Shift": "以10%的增量增加/降低不透明度\n::g12",
    "Up": "以1%的增量增加/降低不透明度\n::g12",
    "#name": "十二、其他"
  },
  "#13": {
    "F1": "调用帮助\n::g13",
    "F2": "剪切\n::g13",
    "F3": "复制\n::g13",
    "F4": "粘贴\n::g13",
    "F5": "显示/隐藏“画笔”面板\n::g13",
    "F6": "显示/隐藏“颜色”面板\n::g13",
    "F7": "显示/隐藏“图层”面板\n::g13",
    "F8": "创建新元件\n::g13",
    "Ctrl+F8": "显示/隐藏“信息”面板\n::g13",
    "Ctrl+F9": "显示/隐藏“渐变”面板\n::g13",
    "Ctrl+F10": "显示/隐藏“描边”面板\n::g13",
    "Ctrl+F11": "显示/隐藏“属性”面板\n::g13",
    "F12": "恢复\n::g13",
    "Shift+F5": "显示/隐藏“图形样式”面板\n::g13",
    "Shift+F6": "显示/隐藏“外观”面板\n::g13",
    "Shift+F7": "显示/隐藏“对齐”面板\n::g13",
    "Shift+F8": "显示/隐藏“变换”面板\n::g13",
    "Shift+Ctrl+F9": "显示/隐藏“路径查找器”面板\n::g13",
    "Shift+Ctrl+F10": "显示/隐藏“透明度”面板\n::g13",
    "Shift+Ctrl+F11": "显示/隐藏“符号”面板\n::g13"
  },
  "#14": {
    "Ctrl+N": "新建文件\n::g14",
    "Ctrl+S": "文件存盘\n::g14",
    "Ctrl+W": "关闭文件\n::g14",
    "Ctrl+P": "打印文件\n::g14",
    "Ctrl+O": "打开文件\n::g14",
    "Ctrl+Shift+S": "另存为\n::g14",
    "Ctrl+Z": "恢复到上一步\n::g14",
    "Ctrl+Q": "退出Illustrator\n::g14"
  },
  "#0": {
    "1": "切换透视平面、快速激活所在透视平面（快捷键按对应数字）\n::g6",
    "5": "垂直于所在平面方向移动对象（1、2、3平面）\n::g6",
    "Ctrl+Z": "恢复到上一步\n::g14",
    "Ctrl+Shift+Z": "重做\n::g1",
    "Ctrl+X": "剪切\n::g1",
    "Ctrl+C": "复制\n::g1",
    "Ctrl+V": "粘贴\n::g1",
    "Ctrl+F": "贴在前面\n::g1",
    "Ctrl+B": "贴在后面\n::g1",
    "Ctrl+Shift+V": "在现用画板上就地粘贴\n::g4",
    "Alt+Shift+Ctrl": "通过调整效果对话框中的值，将上一个效果应用于选定对象\n::g12",
    "Ctrl+I": "拼写检查\n::g1",
    "Ctrl+Shift+K": "打开“颜色设置”对话框\n::g1",
    "Ctrl+K": "打开“首选项”对话框\n::g1",
    "Ctrl+N": "新建文件\n::g14",
    "Ctrl+Shift+N": "插入半角空格\n::g7",
    "Alt+Ctrl+N": "在不打开“新建文档”对话框的情况下创建文档\n::g2",
    "Ctrl+O": "打开文件\n::g14",
    "Ctrl+Shift+P": "将文件置入文档\n::g2",
    "Alt+Ctrl+P": "打开“文档设置”对话框\n::g2",
    "Alt+Ctrl+O": "在AdobeBridge中浏览\n::g2",
    "Ctrl+W": "关闭文件\n::g14",
    "Ctrl+S": "文件存盘\n::g14",
    "Ctrl+Shift+S": "另存为\n::g14",
    "Alt+Ctrl+S": "存储文档的副本\n::g2",
    "Ctrl+F12": "将文档存储为脚本文件\n::g2",
    "Alt+Ctrl+E": "打开“导出为多种屏幕所用格式”对话框\n::g2",
    "Ctrl+P": "打印文件\n::g14",
    "Ctrl+Q": "退出Illustrator\n::g14",
    "Shift+O": "画板工具\n::g3",
    "V": "将矩形网格中的水平分隔线或极坐标网格中的径向分隔线的切变值按10%增加\n::g6",
    "A": "直接选择工具\n::g3",
    "Y": "魔棒工具\n::g3",
    "Q": "套索工具\n::g3",
    "P": "钢笔工具\n::g3",
    "Shift": "以10%的增量增加/降低不透明度\n::g12",
    "Shift+B": "斑点画笔工具\n::g3",
    "+": "添加锚点工具\n::g3",
    "-": "删除锚点工具\n::g3",
    "Shift+C": "切换到锚点工具\n::g3",
    "T": "文字工具\n::g3",
    "Shift+T": "修饰文字工具\n::g3",
    "\\": "直线段工具\n::g3",
    "M": "矩形工具\n::g3",
    "L": "椭圆工具\n::g3",
    "B": "画笔工具\n::g3",
    "N": "铅笔工具\n::g3",
    "Shift+N": "Shaper工具\n::g3",
    "R": "旋转工具\n::g3",
    "O": "镜像工具\n::g3",
    "S": "按比例缩放工具\n::g3",
    "Shift+R": "变形工具\n::g3",
    "Shift+W": "宽度工具\n::g3",
    "E": "自由变换工具\n::g3",
    "Shift+M": "选择形状生成器工具\n::g8",
    "Shift+P": "透视网格工具\n::g6",
    "Shift+V": "透视选区工具\n::g6",
    "Shift+S": "符号喷枪工具\n::g3",
    "J": "柱形图工具\n::g3",
    "U": "网格工具\n::g3",
    "G": "渐变工具\n::g3",
    "I": "吸管工具\n::g3",
    "W": "混合工具\n::g3",
    "K": "实时上色工具\n::g3",
    "Shift+L": "实时上色选择工具\n::g3",
    "Shift+K": "切片工具\n::g3",
    "Shift+E": "橡皮擦工具\n::g3",
    "C": "将矩形网格中的垂直分隔线或极坐标网格中的同心圆分隔线的切变值按10%增加\n::g6",
    "H": "抓手工具\n::g3",
    "Z": "缩放工具\n::g3",
    "Alt": "变蒙版为编辑用的灰度图像\n::g12",
    "F": "将矩形网格中的水平分隔线或极坐标网格中的径向分隔线的切变值按10%减少\n::g6",
    ".": "适合窗口中的可成像区域\n::g4",
    "Ctrl+1": "放大100%\n::g4",
    "Space": "用“钢笔工具”绘图时，移动当前锚点\n::g8",
    "Ctrl+Space": "切换到放大模式中的“缩放工具”\n::g4",
    "Alt+Ctrl+Space": "切换到缩小模式中的“缩放工具”\n::g4",
    "Ctrl+Shift+B": "隐藏定界框\n::g4",
    "Alt+Ctrl+Shift": "使用变形封套扭曲对象\n::g8",
    "Ctrl+Shift": "释放参考线\n::g4",
    "Ctrl+H": "显示文档模板\n::g4",
    "Ctrl+Shift+H": "显示/隐藏画板\n::g4",
    "Ctrl+R": "显示/隐藏画板标尺\n::g4",
    "Ctrl+Shift+D": "显示透明网格\n::g4",
    "Alt+Ctrl+0": "在窗口中查看所有画板\n::g4",
    "ESC": "退出全屏模式\n::g4",
    "Ctrl": "选择不连续的动作、画笔、图层（只限于同一层）、链接、样式或色板\n::g11",
    "Ctrl+F6": "浏览到下一文档\n::g4",
    "Ctrl+Shift+F6": "浏览到上一文档\n::g4",
    "Alt+Ctrl+F6": "浏览到下一文档组\n::g4",
    "Ctrl+Y": "在文档的轮廓和GPU预览之间切换\n::g4",
    "Ctrl+E": "在文档的GPU和CPU预览之间切换\n::g4",
    "Alt+Ctrl+Y": "在“像素预览”模式下查看文档\n::g4",
    "Ctrl+=": "放大\n::g4",
    "Ctrl+-": "缩小\n::g4",
    "Ctrl+;": "隐藏/显示参考线\n::g4",
    "Alt+Ctrl+;": "锁定/解锁参考线\n::g4",
    "Ctrl+5": "建立参考线\n::g4",
    "Alt+Ctrl+5": "释放参考线\n::g4",
    "Ctrl+U": "显示/隐藏智能参考线\n::g4",
    "Ctrl+Shift+I": "透视网格\n::g6",
    "Ctrl+‘": "切换到上次使用的选择工具（选择工具、直接选择工具或编组选择工具）\n::g5",
    "Ctrl+Shift+‘": "对齐网格\n::g4",
    "Alt+Ctrl+‘": "对齐点\n::g4",
    "CLock": "将套索工具的指针改为十字线\n::g5",
    "Alt+Ctrl+A": "选择现用画板中的图稿\n::g5",
    "Alt+C+O": "围绕选定对象创建裁剪标记\n::g5",
    "Ctrl+A": "全选\n::g5",
    "Ctrl+Shift+A": "取消选择\n::g5",
    "Ctrl+6": "重新选择\n::g5",
    "Alt+Ctrl+]": "选择当前所选对象上方的对象\n::g5",
    "Alt+Ctrl+[": "选择当前所选对象下方的对象\n::g5",
    "Ctrl+G": "编组选定图稿\n::g5",
    "Ctrl+Shift+G": "取消选定图稿编组\n::g5",
    "Ctrl+2": "锁定所选对象\n::g5",
    "Alt+Ctrl+2": "解锁所选对象\n::g5",
    "Ctrl+3": "隐藏所选对象\n::g5",
    "Alt+Ctrl+3": "显示所有所选对象\n::g5",
    "Up+Down": "向上或向下移动一行\n::g7",
    "Ctrl+]": "将所选对象前移\n::g5",
    "Ctrl+Shift+]": "将所选对象移到前面\n::g5",
    "Ctrl+[": "将所选对象后移\n::g5",
    "Ctrl+Shift+[": "将所选对象移到后面\n::g5",
    "Left+Right": "向右或向左移动一个字符\n::g7",
    "X": "在填色和描边之间转换（前景激活描边/或填色）\n::g10",
    "[": "减小毛刷画笔大小\n::g10",
    "]": "增加毛刷画笔大小\n::g10",
    "Shift+D": "在多种绘图模式之间切换\n::g6",
    "Ctrl+J": "连接两个或更多路径\n::g6",
    "Alt+Ctrl+J": "平均两个或更多路径\n::g6",
    "Ctrl+Shift+Alt": "创建角点连接或平滑连接\n::g6",
    "Ctrl+8": "创建复合路径\n::g6",
    "Ctrl+Shift+F8": "编辑图案\n::g6",
    "Ctrl+Alt": "将字偶和字符间距调整增大或减小五倍\n::g7",
    "Ctrl+D": "再制/将变换重新应用于对象\n::g10",
    "Ctrl+Left+Right": "向右或向左移动一个单词\n::g7",
    "Ctrl+Up+Down": "增加/减少度量单位的逻辑分数中的值\n::g11",
    "Shift+Ctrl": "选择前一个或后一个段落\n::g7",
    "Ctrl+Shift+L": "段落向左对齐、右对齐或居中对齐\n::g7",
    "Ctrl+Shift+J": "左对齐文本\n::g7",
    "Ctrl+Shift+F": "全部两端对齐\n::g7",
    "Shift+Enter": "应用值并使文本框保持启用状态\n::g11",
    "Alt+Ctrl+K": "选择字距调整值\n::g7",
    "Ctrl+Shift+X": "将文字水平、垂直缩放重置为100%\n::g7",
    "Ctrl+Shift+.": "增加或减小字体大小\n::g7",
    "Alt+Up+Down": "增加或减小行距（横排文本）\n::g7",
    "Alt+Left+Right": "增加或减小行距（直排文本）\n::g7",
    "Alt+Ctrl+Q": "将字符间距调整/字偶间距调整重置为0\n::g7",
    "Alt+Shift": "提取样式样本，追加当前选定项目的外观\n::g10",
    "Ctrl+Shift+O": "创建轮廓（文字转曲）\n::g7",
    "Ctrl+T": "打开“字符”面板\n::g7",
    "Alt+Ctrl+T": "打开“段落”面板\n::g7",
    "Ctrl+Shift+T": "打开“制表符刻度标尺选项卡”面板\n::g7",
    ",": "设置选中对象为渐变填色模式\n::g10",
    "Alt+G": "插©版权符\n::g7",
    "Alt+R": "插®注册商标符\n::g7",
    "Alt+2": "插入™商标符\n::g7",
    "Alt+6": "插入§分解符\n::g7",
    "Alt+7": "插入¶段落符号\n::g7",
    "Alt+8": "删除光标左侧一个字符\n::g7",
    "Alt+;": "插入…单省略号（中英文输入下皆可）\n::g7",
    "Shift+6": "插入……省略号（仅限中文输入下）\n::g7",
    "Alt+-": "插入–半角破折号\n::g7",
    "Alt+Shift+-": "插入—全角破折号\n::g7",
    "Alt+[": "插入“左双引号\n::g7",
    "Alt+]": "插入‘左单引号\n::g7",
    "Alt+Shift+[": "插入”右双引号\n::g7",
    "Alt+Shift+]": "插入’右单引号\n::g7",
    "Ctrl+Shift+=": "上标\n::g7",
    "Alt+4": "光标移至行首\n::g7",
    "Alt+5": "光标移至行尾\n::g7",
    "Alt+9": "处插入1个制表符\n::g7",
    "Ctrl+Shift+-": "插入自由连字符（仅限英文输入下）\n::g7",
    "Ctrl+Shift+M": "移动对象对话框\n::g10",
    "Alt+Ctrl+I": "显示/隐藏【隐藏字符】\n::g7",
    "Shift+Alt": "用“美工刀工具”在45°或90°剪切\n::g8",
    "Alt+Ctrl+B": "混合对象\n::g8",
    "Alt+Ctrl+M": "使用网格作为封套形状来扭曲对象\n::g8",
    "Alt+Ctrl+C": "使用其他对象作为封套形状来扭曲对象\n::g8",
    "Alt+Enter": "应用一个值并复制对象\n::g9",
    "Ctrl+Enter": "对宽度或高度应用一个值并按等比缩放\n::g9",
    "Ctrl+4": "将上一个路径查找器效果应用于选定对象\n::g10",
    "Ctrl+7": "创建剪切蒙版\n::g10",
    "Alt+Ctrl+7": "释放剪切蒙版\n::g10",
    "Shift+X": "互换填色和描边\n::g10",
    "D": "把填色和描边设置为默认\n::g10",
    "Alt+Ctrl+G": "隐藏渐变批注者/控制条（使用渐变工具时）\n::g10",
    "Ctrl+/": "添加新填色（详见外观面板）\n::g10",
    "Alt+Ctrl+/": "添加新描边（详见外观面板）\n::g10",
    "Alt+Ctrl+X": "进行实时上色（使用油漆桶工具时）\n::g10",
    "Tab": "显示/隐藏所有面板\n::g11",
    "Shift+Tab": "显示/隐藏除工具栏控制栏以外的其他面板\n::g11",
    "Shift+Up+Down": "将度量单位增加/减少10倍\n::g11",
    "Ctrl+Shift+E": "将上一个效果应用于选定对象\n::g12",
    "Up": "以1%的增量增加/降低不透明度\n::g12",
    "F1": "调用帮助\n::g13",
    "F2": "剪切\n::g13",
    "F3": "复制\n::g13",
    "F4": "粘贴\n::g13",
    "F5": "显示/隐藏“画笔”面板\n::g13",
    "F6": "显示/隐藏“颜色”面板\n::g13",
    "F7": "显示/隐藏“图层”面板\n::g13",
    "F8": "创建新元件\n::g13",
    "Ctrl+F8": "显示/隐藏“信息”面板\n::g13",
    "Ctrl+F9": "显示/隐藏“渐变”面板\n::g13",
    "Ctrl+F10": "显示/隐藏“描边”面板\n::g13",
    "Ctrl+F11": "显示/隐藏“属性”面板\n::g13",
    "F12": "恢复\n::g13",
    "Shift+F5": "显示/隐藏“图形样式”面板\n::g13",
    "Shift+F6": "显示/隐藏“外观”面板\n::g13",
    "Shift+F7": "显示/隐藏“对齐”面板\n::g13",
    "Shift+F8": "显示/隐藏“变换”面板\n::g13",
    "Ctrl+Shift+F9": "显示/隐藏“路径查找器”面板\n::g13",
    "Ctrl+Shift+F10": "显示/隐藏“透明度”面板\n::g13",
    "Ctrl+Shift+F11": "显示/隐藏“符号”面板\n::g13"
  },
  "#1": {
    "Ctrl+Z": "还原\n::g1",
    "Ctrl+Shift+Z": "重做\n::g1",
    "Ctrl+X": "剪切\n::g1",
    "Ctrl+C": "复制\n::g1",
    "Ctrl+V": "粘贴\n::g1",
    "Ctrl+F": "贴在前面\n::g1",
    "Ctrl+B": "贴在后面\n::g1",
    "Ctrl+Shift+V": "原位粘贴\n::g1",
    "Alt+Shift+Ctrl": "打开“键盘快捷键”对话框\n::g1",
    "Ctrl+I": "拼写检查\n::g1",
    "Ctrl+Shift+K": "打开“颜色设置”对话框\n::g1",
    "Ctrl+K": "打开“首选项”对话框\n::g1",
    "#name": "一、文件"
  },
  "#2": {
    "Ctrl+N": "创建文档\n::g2",
    "Ctrl+Shift+N": "从模板创建文档\n::g2",
    "Alt+Ctrl+N": "在不打开“新建文档”对话框的情况下创建文档\n::g2",
    "Ctrl+O": "打开文档\n::g2",
    "Ctrl+Shift+P": "将文件置入文档\n::g2",
    "Alt+Shift+Ctrl": "打包文档\n::g2",
    "Alt+Ctrl+P": "打开“文档设置”对话框\n::g2",
    "Alt+Ctrl+O": "在AdobeBridge中浏览\n::g2",
    "Ctrl+W": "关闭文档窗口\n::g2",
    "Ctrl+S": "存储对文档所做的更改\n::g2",
    "Ctrl+Shift+S": "打开“存储为”对话框\n::g2",
    "Alt+Ctrl+S": "存储文档的副本\n::g2",
    "Ctrl+F12": "将文档存储为脚本文件\n::g2",
    "Alt+Ctrl+E": "打开“导出为多种屏幕所用格式”对话框\n::g2",
    "Ctrl+P": "打印\n::g2",
    "Ctrl+Q": "退出应用程序\t\n::g2",
    "#name": "二、编辑"
  },
  "#3": {
    "Shift+O": "画板工具\n::g3",
    "V": "选择工具\n::g3",
    "A": "直接选择工具\n::g3",
    "Y": "魔棒工具\n::g3",
    "Q": "套索工具\n::g3",
    "P": "钢笔工具\n::g3",
    "Shift": "曲率工具\t\n::g3",
    "Shift+B": "斑点画笔工具\n::g3",
    "+": "添加锚点工具\n::g3",
    "-": "删除锚点工具\n::g3",
    "Shift+C": "切换到锚点工具\n::g3",
    "T": "文字工具\n::g3",
    "Shift+T": "修饰文字工具\n::g3",
    "\\": "直线段工具\n::g3",
    "M": "矩形工具\n::g3",
    "L": "椭圆工具\n::g3",
    "B": "画笔工具\n::g3",
    "N": "铅笔工具\n::g3",
    "Shift+N": "Shaper工具\n::g3",
    "R": "旋转工具\n::g3",
    "O": "镜像工具\n::g3",
    "S": "按比例缩放工具\n::g3",
    "Shift+R": "变形工具\n::g3",
    "Shift+W": "宽度工具\n::g3",
    "E": "自由变换工具\n::g3",
    "Shift+M": "形状生成器工具\n::g3",
    "Shift+P": "透视网格工具\n::g3",
    "Shift+V": "透视选区工具\n::g3",
    "Shift+S": "符号喷枪工具\n::g3",
    "J": "柱形图工具\n::g3",
    "U": "网格工具\n::g3",
    "G": "渐变工具\n::g3",
    "I": "吸管工具\n::g3",
    "W": "混合工具\n::g3",
    "K": "实时上色工具\n::g3",
    "Shift+L": "实时上色选择工具\n::g3",
    "Shift+K": "切片工具\n::g3",
    "Shift+E": "橡皮擦工具\n::g3",
    "C": "剪刀工具\n::g3",
    "H": "抓手工具\n::g3",
    "Z": "缩放工具\n::g3",
    "Alt": "在使用“斑点画笔”工具时，切换到“平滑”工具\n::g3",
    "#name": "三、图像"
  },
  "#4": {
    "F": "在屏幕模式之间切换：正常屏幕模式、带菜单栏的全屏模式、全屏模式\n::g4",
    ".": "适合窗口中的可成像区域\n::g4",
    "Ctrl+1": "放大100%\n::g4",
    "Space": "使用“缩放工具”拖移时移动“缩放”选框\n::g4",
    "Ctrl+Space": "切换到放大模式中的“缩放工具”\n::g4",
    "Alt+Ctrl+Space": "切换到缩小模式中的“缩放工具”\n::g4",
    "Ctrl+Shift+B": "隐藏定界框\n::g4",
    "Alt+Ctrl+Shift": "浏览到上一文档组\n::g4",
    "Alt": "在水平参考线和垂直参考线之间转换\n::g4",
    "Ctrl+Shift": "释放参考线\n::g4",
    "Ctrl+H": "显示文档模板\n::g4",
    "Ctrl+Shift+H": "显示/隐藏画板\n::g4",
    "Ctrl+R": "显示/隐藏画板标尺\n::g4",
    "Ctrl+Shift+D": "显示透明网格\n::g4",
    "Alt+Ctrl+0": "在窗口中查看所有画板\n::g4",
    "Ctrl+Shift+V": "在现用画板上就地粘贴\n::g4",
    "ESC": "退出全屏模式\n::g4",
    "Shift": "在另一画板中创建画板\n::g4",
    "Ctrl": "在“画板”面板中选择多个画板\n::g4",
    "Ctrl+F6": "浏览到下一文档\n::g4",
    "Ctrl+Shift+F6": "浏览到上一文档\n::g4",
    "Alt+Ctrl+F6": "浏览到下一文档组\n::g4",
    "Ctrl+Y": "在文档的轮廓和GPU预览之间切换\n::g4",
    "Ctrl+E": "在文档的GPU和CPU预览之间切换\n::g4",
    "Alt+Shift+Ctrl": "在“叠印预览”模式下查看文档\n::g4",
    "Alt+Ctrl+Y": "在“像素预览”模式下查看文档\n::g4",
    "Ctrl+=": "放大\n::g4",
    "Ctrl+-": "缩小\n::g4",
    "Ctrl+;": "隐藏/显示参考线\n::g4",
    "Alt+Ctrl+;": "锁定/解锁参考线\n::g4",
    "Ctrl+5": "建立参考线\n::g4",
    "Alt+Ctrl+5": "释放参考线\n::g4",
    "Ctrl+U": "显示/隐藏智能参考线\n::g4",
    "Ctrl+Shift+I": "显示/隐藏透视网格\n::g4",
    "Ctrl+‘": "显示/隐藏网格\n::g4",
    "Ctrl+Shift+‘": "对齐网格\n::g4",
    "Alt+Ctrl+‘": "对齐点\n::g4",
    "#name": "四、图层"
  },
  "#5": {
    "Ctrl+‘": "切换到上次使用的选择工具（选择工具、直接选择工具或编组选择工具）\n::g5",
    "Alt": "用“套索工具”从选区减少内容\n::g5",
    "Shift": "将移动限制为45°角（使用“镜像工具”时除外）\n::g5",
    "CLock": "将套索工具的指针改为十字线\n::g5",
    "Alt+Ctrl+A": "选择现用画板中的图稿\n::g5",
    "Alt+C+O": "围绕选定对象创建裁剪标记\n::g5",
    "Ctrl+A": "全选\n::g5",
    "Ctrl+Shift+A": "取消选择\n::g5",
    "Ctrl+6": "重新选择\n::g5",
    "Alt+Ctrl+]": "选择当前所选对象上方的对象\n::g5",
    "Alt+Ctrl+[": "选择当前所选对象下方的对象\n::g5",
    "Ctrl": "在隔离模式中选择下方\n::g5",
    "Ctrl+G": "编组选定图稿\n::g5",
    "Ctrl+Shift+G": "取消选定图稿编组\n::g5",
    "Ctrl+2": "锁定所选对象\n::g5",
    "Alt+Ctrl+2": "解锁所选对象\n::g5",
    "Ctrl+3": "隐藏所选对象\n::g5",
    "Alt+Ctrl+3": "显示所有所选对象\n::g5",
    "Up+Down": "以用户定义的增量移动选区\n::g5",
    "Alt+Ctrl+Shift": "锁定所有取消选择的图稿（锁定所有未被选中的对象）\n::g5",
    "Ctrl+]": "将所选对象前移\n::g5",
    "Ctrl+Shift+]": "将所选对象移到前面\n::g5",
    "Ctrl+[": "将所选对象后移\n::g5",
    "Ctrl+Shift+[": "将所选对象移到后面\n::g5",
    "#name": "五、选择"
  },
  "#6": {
    "1": "切换透视平面、快速激活所在透视平面（快捷键按对应数字）\n::g6",
    "5": "垂直于所在平面方向移动对象（1、2、3平面）\n::g6",
    "Shift": "限制“斑点画笔”路径为水平或垂直\n::g6",
    "Space": "绘制时移动形状\n::g6",
    "Alt": "增加螺旋线长度时，从螺旋线中添加或减少螺旋\n::g6",
    "Up+Down": "从矩形网格添加或删除水平线或从极坐标网格添加或删除同心圆线\n::g6",
    "Ctrl": "改变螺旋线的衰减率\n::g6",
    "C": "将矩形网格中的垂直分隔线或极坐标网格中的同心圆分隔线的切变值按10%增加\n::g6",
    "F": "将矩形网格中的水平分隔线或极坐标网格中的径向分隔线的切变值按10%减少\n::g6",
    "Left+Right": "从矩形网格添加或删除垂直线或从极坐标网格添加或删除径向线\n::g6",
    "V": "将矩形网格中的水平分隔线或极坐标网格中的径向分隔线的切变值按10%增加\n::g6",
    "X": "将矩形网格中的垂直分隔线或极坐标网格中的同心圆分隔线的切变值按10%减少\n::g6",
    "[": "增大“斑点画笔”的尺寸\n::g6",
    "]": "减小“斑点画笔”的尺寸\n::g6",
    "Shift+D": "在多种绘图模式之间切换\n::g6",
    "Ctrl+J": "连接两个或更多路径\n::g6",
    "Alt+Ctrl+J": "平均两个或更多路径\n::g6",
    "Ctrl+Shift+Alt": "创建角点连接或平滑连接\n::g6",
    "Ctrl+8": "创建复合路径\n::g6",
    "Alt+Shift+Ctrl": "释放复合路径\n::g6",
    "Ctrl+Shift+F8": "编辑图案\n::g6",
    "Shift+P": "透视网格工具\n::g6",
    "Shift+V": "透视选区工具\n::g6",
    "Ctrl+Shift+I": "透视网格\n::g6",
    "Ctrl+Alt": "在透视中复制对象\n::g6",
    "Ctrl+D": "在透视中重复变换对象\n::g6",
    "#name": "六、画布和显示操作"
  },
  "#7": {
    "Left+Right": "向右或向左移动一个字符\n::g7",
    "Up+Down": "向上或向下移动一行\n::g7",
    "Ctrl+Left+Right": "向右或向左移动一个单词\n::g7",
    "Ctrl+Up+Down": "向上或向下移动一个段落\n::g7",
    "Shift+Ctrl": "选择前一个或后一个段落\n::g7",
    "Shift": "横排文字/竖排文字切换\n::g7",
    "Ctrl+Shift+L": "段落向左对齐、右对齐或居中对齐\n::g7",
    "Ctrl+Shift+J": "左对齐文本\n::g7",
    "Ctrl+Shift+F": "全部两端对齐\n::g7",
    "Alt+Shift+Ctrl": "插入窄间隔\n::g7",
    "Shift+Enter": "插入软回车\n::g7",
    "Alt+Ctrl+K": "选择字距调整值\n::g7",
    "Ctrl+Shift+X": "将文字水平、垂直缩放重置为100%\n::g7",
    "Ctrl+Shift+.": "增加或减小字体大小\n::g7",
    "Alt+Ctrl+Shift": "逐步增加或减小字体大小\n::g7",
    "Alt+Up+Down": "增加或减小行距（横排文本）\n::g7",
    "Alt+Left+Right": "增加或减小行距（直排文本）\n::g7",
    "Alt+Ctrl+Q": "将字符间距调整/字偶间距调整重置为0\n::g7",
    "Alt": "路径文字/区域文字切换\n::g7",
    "Ctrl+Alt": "将字偶和字符间距调整增大或减小五倍\n::g7",
    "Alt+Shift": "增加或减少基线偏移\n::g7",
    "Ctrl+Shift+O": "创建轮廓（文字转曲）\n::g7",
    "Ctrl+T": "打开“字符”面板\n::g7",
    "Alt+Ctrl+T": "打开“段落”面板\n::g7",
    "Ctrl+Shift+T": "打开“制表符刻度标尺选项卡”面板\n::g7",
    ",": "区域文字自适应高度/手动调节高度转换\n::g7",
    "Alt+G": "插©版权符\n::g7",
    "Alt+R": "插®注册商标符\n::g7",
    "Alt+2": "插入™商标符\n::g7",
    "Alt+6": "插入§分解符\n::g7",
    "Alt+7": "插入¶段落符号\n::g7",
    "Alt+8": "删除光标左侧一个字符\n::g7",
    "Alt+;": "插入…单省略号（中英文输入下皆可）\n::g7",
    "Shift+6": "插入……省略号（仅限中文输入下）\n::g7",
    "Alt+-": "插入–半角破折号\n::g7",
    "Alt+Shift+-": "插入—全角破折号\n::g7",
    "Alt+[": "插入“左双引号\n::g7",
    "Alt+]": "插入‘左单引号\n::g7",
    "Alt+Shift+[": "插入”右双引号\n::g7",
    "Alt+Shift+]": "插入’右单引号\n::g7",
    "Ctrl+Shift+=": "上标\n::g7",
    "Alt+4": "光标移至行首\n::g7",
    "Alt+5": "光标移至行尾\n::g7",
    "Alt+9": "处插入1个制表符\n::g7",
    "Ctrl+Shift+-": "插入自由连字符（仅限英文输入下）\n::g7",
    "Ctrl+Shift+M": "插入全角空格\n::g7",
    "Ctrl+Shift+N": "插入半角空格\n::g7",
    "Alt+Ctrl+I": "显示/隐藏【隐藏字符】\n::g7",
    "#name": "七、选择工具"
  },
  "#8": {
    "Alt": "抹除使用形状生成器工具创建的不必要的闭合区域\n::g8",
    "Space": "用“钢笔工具”绘图时，移动当前锚点\n::g8",
    "Shift+Alt": "用“美工刀工具”在45°或90°剪切\n::g8",
    "Shift+M": "选择形状生成器工具\n::g8",
    "Shift": "减小符号强度（使用符号工具时）\n::g8",
    "Alt+Ctrl+B": "混合对象\n::g8",
    "Alt+Shift+Ctrl": "完成向混合添加对象\n::g8",
    "Alt+Ctrl+Shift": "使用变形封套扭曲对象\n::g8",
    "Alt+Ctrl+M": "使用网格作为封套形状来扭曲对象\n::g8",
    "Alt+Ctrl+C": "使用其他对象作为封套形状来扭曲对象\n::g8",
    "#name": "八、画笔和涂抹工具"
  },
  "#9": {
    "Shift+Enter": "应用一个值并保持专注于编辑区\n::g9",
    "Alt+Enter": "应用一个值并复制对象\n::g9",
    "Ctrl+Enter": "对宽度或高度应用一个值并按等比缩放\n::g9",
    "#name": "九、渐变和涂抹工具"
  }
}