{
  "#version": "3.0.0",
  "#config": {
    "uimode": "single",
    "layout": "pc",
    "layers": "10",
    "view": "k",
    "kbsize": 2,
    "kbext": true,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "dot",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "g1": [
        "#e949ea",
        "一、文件"
      ],
      "g2": [
        "#915fff",
        "二、编辑"
      ],
      "g3": [
        "#69826c",
        "三、图像"
      ],
      "g4": [
        "#61c273",
        "四、图层"
      ],
      "g5": [
        "#d174eb",
        "五、选择"
      ],
      "g6": [
        "#db937f",
        "六、画布和显示操作"
      ],
      "g7": [
        "#98b2db",
        "七、选择工具"
      ],
      "g8": [
        "#b3c10f",
        "八、画笔和涂抹工具"
      ],
      "g9": [
        "#b3dace",
        "九、渐变和涂抹工具"
      ],
      "g10": [
        "#7ac5f0",
        "十、文本工具"
      ],
      "g11": [
        "#2f685e",
        "十一、滤镜和效果"
      ],
      "g12": [
        "#028a5e",
        "十二、其他"
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": true,
    "show_cnt": true,
    "list_by": "group"
  },
  "#10": {
    "Win+Shift+N": "打开OneNote\n::g10",
    "Ctrl+O": "打开一个笔记本\n::g10",
    "Ctrl+Alt+Shift": "打开分区\n::g10",
    "Ctrl+T": "创建一个新分区\n::g10",
    "Ctrl+Tab": "转至下一分区\n::g10",
    "Ctrl+Shift+Tab": "转至上一分区\n::g10",
    "Ctrl+PgDn": "转至分区中的下一页\n::g10",
    "Ctrl+PgUp": "转至分区中的上一页\n::g10",
    "Alt+Home": "转至分区中的第一页\n::g10",
    "Alt+End": "转至分区中的最后一页\n::g10",
    "Alt+PgUp": "转至当前可见的一组页选项卡中的第一页\n::g10",
    "Alt+PgDn": "转至当前可见的一组页选项卡中的最后一页\n::g10",
    "Ctrl+Alt+M": "移动或复制当前页\n::g10",
    "Ctrl+Alt+G": "将焦点放在当前页选项卡上\n::g10",
    "Ctrl+Shift+A": "选择当前页选项卡\n::g10",
    "Ctrl+Shift+G": "移动当前分区\n::g10",
    "Ctrl+G": "切换到导航栏上的另一个笔记本\n::g10",
    "#name": "十、文本工具"
  },
  "#11": {
    "Ctrl+E": "更改搜索范围\n::g11",
    "Down": "在搜索所有笔记本时，预览下一个结果\n::g11",
    "Enter": "搜索所有笔记本时，转到所选结果并关闭搜\n::g11",
    "Alt+O": "打开“搜索结果”窗格\n::g11",
    "Ctrl+F": "搜索当前页\n::g11",
    "Enter+F3": "在搜索当前页时，移到下一个结果\n::g11",
    "Shift+F3": "在搜索当前页时，移到上一个结果\n::g11",
    "ESC": "关闭搜索并返回到页面\n::g11",
    "#name": "十一、滤镜和效果"
  },
  "#12": {
    "Ctrl+Shift+E": "在电子邮件中发送所选页面\n::g12",
    "Ctrl+Shift+1": "从所选笔记创建“今日Outlook”任务\n::g12",
    "Ctrl+Shift+2": "从所选笔记创建“明天Outlook”任务\n::g12",
    "Ctrl+Shift+3": "从所选笔记创建本周Outlook任务\n::g12",
    "Ctrl+Shift+4": "从所选笔记创建下周Outlook任务\n::g12",
    "Ctrl+Shift+5": "从所选笔记创建无日期Outlook任务\n::g12",
    "Ctrl+Shift+K": "打开所选Outlook任务\n::g12",
    "Ctrl+Shift+9": "将所选Outlook任务标记为完成\n::g12",
    "Ctrl+Shift+0": "删除所选Outlook任务\n::g12",
    "Shift+F9": "同步当前共享笔记本中的更改\n::g12",
    "F9": "同步所有共享笔记本中的更改\n::g12",
    "Ctrl+Q": "将当前页标记为“未读”\n::g12",
    "Ctrl+Alt+L": "锁定所有受密码保护的分区\n::g12",
    "#name": "十二、其他"
  },
  "#0": {
    "Ctrl+M": "打开新的OneNote窗口\n::g9",
    "Ctrl+Shift+M": "创建快速笔记\n::g9",
    "Alt+Ctrl+D": "停靠OneNote窗口\n::g1",
    "Ctrl+Z": "撤消前一个操作\n::g1",
    "Ctrl+Y": "如果可能，请重做上一个操作\n::g1",
    "Ctrl+A": "选择所有项\n::g9",
    "Ctrl+X": "剪切所选的文字或项\n::g1",
    "Ctrl+C": "将所选文本或项复制到剪贴板\n::g1",
    "Ctrl+V": "粘贴剪贴板的内容\n::g1",
    "Home": "转至行的开头\n::g9",
    "End": "转至行的结尾\n::g9",
    "Ctrl+Left": "向左移动一个字词\n::g1",
    "Ctrl+Right": "向右移动一个字词\n::g1",
    "Back": "向左删除一个字符\n::g1",
    "Del": "删除所选笔记或对象\n::g5",
    "Ctrl+Back": "向左删除一个字词\n::g1",
    "Ctrl+Del": "向右删除一个字词\n::g1",
    "Shift+Enter": "插入换行符\n::g3",
    "F7": "检查拼写\n::g1",
    "Shift+F7": "打开当前选定单词的同义词库\n::g1",
    "Shift+F10": "显示当前焦点对象的上下文菜单\n::g1",
    "Ctrl+Shift+W": "执行信息栏显示在页面顶部时建议的操作\n::g1",
    "Alt+Ctrl+P": "播放所选录音\n::g1",
    "Alt+Ctrl+S": "停止音频录制播放\n::g1",
    "Alt+Ctrl+Y": "向后跳过当前音频录制10秒\n::g1",
    "Alt+Ctrl+U": "向前跳过当前音频录制10秒\n::g1",
    "Alt+Ctrl+H": "突出显示所选文本\n::g2",
    "Ctrl+K": "插入超链接\n::g2",
    "Ctrl+Shift+C": "(格式刷)复制所选文本的格式\n::g2",
    "Ctrl+Shift+V": "将格式粘贴到所选文本(格式刷)\n::g2",
    "‘": "在表中的当前行上方创建一行\n::g4",
    "Ctrl+B": "应用或删除粗体格式\n::g2",
    "Ctrl+I": "应用或删除斜体格式\n::g2",
    "Ctrl+U": "应用或删除下划线格式\n::g2",
    "Ctrl+-": "应用或删除删除线格式\n::g2",
    "Ctrl+Shift+=": "应用或删除上标格式\n::g2",
    "Ctrl+=": "应用或删除下标格式\n::g2",
    "Ctrl+.": "应用或删除项目符号列表格式\n::g2",
    "Ctrl+/": "应用或删除编号列表格式\n::g2",
    "Alt+Ctrl+1": "将“标题1”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+2": "将“标题2”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+3": "将“标题3”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+4": "将“标题4”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+5": "将“标题5”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+6": "将“标题6”样式应用于当前笔记\n::g2",
    "Ctrl+Shift+N": "清除应用于所选文字的所有格式。(应用普通样式。)\n::g2",
    "Ctrl+Shift+Right": "增加段落缩进\n::g2",
    "Alt+Shift+Left": "增加段落缩进\n::g5",
    "Ctrl+L": "将段落向左对齐\n::g2",
    "Ctrl+R": "将段落向右对齐\n::g2",
    "Ctrl+Shift": "在页面导航窗格中展开或折叠页面组\n::g9",
    "Ctrl+Shift+R": "显示或隐藏当前页上的规则行\n::g2",
    "Alt+N+F": "在当前页上插入文档或文件\n::g3",
    "Alt+N+O": "在当前页上将文档或文件作为打印输出插入\n::g3",
    "Alt+Shift+P": "激活Windows10上的高对比度模式或Windows11上的一个对比度主题时，显示或隐藏当前页上的文档打印输出\n::g3",
    "Alt+N+P": "插入来自文件的图片\n::g3",
    "Alt+N+S": "插入贴纸\n::g3",
    "Shift+Win+S": "插入屏幕剪辑\n::g3",
    "Alt+Shift+D": "插入当前日期\n::g3",
    "Alt+Shift+F": "插入当前日期和时间\n::g3",
    "Alt+Shift+T": "插入当前时间\n::g3",
    "Alt+=": "开始一个数学等式或将所选文字转换为数学等式\n::g3",
    "Tab": "在从右向左的文本中将缩进增加一个级别\n::g8",
    "Enter": "搜索所有笔记本时，转到所选结果并关闭搜\n::g11",
    "Ctrl+Enter": "在当前行下方插入一行\n::g4",
    "Alt+Enter": "在表中的同一单元格中创建另一个段落\n::g4",
    "Alt+Ctrl+R": "在表中当前列的右侧创建一列\n::g4",
    "Alt+Ctrl+E": "在表中当前列的左侧创建一列\n::g4",
    "Shift+End": "从当前光标位置选择到行的末尾\n::g5",
    "Shift+Down": "选择整行\n::g5",
    "Ctrl+Shift+T": "移动到页面标题\n::g9",
    "ESC": "关闭搜索并返回到页面\n::g11",
    "Alt+Shift+Up": "在页面导航窗格中向上移动所选页面\n::g9",
    "Alt+Shift+Down": "在页面导航窗格中向下移动所选页面\n::g9",
    "Alt+Shift+Right": "减少段落缩进\n::g5",
    "Ctrl+Shift+-": "选择当前段落及其下属段落\n::g5",
    "Alt+Left": "转到访问的上一页\n::g9",
    "Alt+Right": "如果可能，请转到访问的下一页\n::g9",
    "Ctrl+1": "应用、选择或清除“ToDo”标记\n::g6",
    "Ctrl+2": "应用或清除“重要”标记\n::g6",
    "Ctrl+3": "应用或清除“问题”标记\n::g6",
    "Ctrl+4": "应用或清除“以后记住”标记\n::g6",
    "Ctrl+5": "应用或清除“定义”标记\n::g6",
    "Ctrl+6": "应用或清除“突出显示”标记\n::g6",
    "Ctrl+7": "应用或清除“联系人”标记\n::g6",
    "Ctrl+8": "应用或清除“地址”标记\n::g6",
    "Ctrl+9": "应用或清除“电话号码”标记\n::g6",
    "Ctrl+0": "删除所有选定的笔记标记\n::g6",
    "Alt+Shift+1": "将所选大纲折叠到级别1\n::g7",
    "Alt+Shift+2": "将大纲展开到级别2\n::g7",
    "Alt+Shift+3": "将大纲展开到级别3\n::g7",
    "Alt+Shift+4": "将大纲展开到级别4\n::g7",
    "Alt+Shift+5": "将大纲展开到级别5\n::g7",
    "Alt+Shift+6": "将大纲展开到级别6\n::g7",
    "Alt+Shift+7": "将大纲展开到级别7\n::g7",
    "Alt+Shift+8": "将大纲展开到级别8\n::g7",
    "Alt+Shift+9": "将大纲展开到级别9\n::g7",
    "Alt+Shift+0": "展开大纲的所有级别\n::g7",
    "Alt+Shift+=": "展开所选标题\n::g7",
    "Alt+Shift+-": "折叠所选的展开轮廓\n::g7",
    "Shift+Tab": "在从右向左的文本中将缩进减少一个级别\n::g8",
    "+Alt+Shift+": "展开所选的折叠轮廓\n::g7",
    "F11": "启用或禁用整页视图\n::g9",
    "Ctrl+P": "打印当前页\n::g9",
    "Ctrl+N": "在选定分区的末尾添加一个新页\n::g9",
    "Ctrl+Shift+[": "增加页面导航窗格的宽度\n::g9",
    "Ctrl+Shift+]": "减小页面导航窗格的宽度\n::g9",
    "Alt+Ctrl+[": "减少页面导航窗格中当前页的缩进级别\n::g9",
    "Alt+Ctrl+]": "增加页面导航窗格中当前页的缩进级别\n::g9",
    "Ctrl+Shift+Alt": "在当前页之下创建一个新子页\n::g9",
    "Ctrl+Shift+A": "选择当前页选项卡\n::g10",
    "Alt+PgUp": "转至当前可见的一组页选项卡中的第一页\n::g10",
    "Alt+PgDn": "转至当前可见的一组页选项卡中的最后一页\n::g10",
    "PgUp": "在当前页中向上滚动\n::g9",
    "PgDn": "在当前页中向下滚动\n::g9",
    "Ctrl+Home": "滚动到当前页的顶部\n::g9",
    "Ctrl+End": "滚动到当前页的底部\n::g9",
    "Ctrl+Down": "转至下一段落\n::g9",
    "Ctrl+Up": "转至上一段落\n::g9",
    "Alt+Ctrl+Up": "将光标在当前页上移，或向上展开页面\n::g9",
    "Alt+Ctrl+Down": "将光标在当前页上向下移动，或向下展开页面\n::g9",
    "Alt+Ctrl+Left": "将光标向左移动当前页，或向左展开页面\n::g9",
    "Alt+Ctrl+Right": "将光标向右移动当前页，或向右展开页面\n::g9",
    "Alt+Down": "转至下一个笔记容器\n::g9",
    "+Alt+Ctrl+": "放大\n::g9",
    "Alt+Ctrl+-": "缩小\n::g9",
    "Ctrl+S": "同步笔记本\n::g9",
    "Shift+Win+N": "打开OneNote\n::g10",
    "Ctrl+O": "打开一个笔记本\n::g10",
    "Alt+Ctrl+Shift": "打开分区\n::g10",
    "Ctrl+T": "创建一个新分区\n::g10",
    "Ctrl+Tab": "转至下一分区\n::g10",
    "Ctrl+Shift+Tab": "转至上一分区\n::g10",
    "Ctrl+PgDn": "转至分区中的下一页\n::g10",
    "Ctrl+PgUp": "转至分区中的上一页\n::g10",
    "Alt+Home": "转至分区中的第一页\n::g10",
    "Alt+End": "转至分区中的最后一页\n::g10",
    "Alt+Ctrl+M": "移动或复制当前页\n::g10",
    "Alt+Ctrl+G": "将焦点放在当前页选项卡上\n::g10",
    "Ctrl+Shift+G": "移动当前分区\n::g10",
    "Ctrl+G": "切换到导航栏上的另一个笔记本\n::g10",
    "Ctrl+E": "更改搜索范围\n::g11",
    "Down": "在搜索所有笔记本时，预览下一个结果\n::g11",
    "Alt+O": "打开“搜索结果”窗格\n::g11",
    "Ctrl+F": "搜索当前页\n::g11",
    "Enter+F3": "在搜索当前页时，移到下一个结果\n::g11",
    "Shift+F3": "在搜索当前页时，移到上一个结果\n::g11",
    "Ctrl+Shift+E": "在电子邮件中发送所选页面\n::g12",
    "Ctrl+Shift+1": "~ 从所选笔记创建“今日Outlook”任务\n::g12",
    "Ctrl+Shift+2": "从所选笔记创建“明天Outlook”任务\n::g12",
    "Ctrl+Shift+3": "从所选笔记创建本周Outlook任务\n::g12",
    "Ctrl+Shift+4": "从所选笔记创建下周Outlook任务\n::g12",
    "Ctrl+Shift+5": "从所选笔记创建无日期Outlook任务\n::g12",
    "Ctrl+Shift+K": "打开所选Outlook任务\n::g12",
    "Ctrl+Shift+9": "将所选Outlook任务标记为完成\n::g12",
    "Ctrl+Shift+0": "删除所选Outlook任务\n::g12",
    "Shift+F9": "同步当前共享笔记本中的更改\n::g12",
    "F9": "同步所有共享笔记本中的更改\n::g12",
    "Ctrl+Q": "将当前页标记为“未读”\n::g12",
    "Alt+Ctrl+L": "锁定所有受密码保护的分区\n::g12"
  },
  "#1": {
    "Ctrl+M": "打开新的OneNote窗口\n::g1",
    "Ctrl+Shift+M": "创建快速笔记\n::g1",
    "Alt+Ctrl+D": "停靠OneNote窗口\n::g1",
    "Ctrl+Z": "撤消前一个操作\n::g1",
    "Ctrl+Y": "如果可能，请重做上一个操作\n::g1",
    "Ctrl+A": "选择当前页上的所有项目\n::g1",
    "Ctrl+X": "剪切所选的文字或项\n::g1",
    "Ctrl+C": "将所选文本或项复制到剪贴板\n::g1",
    "Ctrl+V": "粘贴剪贴板的内容\n::g1",
    "Home": "移至行的开始\n::g1",
    "End": "移至行的末尾\n::g1",
    "Ctrl+Left": "向左移动一个字词\n::g1",
    "Ctrl+Right": "向右移动一个字词\n::g1",
    "Back": "向左删除一个字符\n::g1",
    "Del": "向右删除一个字符\n::g1",
    "Ctrl+Back": "向左删除一个字词\n::g1",
    "Ctrl+Del": "向右删除一个字词\n::g1",
    "Shift+Enter": "插入一个换行符而不开始一个新段落\n::g1",
    "F7": "检查拼写\n::g1",
    "Shift+F7": "打开当前选定单词的同义词库\n::g1",
    "Shift+F10": "显示当前焦点对象的上下文菜单\n::g1",
    "Ctrl+Shift+W": "执行信息栏显示在页面顶部时建议的操作\n::g1",
    "Alt+Ctrl+P": "播放所选录音\n::g1",
    "Alt+Ctrl+S": "停止音频录制播放\n::g1",
    "Alt+Ctrl+Y": "向后跳过当前音频录制10秒\n::g1",
    "Alt+Ctrl+U": "向前跳过当前音频录制10秒\n::g1",
    "#name": "一、文件"
  },
  "#2": {
    "Alt+Ctrl+H": "突出显示所选文本\n::g2",
    "Ctrl+K": "插入超链接\n::g2",
    "Ctrl+Shift+C": "(格式刷)复制所选文本的格式\n::g2",
    "Ctrl+Shift+V": "将格式粘贴到所选文本(格式刷)\n::g2",
    "‘": "打开超链接\n::g2",
    "Ctrl+B": "应用或删除粗体格式\n::g2",
    "Ctrl+I": "应用或删除斜体格式\n::g2",
    "Ctrl+U": "应用或删除下划线格式\n::g2",
    "Ctrl+-": "应用或删除删除线格式\n::g2",
    "Ctrl+Shift+=": "应用或删除上标格式\n::g2",
    "Ctrl+=": "应用或删除下标格式\n::g2",
    "Ctrl+.": "应用或删除项目符号列表格式\n::g2",
    "Ctrl+/": "应用或删除编号列表格式\n::g2",
    "Alt+Ctrl+1": "将“标题1”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+2": "将“标题2”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+3": "将“标题3”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+4": "将“标题4”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+5": "将“标题5”样式应用于当前笔记\n::g2",
    "Alt+Ctrl+6": "将“标题6”样式应用于当前笔记\n::g2",
    "Ctrl+Shift+N": "清除应用于所选文字的所有格式。(应用普通样式。)\n::g2",
    "Ctrl+Shift+Right": "增加段落缩进\n::g2",
    "Alt+Shift+Left": "减少段落缩进\n::g2",
    "Ctrl+L": "将段落向左对齐\n::g2",
    "Ctrl+R": "将段落向右对齐\n::g2",
    "Ctrl+Shift": "缩小所选文本的字号\n::g2",
    "Ctrl+Shift+R": "显示或隐藏当前页上的规则行\n::g2",
    "#name": "二、编辑"
  },
  "#3": {
    "Alt+N+F": "在当前页上插入文档或文件\n::g3",
    "Alt+N+O": "在当前页上将文档或文件作为打印输出插入\n::g3",
    "Alt+Shift+P": "激活Windows10上的高对比度模式或Windows11上的一个对比度主题时，显示或隐藏当前页上的文档打印输出\n::g3",
    "Alt+N+P": "插入来自文件的图片\n::g3",
    "Alt+N+S": "插入贴纸\n::g3",
    "Shift+Win+S": "插入屏幕剪辑\n::g3",
    "Alt+Shift+D": "插入当前日期\n::g3",
    "Alt+Shift+F": "插入当前日期和时间\n::g3",
    "Alt+Shift+T": "插入当前时间\n::g3",
    "Shift+Enter": "插入换行符\n::g3",
    "Alt+=": "开始一个数学等式或将所选文字转换为数学等式\n::g3",
    "#name": "三、图像"
  },
  "#4": {
    "Tab": "创建新单元格或行\n::g4",
    "Enter": "当位于表的最后一个单元格中时创建另一行\n::g4",
    "Ctrl+Enter": "在当前行下方插入一行\n::g4",
    "Alt+Enter": "在表中的同一单元格中创建另一个段落\n::g4",
    "Alt+Ctrl+R": "在表中当前列的右侧创建一列\n::g4",
    "Alt+Ctrl+E": "在表中当前列的左侧创建一列\n::g4",
    "‘": "在表中的当前行上方创建一行\n::g4",
    "Del": "删除表中的当前空行\n::g4",
    "#name": "四、图层"
  },
  "#5": {
    "Ctrl+A": "选择当前页上的所有项目\n::g5",
    "Shift+End": "从当前光标位置选择到行的末尾\n::g5",
    "Shift+Down": "选择整行\n::g5",
    "Ctrl+Shift+T": "跳转到页面的标题并选择它\n::g5",
    "ESC": "取消选择大纲或页面\n::g5",
    "Alt+Shift+Up": "将所选段落向上移动\n::g5",
    "Alt+Shift+Down": "将所选段落向下移动\n::g5",
    "Alt+Shift+Left": "增加段落缩进\n::g5",
    "Alt+Shift+Right": "减少段落缩进\n::g5",
    "Ctrl+Shift+-": "选择当前段落及其下属段落\n::g5",
    "Del": "删除所选笔记或对象\n::g5",
    "Home": "移至行的开始\n::g5",
    "End": "移至行的末尾\n::g5",
    "Alt+Left": "返回访问的上一页\n::g5",
    "Alt+Right": "向前转到访问的下一页\n::g5",
    "#name": "五、选择"
  },
  "#6": {
    "Ctrl+1": "应用、选择或清除“ToDo”标记\n::g6",
    "Ctrl+2": "应用或清除“重要”标记\n::g6",
    "Ctrl+3": "应用或清除“问题”标记\n::g6",
    "Ctrl+4": "应用或清除“以后记住”标记\n::g6",
    "Ctrl+5": "应用或清除“定义”标记\n::g6",
    "Ctrl+6": "应用或清除“突出显示”标记\n::g6",
    "Ctrl+7": "应用或清除“联系人”标记\n::g6",
    "Ctrl+8": "应用或清除“地址”标记\n::g6",
    "Ctrl+9": "应用或清除“电话号码”标记\n::g6",
    "Ctrl+0": "删除所有选定的笔记标记\n::g6",
    "#name": "六、画布和显示操作"
  },
  "#7": {
    "Alt+Shift+1": "将所选大纲折叠到级别1\n::g7",
    "Alt+Shift+2": "将大纲展开到级别2\n::g7",
    "Alt+Shift+3": "将大纲展开到级别3\n::g7",
    "Alt+Shift+4": "将大纲展开到级别4\n::g7",
    "Alt+Shift+5": "将大纲展开到级别5\n::g7",
    "Alt+Shift+6": "将大纲展开到级别6\n::g7",
    "Alt+Shift+7": "将大纲展开到级别7\n::g7",
    "Alt+Shift+8": "将大纲展开到级别8\n::g7",
    "Alt+Shift+9": "将大纲展开到级别9\n::g7",
    "Alt+Shift+0": "展开大纲的所有级别\n::g7",
    "Alt+Shift+=": "展开所选标题\n::g7",
    "Alt+Shift+-": "折叠所选的展开轮廓\n::g7",
    "Tab": "将缩进量增加一个级别\n::g7",
    "Shift+Tab": "将缩进减少一个级别\n::g7",
    "+Alt+Shift+": "展开所选的折叠轮廓\n::g7",
    "#name": "七、选择工具"
  },
  "#8": {
    "Ctrl+Shift": "设置从右向左的书写方向\n::g8",
    "Tab": "在从右向左的文本中将缩进增加一个级别\n::g8",
    "Shift+Tab": "在从右向左的文本中将缩进减少一个级别\n::g8",
    "#name": "八、画笔和涂抹工具"
  },
  "#9": {
    "F11": "启用或禁用整页视图\n::g9",
    "Ctrl+M": "打开新的OneNote窗口\n::g9",
    "Ctrl+Shift+M": "创建快速笔记\n::g9",
    "Ctrl+Shift": "在页面导航窗格中展开或折叠页面组\n::g9",
    "Ctrl+P": "打印当前页\n::g9",
    "Ctrl+N": "在选定分区的末尾添加一个新页\n::g9",
    "Ctrl+Shift+[": "增加页面导航窗格的宽度\n::g9",
    "Ctrl+Shift+]": "减小页面导航窗格的宽度\n::g9",
    "Alt+Ctrl+[": "减少页面导航窗格中当前页的缩进级别\n::g9",
    "Alt+Ctrl+]": "增加页面导航窗格中当前页的缩进级别\n::g9",
    "Ctrl+Shift+Alt": "在当前页之下创建一个新子页\n::g9",
    "Ctrl+A": "选择所有项\n::g9",
    "Ctrl+Shift+A": "选择当前页\n::g9",
    "Alt+Shift+Up": "在页面导航窗格中向上移动所选页面\n::g9",
    "Alt+Shift+Down": "在页面导航窗格中向下移动所选页面\n::g9",
    "Ctrl+Shift+T": "移动到页面标题\n::g9",
    "Alt+PgUp": "转到页面导航窗格中当前可见的页面集中的第一页\n::g9",
    "Alt+PgDn": "转到页面导航窗格中当前可见的页面集中的最后一页\n::g9",
    "PgUp": "在当前页中向上滚动\n::g9",
    "PgDn": "在当前页中向下滚动\n::g9",
    "Ctrl+Home": "滚动到当前页的顶部\n::g9",
    "Ctrl+End": "滚动到当前页的底部\n::g9",
    "Ctrl+Down": "转至下一段落\n::g9",
    "Ctrl+Up": "转至上一段落\n::g9",
    "Alt+Ctrl+Up": "将光标在当前页上移，或向上展开页面\n::g9",
    "Alt+Ctrl+Down": "将光标在当前页上向下移动，或向下展开页面\n::g9",
    "Alt+Ctrl+Left": "将光标向左移动当前页，或向左展开页面\n::g9",
    "Alt+Ctrl+Right": "将光标向右移动当前页，或向右展开页面\n::g9",
    "Alt+Down": "转至下一个笔记容器\n::g9",
    "Home": "转至行的开头\n::g9",
    "End": "转至行的结尾\n::g9",
    "Alt+Left": "转到访问的上一页\n::g9",
    "Alt+Right": "如果可能，请转到访问的下一页\n::g9",
    "+Alt+Ctrl+": "放大\n::g9",
    "Alt+Ctrl+-": "缩小\n::g9",
    "Ctrl+S": "同步笔记本\n::g9",
    "#name": "九、渐变和涂抹工具",
    "Alt+I": "~ 测试",
    "Alt+Ctrl+I": "测试2",
    "Alt+Ctrl+Shift+I": "~ 测试3"
  }
}