{
  "#version": "3.0.0",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": 10,
    "view": "k",
    "kbsize": 2,
    "kbext": false,
    "kbhint": true,
    "showall": false,
    "ks1": 0.75,
    "kw1": 3,
    "kh1": 3,
    "ks2": 0.9,
    "kw2": 5,
    "kh2": 5,
    "kt2": 0.75,
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": 0.7,
    "mod-ds2": 0.5,
    "groups": {
      "g1": [
        "#e949ea",
        "一、文件"
      ],
      "g2": [
        "#915fff",
        "二、编辑"
      ],
      "g3": [
        "#69826c",
        "三、图像"
      ],
      "g4": [
        "#61c273",
        "四、图层"
      ],
      "g5": [
        "#d174eb",
        "五、选择"
      ],
      "g6": [
        "#db937f",
        "六、画布和显示操作"
      ],
      "g7": [
        "#98b2db",
        "七、选择工具"
      ],
      "g8": [
        "#b3c10f",
        "八、画笔和涂抹工具"
      ],
      "g9": [
        "#b3dace",
        "九、渐变和涂抹工具"
      ],
      "g10": [
        "#7ac5f0",
        "十、文本工具"
      ],
      "g11": [
        "#2f685e",
        "十一、滤镜和效果"
      ],
      "g12": [
        "#028a5e",
        "十二、其他"
      ]
    },
    "comment-font-size": 0.9,
    "show_comment": false,
    "show_cnt": true,
    "list_by": "key"
  },
  "#10": {
    "T": "水平文本工具\n::g10",
    "Shift+T": "垂直文本工具\n::g10",
    "Ctrl+Shift+\\": "切换文本工具输入方向\n::g10",
    "Ctrl+Shift+P": "更改字体\n::g10",
    "Ctrl+Shift": "减少字体大小\n::g10",
    "#name": "十、文本工具"
  },
  "#11": {
    "Ctrl+F": "模糊滤镜选项\n::g11",
    "Ctrl+Shift+B": "油漆滤镜选项\n::g11",
    "Ctrl+Alt+F": "滤镜库选项\n::g11",
    "Ctrl+Shift+N": "增加图层样式\n::g11",
    "/": "激活/取消激活样式选项\n::g11",
    "#name": "十一、滤镜和效果"
  },
  "#12": {
    "Tab": "显示/隐藏工具栏\n::g12",
    "Shift+Tab": "显示示/隐藏面板\n::g12",
    "Ctrl+H": "显示/隐藏路径\n::g12",
    "Ctrl+Shift+I": "显示/隐藏信息面板\n::g12",
    "Ctrl+;": "显示/隐藏参考线\n::g12",
    "Ctrl+‘": "显示/隐藏网格\n::g12",
    "Ctrl+R": "显示/隐藏标尺\n::g12",
    "D": "打开颜色选择器\n::g12",
    "D+X": "切换前景色和背景色为默认黑白\n::g12",
    "I": "取样器工具\n::g12",
    "Shift+W": "魔棒工具选项\n::g12",
    "C": "裁煎工具\n::g12",
    "R": "旋转视图工具\n::g12",
    "Ctrl": "显示/隐藏网格和参考线\n::g12",
    "#name": "十二、其他"
  },
  "#0": {
    "Ctrl+N": "新建\n::g1",
    "Ctrl+O": "打开\n::g1",
    "Alt+Ctrl+O": "打开为\n::g1",
    "Ctrl+W": "关闭\n::g1",
    "Ctrl+S": "保存\n::g1",
    "Alt+Ctrl+S": "另存为\n::g1",
    "Alt+Ctrl+P": "页面设置\n::g1",
    "Ctrl+P": "打印\n::g1",
    "Ctrl+Q": "退出\n::g1",
    "Ctrl+Z": "撤销\n::g2",
    "Alt+Ctrl+Z": "退取\n::g2",
    "Ctrl+X": "剪切\n::g2",
    "Ctrl+C": "复制\n::g2",
    "Ctrl+Shift+C": "合并复制\n::g2",
    "Ctrl+V": "粘贴\n::g2",
    "Ctrl+Shift+V": "原味粘贴\n::g2",
    "Ctrl+T": "自由变换\n::g2",
    "Ctrl+Shift+T": "再次变换\n::g2",
    "Ctrl+Shift+K": "色彩设置\n::g2",
    "Ctrl+L": "调整->色阶\n::g3",
    "Ctrl+Shift+L": "调整->自动色阶\n::g3",
    "Ctrl+Shift+Alt": "调整->自动对比度\n::g3",
    "Ctrl+M": "调整->曲线\n::g3",
    "Ctrl+B": "调整->色彩平衡\n::g3",
    "Ctrl+U": "调整->色相/饱和度\n::g3",
    "Ctrl+Shift+U": "调整->去色\n::g3",
    "Ctrl+I": "调整->反向\n::g3",
    "Alt+Ctrl+X": "提取\n::g3",
    "Ctrl+Shift+X": "液化\n::g3",
    "Ctrl+Shift+N": "增加图层样式\n::g11",
    "Ctrl+J": "新建通过复制的图层\n::g4",
    "Ctrl+G": "与前一图层编组\n::g4",
    "Ctrl+Shift+G": "取消编组\n::g4",
    "Ctrl+E": "合并图层\n::g4",
    "Ctrl+Shift+E": "合并可见图层\n::g4",
    "Alt": "隐藏所有图层除了当前选中的:\n::g4",
    "Ctrl+1": "实际像素\n::g6",
    "Alt+1": "减少图层不诱明度:\n::g4",
    "Del": "删除图层\n::g4",
    "/": "激活/取消激活样式选项\n::g11",
    "Ctrl+/": "锁定/解锁图层\n::g4",
    "\\": "切换图层蒙版可见性\n::g4",
    "Ctrl+Shift+J": "剪切图层\n::g4",
    "Ctrl+A": "全选\n::g5",
    "Ctrl+D": "取消选择\n::g5",
    "Ctrl+Shift+D": "反选\n::g5",
    "Alt+Ctrl+D": "羽化\n::g5",
    "Ctrl+0": "按比例缩放到窗门\n::g6",
    "Ctrl+2": "适合屏幕\n::g6",
    "Alt+Ctrl+C": "增加画布大小\n::g6",
    "Alt+Ctrl+Shift": "减少画布大小\n::g6",
    "Ctrl+‘": "显示/隐藏网格\n::g12",
    "Ctrl+R": "显示/隐藏标尺\n::g12",
    "Ctrl+Shift+;": "显示参考线\n::g6",
    "Alt+Ctrl+;": "清除所有参考线\n::g6",
    "Shift+F1": "切换到暗色界面\n::g6",
    "Shift+F2": "切换到明亮界面\n::g6",
    "M": "矩形选择工具\n::g7",
    "Shift+M": "椭圆选择工具\n::g7",
    "I": "取样器工具\n::g12",
    "Shift+I": "单列选择工具\n::g7",
    "W": "魔术棒工具\n::g7",
    "B": "画笔工具\n::g8",
    "X": "切换前景色和背景色\n::g8",
    "F5": "画笔工具选项\n::g8",
    "[": "调整涂抹工具大小\n::g9",
    "Shift+[": "调涂抹工具硬度\n::g9",
    "E": "橡皮擦工具\n::g8",
    "Ctrl+[": "调整橡皮擦大小\n::g8",
    "Ctrl+Shift+[": "调整橡皮擦硬度\n::g8",
    "G": "填充工具\n::g9",
    "R": "旋转视图工具\n::g12",
    "T": "水平文本工具\n::g10",
    "Shift+T": "垂直文本工具\n::g10",
    "Ctrl+Shift+\\": "切换文本工具输入方向\n::g10",
    "Ctrl+Shift+P": "更改字体\n::g10",
    "Ctrl+Shift": "减少字体大小\n::g10",
    "Ctrl+F": "模糊滤镜选项\n::g11",
    "Ctrl+Shift+B": "油漆滤镜选项\n::g11",
    "Alt+Ctrl+F": "滤镜库选项\n::g11",
    "Tab": "显示/隐藏工具栏\n::g12",
    "Shift+Tab": "显示示/隐藏面板\n::g12",
    "Ctrl+H": "显示/隐藏路径\n::g12",
    "Ctrl+Shift+I": "显示/隐藏信息面板\n::g12",
    "Ctrl+;": "显示/隐藏参考线\n::g12",
    "D": "打开颜色选择器\n::g12",
    "D+X": "切换前景色和背景色为默认黑白\n::g12",
    "Shift+W": "魔棒工具选项\n::g12",
    "C": "裁煎工具\n::g12",
    "Ctrl": "显示/隐藏网格和参考线\n::g12",
    "O": "减淡工具",
    "Z": "缩放"
  },
  "#1": {
    "Ctrl+N": "新建\n::g1",
    "Ctrl+O": "打开\n::g1",
    "Alt+Ctrl+O": "打开为\n::g1",
    "Ctrl+W": "关闭\n::g1",
    "Ctrl+S": "保存\n::g1",
    "Alt+Ctrl+S": "另存为\n::g1",
    "Alt+Ctrl+P": "页面设置\n::g1",
    "Ctrl+P": "打印\n::g1",
    "Ctrl+Q": "退出\n::g1",
    "#name": "一、文件"
  },
  "#2": {
    "Ctrl+Z": "撤销\n::g2",
    "Alt+Ctrl+Z": "退取\n::g2",
    "Ctrl+X": "剪切\n::g2",
    "Ctrl+C": "复制\n::g2",
    "Ctrl+Shift+C": "合并复制\n::g2",
    "Ctrl+V": "粘贴\n::g2",
    "Ctrl+Shift+V": "原味粘贴\n::g2",
    "Ctrl+T": "自由变换\n::g2",
    "Ctrl+Shift+T": "再次变换\n::g2",
    "Ctrl+Shift+K": "色彩设置\n::g2",
    "#name": "二、编辑"
  },
  "#3": {
    "Ctrl+L": "调整->色阶\n::g3",
    "Ctrl+Shift+L": "调整->自动色阶\n::g3",
    "Ctrl+Shift+Alt": "调整->自动对比度\n::g3",
    "Ctrl+M": "调整->曲线\n::g3",
    "Ctrl+B": "调整->色彩平衡\n::g3",
    "Ctrl+U": "调整->色相/饱和度\n::g3",
    "Ctrl+Shift+U": "调整->去色\n::g3",
    "Ctrl+I": "调整->反向\n::g3",
    "Alt+Ctrl+X": "提取\n::g3",
    "Ctrl+Shift+X": "液化\n::g3",
    "#name": "三、图像"
  },
  "#4": {
    "Ctrl+Shift+N": "新建图层\n::g4",
    "Ctrl+J": "新建通过复制的图层\n::g4",
    "Ctrl+G": "与前一图层编组\n::g4",
    "Ctrl+Shift+G": "取消编组\n::g4",
    "Ctrl+E": "合并图层\n::g4",
    "Ctrl+Shift+E": "合并可见图层\n::g4",
    "Alt": "隐藏所有图层除了当前选中的:\n::g4",
    "Ctrl+1": "增加图层不诱明度\n::g4",
    "Alt+1": "减少图层不诱明度:\n::g4",
    "Del": "删除图层\n::g4",
    "/": "锁定/解锁图层透明像素\n::g4",
    "Ctrl+/": "锁定/解锁图层\n::g4",
    "\\": "切换图层蒙版可见性\n::g4",
    "Ctrl+Shift+J": "剪切图层\n::g4",
    "#name": "四、图层"
  },
  "#5": {
    "Ctrl+A": "全选\n::g5",
    "Ctrl+D": "取消选择\n::g5",
    "Ctrl+Shift+D": "反选\n::g5",
    "Alt+Ctrl+D": "羽化\n::g5",
    "#name": "五、选择"
  },
  "#6": {
    "Ctrl+0": "按比例缩放到窗门\n::g6",
    "Ctrl+1": "实际像素\n::g6",
    "Ctrl+2": "适合屏幕\n::g6",
    "Alt+Ctrl+C": "增加画布大小\n::g6",
    "Alt+Ctrl+Shift": "减少画布大小\n::g6",
    "Ctrl+‘": "显示网格\n::g6",
    "Ctrl+R": "显示标尺\n::g6",
    "Ctrl+Shift+;": "显示参考线\n::g6",
    "Alt+Ctrl+;": "清除所有参考线\n::g6",
    "Shift+F1": "切换到暗色界面\n::g6",
    "Shift+F2": "切换到明亮界面\n::g6",
    "#name": "六、画布和显示操作"
  },
  "#7": {
    "M": "矩形选择工具\n::g7",
    "Shift+M": "椭圆选择工具\n::g7",
    "I": "单行选择工具\n::g7",
    "Shift+I": "单列选择工具\n::g7",
    "W": "魔术棒工具\n::g7",
    "#name": "七、选择工具"
  },
  "#8": {
    "B": "画笔工具\n::g8",
    "X": "切换前景色和背景色\n::g8",
    "F5": "画笔工具选项\n::g8",
    "[": "调整画笔大小\n::g8",
    "Shift+[": "调整画笔硬度\n::g8",
    "E": "橡皮擦工具\n::g8",
    "Ctrl+[": "调整橡皮擦大小\n::g8",
    "Ctrl+Shift+[": "调整橡皮擦硬度\n::g8",
    "#name": "八、画笔和涂抹工具"
  },
  "#9": {
    "G": "填充工具\n::g9",
    "R": "涂抹工具\n::g9",
    "[": "调整涂抹工具大小\n::g9",
    "Shift+[": "调涂抹工具硬度\n::g9",
    "#name": "九、渐变和涂抹工具"
  }
}