{
  "#version": "3.0.0-beta-1",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": "10",
    "view": "l",
    "kbsize": 3,
    "kbext": false,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "打开": [
        "#ACE1AF",
        "打开"
      ],
      "直播": [
        "#F7CAC9",
        ""
      ],
      "收藏": [
        "#E7E28C",
        ""
      ],
      "特效": [
        "#BFBD50",
        ""
      ],
      "电视": [
        "#DCAE96",
        ""
      ],
      "DVD": [
        "#FAA052",
        ""
      ],
      "播放": [
        "#8ED449",
        ""
      ],
      "字幕": [
        "#F2CB07",
        ""
      ],
      "视频": [
        "#BBBBBB",
        ""
      ],
      "声音": [
        "#7B68EE",
        ""
      ],
      "滤镜": [
        "#5F9EA0",
        ""
      ],
      "配置/语言/其他": [
        "#2E8B57",
        ""
      ],
      "帧位": [
        "#DAA520",
        ""
      ],
      "比例": [
        "#FF7F50",
        ""
      ],
      "屏幕": [
        "#DA70D6",
        ""
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": true,
    "show_cnt": true,
    "list_by": "group"
  },
  "#0": {
    "0": "自定义尺寸设置\n::屏幕",
    "1": "半倍屏\n::屏幕",
    "2": "1倍屏\n::屏幕",
    "3": "1.5倍屏\n::屏幕",
    "4": "2.0倍屏\n::屏幕",
    "5": "最大化\n::屏幕",
    "6": "最大化/还原\n::屏幕",
    "7": "最大化+(过任务栏)/还原\n::屏幕",
    "8": "无边框尺寸\n::屏幕",
    "9": "自定义尺寸\n::屏幕",
    "Num0": "选择预设顺序\n::帧位",
    "Num1": "全帧-\n::帧位",
    "Num2": "帧高-\n::帧位",
    "Num4": "帧宽-\n::帧位",
    "Num5": "帧位 之前/复位\n::帧位",
    "Num6": "帧宽+\n::帧位",
    "Num8": "帧高+\n::帧位",
    "Num9": "全帧+\n::帧位",
    "F3": "打开文件",
    "Ctrl+O": "打开文件\n::打开",
    "Ctrl+U": "打开链接\n::打开",
    "F2": "打开文件夹\n::打开",
    "Alt+F12": "打开远程连接\n::打开",
    "Ctrl+V": "打开剪贴板\n::打开",
    "Ctrl+S": "采集器\n::打开",
    "Ctrl+J": "摄像头/其他设备\n::打开",
    "Ctrl+W": "模拟TV\n::打开",
    "Ctrl+K": "数字TV\n::打开",
    "Alt+D": "设备设置\n::打开",
    "Ctrl+D": "DVD设备\n::打开",
    "Alt+Ctrl+D": "蓝光设备\n::打开",
    "Alt+O": "打开字幕\n::打开",
    "Alt+Ctrl+Y": "重载字幕\n::打开",
    "Ctrl+Y": "重开当前/最后文件\n::打开",
    "F8": "直播/VOD列表\n::直播",
    "F9": "聊天/浏览器\n::直播",
    "F10": "直播\n::直播",
    "F11": "开始/停止直播\n::直播",
    "Alt+Ctrl+F1": "采集器1\n::直播",
    "Alt+Ctrl+F2": "采集器2\n::直播",
    "Alt+Ctrl+F4": "采集器2开始\n::直播",
    "Alt+Ctrl+F3": "采集器1开始\n::直播",
    "Alt+Ctrl+F5": "采集设置\n::直播",
    "Alt+Ctrl+F6": "保存直播\n::直播",
    "Ctrl+A": "保存收视中的直播\n保存流\n::直播",
    "F12": "检索文件\n::打开",
    "Ctrl+F12": "检索菜单\n::打开",
    "Alt+Ins": "添加当前文件\n::收藏",
    "Ctrl+Ins": "添加当前文件夹\n::收藏",
    "F4": "关闭",
    "Home": "上一对白\n首个频道\n::电视",
    "PgUp": "上一文件\n上一章节\n上个频道\n::电视",
    "PgDn": "下一文件\n下一章节\n下个频道\n::电视",
    "End": "下一对白\n末个频道\n::电视",
    "Ins": "最后收看频道\n::电视",
    "Ctrl+PgDn": "前一收看频道\n::电视",
    "Ctrl+PgUp": "后一收看频道\n::电视",
    "Del": "跳转至指定频道\n::电视",
    "N": "频道控制\n::电视",
    "Ctrl+Shift+A": "立即保存流\n::电视",
    "Alt+Backspace": "标题菜单\n::DVD",
    "H": "章节/书签\n::播放",
    "P": "添加书签\n::播放",
    "Shift+PgUp": "上一书签/章节\n::播放",
    "Shift+PgDn": "下一书签/章节\n::播放",
    "D": "上一帧\n::播放",
    "F": "下一帧\n::播放",
    "Ctrl+Shift+Left": "上一关键帧\n::播放",
    "Ctrl+Shift+Right": "下一关键帧\n::播放",
    "Left": "步退5秒\n::播放",
    "Right": "步进5秒\n::播放",
    "Ctrl+Left": "步退30秒\n::播放",
    "Ctrl+Right": "步进30秒\n::播放",
    "Shift+Left": "步退1分\n::播放",
    "Shift+Right": "步进1分\n::播放",
    "Alt+Ctrl+Left": "步退5分\n::播放",
    "Alt+Ctrl+Right": "步进5分\n::播放",
    "Backspace": "重新开始\n::播放",
    "Ctrl+Backspace": "中段\n::播放",
    "Shift+Backspace": "结束前30秒\n::播放",
    "Ctrl+Home": "当前字幕起点\n::播放",
    "G": "手动定位\n::播放",
    "Shift+Z": "时间场景浏览\n::播放",
    "Alt+Z": "章节/书签场景浏览\n::播放",
    "Z": "正常/之前的速度\n::播放",
    "X": "减速-\n::播放",
    "C": "加速+\n::播放",
    "B": "AB区段循环\n::播放",
    "[": "设定起点\n::播放",
    "Shift+[": "解除起点\n::播放",
    "Ctrl+[": "将起点步退0.1秒\n::播放",
    "Alt+[": "将起点步进0.1秒\n::播放",
    "]": "设定止点\n::播放",
    "Shift+]": "解除止点\n::播放",
    "Ctrl+]": "将止点步退0.1秒\n::播放",
    "Alt+]": "将止点步退0.1秒\n::播放",
    "Alt+Ctrl+[": "将循环区步退0.1秒\n::播放",
    "Alt+Ctrl+]": "将循环区步进0.1秒\n::播放",
    "Alt+Ctrl+-": "减少区段循环次数\n::播放",
    "Alt+Ctrl+=": "增加区段循环次数\n::播放",
    "Ctrl+-": "* 上一字幕区段循环\n::播放",
    "Ctrl+\\": "快速区段循环(5秒)\n::播放",
    "Ctrl+=": "* 下一字幕区段循环\n::播放",
    "Alt+-": "上一章节/标记/书签区段循环\n::播放",
    "Alt+\\": "当前章节/标记/书签区段循环\n::播放",
    "Alt+=": "下一章节/标记/书签区段循环\n::播放",
    "\\": "区段循环 开/关\n::播放",
    "Shift+\\": "编辑AB区段循环列表\n::播放",
    "L": "选择字幕\n::字幕",
    "Alt+H": "显示字幕\n::字幕",
    "Alt+E": "字幕浏览器\n::字幕",
    "Alt+P": "手动输入字幕\n::字幕",
    "Alt+I": "直接输出在视频中\n::字幕",
    "Alt+B": "粗体\n::字幕",
    "Alt+PgUp": "字体+\n::字幕",
    "Alt+PgDn": "字体—\n::字幕",
    "Alt+F": "字体设置\n::字幕",
    "Alt+Home": "复位\n::字幕",
    "Alt+Up": "上移\n::字幕",
    "Alt+Left": "左移\n::字幕",
    "Alt+Down": "下移\n::字幕",
    "Alt+Right": "右移\n::字幕",
    "Alt+Num6": "左右边距+\n::字幕",
    "Alt+Num4": "左右边距—\n::字幕",
    "Alt+Num8": "上下边距+\n::字幕",
    "Alt+Num2": "上下边距-\n::字幕",
    ",": "字幕滞后0.5秒\n::字幕",
    ".": "字幕超前0.5秒\n::字幕",
    "Ctrl+,": "字幕滞后5秒\n::字幕",
    "Ctrl+.": "字幕超前5秒\n::字幕",
    "/": "字幕复位\n::字幕",
    "Alt+S": "回写SMI字幕\n::字幕",
    "Ctrl+Shift+S": "按影片名字保存[字幕]\n::字幕",
    "Alt+Ctrl+S": "另存字幕为\n::字幕",
    "V": "选择图像\n::视频",
    "S": "像素着色\n::视频",
    "J": "3D视频输出\n::视频",
    "Alt+V": "图像顺序选择\n::视频",
    "Shift+P": "调整尺寸前的着色切换\n::视频",
    "Ctrl+Shift+P": "调整尺寸后的着色切换\n::视频",
    "Ctrl+X": "依次切换图像处理滤镜\n::视频",
    "Ctrl+I": "切换反交错方式\n::视频",
    "Ctrl+Q": "图像缩放设置\n::视频",
    "Alt+Ctrl+B": "按序切换边距\n::视频",
    "Ctrl+P": "上下翻转\n::视频",
    "Ctrl+Z": "左右翻转\n::视频",
    "Ctrl+B": "软模糊\n::视频",
    "R": "对比度-1%\n::视频",
    "Ctrl+L": "电平控制\n::视频",
    "Ctrl+H": "去块(提高画质)\n::视频",
    "Ctrl+N": "3D降噪\n::视频",
    "Ctrl+M": "瞬态降噪\n::视频",
    "Alt+K": "按序选择旋转方式\n::视频",
    "K": "图像截取\n::视频",
    "Alt+N": "创建缩略图\n::视频",
    "Ctrl+G": "连续截图\n::视频",
    "Ctrl+C": "复制当前源画面\n::视频",
    "Ctrl+E": "截存当前源画面\n::视频",
    "Alt+Ctrl+C": "复制当前实画面\n::视频",
    "Alt+Ctrl+E": "\n::视频",
    "Alt+C": "录制视频\n::视频",
    "Q": "图像属性复位\n::视频",
    "W": "亮度-1%\n::视频",
    "E": "亮度+1%\n::视频",
    "Ctrl+R": "锐化\n::视频",
    "T": "对比度+1%\n::视频",
    "Y": "饱和度-1%\n::视频",
    "U": "饱和度+1%\n::视频",
    "I": "色彩度-1%\n::视频",
    "O": "色彩度+1%\n::视频",
    "Alt+,": "字幕滞后50秒\n::字幕",
    "Alt+.": "字幕超前50秒\n::字幕",
    "A": "选择声音\n::声音",
    "Alt+A": "按序切换声音\n::声音",
    "Up": "音量+\n::声音",
    "Down": "音量-\n::声音",
    "M": "静音\n::声音",
    "Alt+Ctrl+Shift+Up": "主音量+\n::声音",
    "Alt+Ctrl+Shift+Down": "主音量-\n::声音",
    "Alt+Ctrl+Shift+M": "静音\n::声音",
    "Alt+Ctrl+Up": "波形音量+\n::声音",
    "Alt+Ctrl+Down": "波形音量-\n::声音",
    "Shift+E": "均衡器\n::声音",
    "Shift+,": "声音滞后0.5秒\n::声音",
    "Shift+.": "声音超前0.5秒\n::声音",
    "Shift+/": "声音复位\n::声音",
    "Shift+N": "声音规格化\n::声音",
    "Shift+C": "声音晶化\n::声音",
    "Shift+D": "声音降噪\n::声音",
    "Shift+R": "声音混响\n::声音",
    "Shift+V": "语音消除\n::声音",
    "Shift+A": "语音增强\n::声音",
    "Shift+T": "左右声道互换\n::声音",
    "Shift+G": "声音录制\n::声音",
    "Shift+H": "低音\n::声音",
    "Shift+J": "高音\n::声音",
    "Shift+K": "默认音调\n::声音",
    "Shift+X": "开启声音处理滤镜\n::声音",
    "Ctrl+F": "滤镜/解码器管理\n::滤镜",
    "Shift+L": "语言\n::配置/语言/其他",
    "Ctrl+T": "切换最前端\n::配置/语言/其他",
    "Alt+Ctrl+Q": "依次切换收尾方式\n::配置/语言/其他",
    "Tab": "OSD信息\n::配置/语言/其他",
    "ScrLck": "播放信息\n::配置/语言/其他",
    "Shift+Tab": "简要信息\n::配置/语言/其他",
    "Ctrl+Num6": "帧位偏移→\n::帧位",
    "Ctrl+Num4": "帧位偏移←\n::帧位",
    "Ctrl+Num8": "帧位偏移↑\n::帧位",
    "Ctrl+Num2": "帧位偏移↓\n::帧位",
    "Ctrl+Num5": "帧位居中\n::帧位",
    "Ctrl+F5": "依次切换比例模式\n::比例",
    "Ctrl+F6": "依次切换比例\n::比例",
    "`": "* 迷你尺寸\n::屏幕",
    "Alt+1": "显示器30%尺寸\n::屏幕",
    "Alt+3": "显示器60%尺寸\n::屏幕",
    "Alt+2": "显示器45%尺寸\n::屏幕",
    "Alt+4": "显示器75%尺寸\n::屏幕",
    "Alt+Enter": "全屏\n::屏幕",
    "Ctrl+Enter": "全屏+(拉伸)\n::屏幕",
    "Alt+Ctrl+Enter": "全屏+(保持比例)\n::屏幕",
    "Ctrl+Shift+Enter": "全屏(其他显示屏)\n::屏幕",
    "Alt+Ctrl+Num+": "窗口+\n::屏幕",
    "Alt+Ctrl+Num1": "窗口定位置于↙️\n::屏幕",
    "Alt+Ctrl+Num2": "窗口定位位移↓\n::屏幕",
    "Alt+Ctrl+Num3": "窗口定位置于↘️\n::屏幕",
    "Alt+Ctrl+Num4": "窗口定位位移←\n::屏幕",
    "Alt+Ctrl+Num5": "窗口定位外框居中\n::屏幕",
    "Alt+Ctrl+Num6": "窗口定位位移→\n::屏幕",
    "Alt+Ctrl+Num7": "窗口定位置于↖️\n::屏幕",
    "Alt+Ctrl+Num8": "窗口定位位移↑\n::屏幕",
    "Alt+Ctrl+Num9": "窗口定位置于↗️\n::屏幕",
    "Enter": "全屏\n::屏幕",
    "F5": "选项",
    "F6": "列表",
    "F7": "控制",
    "Ctrl+F1": "属性",
    "F1": "关于",
    "Alt+F4": "退出",
    "Alt+Ctrl+Num-": "窗口-\n::屏幕",
    "#name": "逍遥制作"
  },
  "#1": {
    "#name": "最后更新20230203"
  }
}