{
  "#version": "3.0.0",
  "#config": {
    "uimode": "tab",
    "layout": "pc",
    "layers": "48",
    "view": "l",
    "kbsize": 2,
    "kbext": false,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "g1": [
        "#e949ea",
        "文件"
      ],
      "g2": [
        "#915fff",
        "编辑"
      ],
      "g3": [
        "#69826c",
        "图像"
      ],
      "g4": [
        "#61c273",
        "图层"
      ],
      "g5": [
        "#d174eb",
        "选择"
      ],
      "g6": [
        "#db937f",
        "画布和显示操作"
      ],
      "g7": [
        "#98b2db",
        "选择工具"
      ],
      "g8": [
        "#b3c10f",
        "画笔和涂抹工具"
      ],
      "g9": [
        "#b3dace",
        "渐变和涂抹工具"
      ],
      "g10": [
        "#7ac5f0",
        "文本工具"
      ],
      "g11": [
        "#2f685e",
        "滤镜和效果"
      ],
      "g12": [
        "#028a5e",
        "其他"
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": false,
    "show_cnt": true,
    "list_by": "group"
  },
  "#10": {
    "Shift+Alt+3": "向后导航\n::g10",
    "Shift+Alt+4": "向前导航\n::g10",
    "#name": "十、文本工具"
  },
  "#11": {
    "Ctrl+\\": "新建关系图\n::g11",
    "#name": "十一、滤镜和效果"
  },
  "#12": {
    "Ctrl+NLock": "显示移动服务脚本错误详细信息\n::g12",
    "#name": "十二、其他"
  },
  "#13": {
    "Ctrl+B": "生成选择\n::g13",
    "Ctrl+Shift+B": "生成解决方案\n::g13",
    "Ctrl": "取消\n::g13",
    "Ctrl+F7": "生成.编译\n::g13",
    "Alt+F11": "\t生成.对解决方案运行代码分析\n::g13"
  },
  "#14": {
    "Alt+Enter": "类视图上下文菜单.类视图多选项目引用项.属性\n::g14"
  },
  "#15": {
    "Alt+F10": "调试.应用代码更改\n::g15",
    "Ctrl+Alt+P": "\t调试.附加到进程\n::g15",
    "Ctrl+Alt+V+A": "调试.自动窗口\n::g15",
    "Ctrl+Alt": "调试.全部中断\n::g15",
    "Ctrl+Alt+B": "调试.断点\n::g15",
    "Ctrl+Alt+C": "调试.调用堆栈\n::g15",
    "Ctrl+Shift+F9": "调试.删除所有断点\n::g15",
    "Alt+F2": "调试.诊断中心.启动\n::g15",
    "Ctrl+Alt+D": "调试.反汇编\n::g15",
    "Ctrl+Alt+V+D": "调试.DOM资源管理器\n::g15",
    "Ctrl+F9": "调试.启用断点\n::g15",
    "Ctrl+Alt+E": "调试.异常\n::g15",
    "Ctrl+K+B": "函数断点Debug.FunctionBreakpoint\n::g15",
    "Ctrl+B": "函数断点Debug.FunctionBreakpoint\n::g15",
    "Ctrl+Shift+F11": "调试.转到上一个调用或IntelliTrace事件\n::g15",
    "Alt+F5": "调试.图形.启动诊断\n::g15",
    "Ctrl+Alt+I": "调试.即时\n::g15",
    "Ctrl+Alt+Y+T": "调试.IntelliTrace调用\n::g15",
    "Ctrl+Alt+Y+F": "调试.IntelliTrace事件\n::g15",
    "Ctrl+Alt+V+C": "调试.JavaScript控制台\n::g15",
    "Ctrl+Alt+V+L": "调试.局部变量\n::g15",
    "Ctrl+5": "调试.位置工具栏.进程组合框\n::g15",
    "Ctrl+7": "调试.位置工具栏.堆栈帧组合框\n::g15",
    "Ctrl+6": "调试.位置工具栏.线程组合框\n::g15",
    "Ctrl+8": "调试.位置工具栏.切换当前线程标志状态\n::g15",
    "Ctrl+9": "调试.位置工具栏.切换标记的线程\n::g15",
    "Ctrl+Alt+M+1": "调试.内存1\n::g15",
    "Ctrl+Alt+M+2": "调试.内存2\n::g15",
    "Ctrl+Alt+M+3": "调试.内存3\n::g15",
    "Ctrl+Alt+M+4": "调试.内存4\n::g15",
    "Ctrl+Alt+U": "调试.模块\n::g15",
    "Ctrl+Shift+D+S": "调试.并行堆栈\n::g15",
    "Ctrl+Shift+D+1": "调试.并行监视1\n::g15",
    "Ctrl+Shift+D+2": "调试.并行监视2\n::g15",
    "Ctrl+Shift+D+3": "调试.并行监视3\n::g15",
    "Ctrl+Shift+D+4": "调试.并行监视4\n::g15",
    "Ctrl+Alt+Z": "调试.进程\n::g15",
    "Shift+F9": "调试.快速监视\n::g15",
    "Shift+Alt+P": "重新附加到进程Debug.ReattachtoProcess\n::g15",
    "Ctrl+Shift+R": "刷新Windows应用Debug.RefreshWindowsapp\n::g15",
    "Ctrl+Alt+G": "调试.寄存器\n::g15",
    "Ctrl+Shift+F5": "调试.重新启动\n::g15",
    "Ctrl+F10": "调试.运行到光标处\n::g15",
    "Ctrl+Shift+F10": "调试.设置下一语句\n::g15",
    "Ctrl+Shift+`": "调试.在代码图上显示调用堆栈\n::g15",
    "Alt+NLock": "调试.显示下一语句\n::g15",
    "F5": "调试.启动\n::g15",
    "Alt+F1": "调试.启动WindowsPhone应用程序分析\n::g15",
    "Ctrl+F5": "调试.开始执行不调试\n::g15",
    "F11": "调试.逐语句\n::g15",
    "Ctrl+Alt+F11": "调试.进入并单步执行当前进程\n::g15",
    "Shift+Alt+F11": "调试.单步执行特定函数\n::g15",
    "Shift+F11": "调试.跳出\n::g15",
    "Ctrl+Shift+Alt+F11": "调试.跳出当前进程\n::g15",
    "F10": "调试.逐过程\n::g15",
    "Ctrl+Alt+F10": "调试.逐过程执行当前进程\n::g15",
    "Shift+F5": "调试.停止调试\n::g15",
    "Shift+Alt+F2": "调试.停止性能分析\n::g15",
    "Ctrl+Shift+D+K": "调试.任务\n::g15",
    "Ctrl+Alt+H": "调试.线程\n::g15",
    "F9": "调试.切换断点\n::g15",
    "Ctrl+F11": "调试.切换反汇编\n::g15",
    "Ctrl+Alt+W+1": "调试.监视1\n::g15",
    "Ctrl+Alt+W+2": "调试.监视2\n::g15",
    "Ctrl+Alt+W+3": "调试.监视3\n::g15",
    "Ctrl+Alt+W+4": "调试.监视4\n::g15"
  },
  "#16": {
    "Alt+F9+D": "调试器上下文菜单.断点窗口.删除\n::g16",
    "Alt+F9+A": "调试器上下文菜单.断点窗口.转到反汇编\n::g16",
    "Alt+F9+S": "调试器上下文菜单.断点窗口.转到源代码\n::g16"
  },
  "#17": {
    "Ctrl+Alt+F2": "诊断中心.停止收集\n::g17"
  },
  "#18": {
    "Ctrl+C": "编辑.复制\n::g18",
    "Ctrl+X": "编辑.剪切\n::g18",
    "Ctrl+Shift+V": "编辑.循环应用剪贴板中的复制项\n::g18",
    "Ctrl+D": "复制Edit.Duplicate\n::g18",
    "Ctrl+F": "编辑.查找\n::g18",
    "Shift+F12": "编辑.查找所有引用\n::g18",
    "Ctrl+Shift+F": "编辑.在文件中查找\n::g18",
    "F3": "编辑.查找下一个\n::g18",
    "Ctrl+F3": "编辑.查找下一个选定项\n::g18",
    "Shift+F3": "编辑.查找上一个\n::g18",
    "Ctrl+Shift+F3": "编辑.查找上一个选定项\n::g18",
    "Ctrl+K": "编辑.外侧代码\n::g18",
    "Ctrl+G": "编辑.转到\n::g18",
    "Ctrl+T": "转到全部\tEdit.GoToAll\n::g18",
    "Ctrl+F12": "编辑.转到声明\n::g18",
    "F12": "编辑.转到定义\n::g18",
    "Ctrl+1": "转到成员\tEdit.GoToMember\n::g18",
    "F8": "编辑.转到下一个位置\n::g18",
    "Shift+F8": "编辑.转到上一个位置\n::g18",
    "Ctrl+Down": "编辑.下移控件\n::g18",
    "Down": "编辑.将控件移动到下侧网格\n::g18",
    "Ctrl+Left": "编辑.左移控件\n::g18",
    "Left": "编辑.将控件移动到左侧网格\n::g18",
    "Ctrl+Right": "编辑.右移控件\n::g18",
    "Right": "编辑.将控件移动到右侧网格\n::g18",
    "Ctrl+Up": "编辑.上移控件\n::g18",
    "Up": "编辑.将控件移动到上侧网格\n::g18",
    "Ctrl+Shift+K": "编辑.文件夹中的上一书签\n::g18",
    "Ctrl+Shift+G": "编辑.打开文件\n::g18",
    "Ctrl+V": "编辑.粘贴\n::g18",
    "Shift+Alt+F12": "编辑.快速查找符号\n::g18",
    "Ctrl+Y": "编辑.重做\n::g18",
    "Ctrl+Shift+J": "编辑.刷新远程引用\n::g18",
    "Ctrl+H": "编辑.替换\n::g18",
    "Ctrl+Shift+H": "编辑.在文件中替换\n::g18",
    "Ctrl+A": "编辑.全选\n::g18",
    "Tab": "编辑.选择下一个控件\n::g18",
    "Shift+Tab": "编辑.选择上一个控件\n::g18",
    "Enter": "编辑.显示平铺网格\n::g18",
    "Ctrl+Shift+Down": "编辑.向下调大控件大小\n::g18",
    "Shift+Down": "编辑.将控件调大到下侧网格\n::g18",
    "Ctrl+Shift+Left": "编辑.向左调整控件大小\n::g18",
    "Shift+Left": "编辑.将控件调大到左侧网格\n::g18",
    "Ctrl+Shift+Right": "编辑.向右调整控件大小\n::g18",
    "Shift+Right": "编辑.将控件调大到右侧网格\n::g18",
    "Ctrl+Shift+Up": "编辑.向上调整控件大小\n::g18",
    "Shift+Up": "编辑.将控件调大到上侧网格\n::g18",
    "Alt+F3+S": "编辑.停止搜索\n::g18",
    "Ctrl+Z": "编辑.取消\n::g18"
  },
  "#19": {
    "Alt+F9+C": "断点条件EditorContextMenus.CodeWindow.Breakpoint.BreakpointConditions\n::g19",
    "Alt+F9+L": "编辑器上下文菜单.代码窗口.断点.断点编辑标签\n::g19",
    "Shift+Alt+F9+T": "编辑器上下文菜单.代码窗口.断点.插入临时断点\n::g19",
    "Ctrl+`": "编辑器上下文菜单.代码窗口.代码图.显示项\n::g19",
    "Ctrl+Alt+F5": "编辑器上下文菜单.代码窗口.执行\n::g19",
    "Ctrl+M": "编辑器上下文菜单.代码窗口.转到视图\n::g19",
    "Ctrl+K": "编辑器上下文菜单.代码窗口.切换标头代码文件\n::g19",
    "Ctrl+K+T": "编辑器上下文菜单.代码窗口.查看调用层次结构\n::g19"
  },
  "#20": {
    "Alt+F4": "文件.退出\n::g20",
    "Ctrl+N": "文件.新建文件\n::g20",
    "Ctrl+Shift+N": "文件.新建项目\n::g20",
    "Shift+Alt+N": "文件.新建网站\n::g20",
    "Ctrl+O": "文件.打开文件\n::g20",
    "Ctrl+Shift+O": "文件.打开项目\n::g20",
    "Shift+Alt+O": "文件.打开网站\n::g20",
    "Ctrl+P": "文件.打印\n::g20",
    "Ctrl+Shift+S": "文件.全部保存\n::g20",
    "Ctrl+S": "文件.保存选定项\n::g20",
    "Ctrl+Shift+W": "文件.在浏览器中查看\n::g20"
  },
  "#21": {
    "Ctrl+Alt+F1": "帮助.添加和移除帮助内容\n::g21",
    "F1": "帮助.F1帮助\n::g21",
    "Ctrl+F1": "查看帮助\tHelp.ViewHelp\n::g21",
    "Shift+F1": "帮助.窗口帮助\n::g21"
  },
  "#22": {
    "Ctrl+R+Q": "\t负载测试.跳至计数器窗格\n::g22"
  },
  "#23": {
    "Shift+Alt+A": "项目.添加现有项\n::g23",
    "Ctrl+Shift+A": "项目.添加新项\n::g23",
    "Ctrl+Shift+X": "项目.类向导\n::g23",
    "Ctrl+Alt": "项目.重写\n::g23",
    "Alt+;": "项目.替换服务器上的选定文件\n::g23"
  },
  "#24": {
    "Alt+Down": "项目和解决方案上下文菜单.项.下移\n::g24",
    "Alt+Up": "项目和解决方案上下文菜单.项.上移\n::g24"
  },
  "#25": {
    "Ctrl+R": "重构.重新排列参数\n::g25"
  },
  "#26": {
    "Ctrl+[+O": "解决方案资源管理器.打开文件筛选器\n::g26",
    "Ctrl+[+P": "解决方案资源管理器.挂起更改筛选器\n::g26",
    "Ctrl+[+S": "解决方案资源管理器.与活动文档同步\n::g26"
  },
  "#27": {
    "Ctrl+0+N": "团队.Git.转到Git分支\n::g27",
    "Ctrl+0+G": "团队.Git.转到Git更改\n::g27",
    "Ctrl+0+O": "团队.Git.转到Git提交\n::g27",
    "Ctrl+`": "团队.团队资源管理器搜索\n::g27"
  },
  "#28": {
    "Ctrl+0+B": "TeamFoundation上下文菜单.命令.转到生成\n::g28",
    "Ctrl+0+C": "TeamFoundation上下文菜单.命令.转到连接\n::g28",
    "Ctrl+0+D": "TeamFoundation上下文菜单.命令.转到文档\n::g28",
    "Ctrl+0+H": "TeamFoundation上下文菜单.命令.转到主页\n::g28",
    "Ctrl+0+M": "TeamFoundation上下文菜单.命令.转到我的工作\n::g28",
    "Ctrl+0+P": "TeamFoundation上下文菜单.命令.转到挂起的更改\n::g28",
    "Ctrl+0+R": "TeamFoundation上下文菜单.命令.转到报告\n::g28",
    "Ctrl+0+S": "TeamFoundation上下文菜单.命令.转到设置\n::g28",
    "Ctrl+0+A": "TeamFoundation上下文菜单.命令.转到Web访问\n::g28",
    "Ctrl+0+W": "TeamFoundation上下文菜单.命令.转到工作项\n::g28"
  },
  "#29": {
    "Ctrl+\\": "测试.使用现有的操作录制\n::g29"
  },
  "#30": {
    "Ctrl+R": "测试资源管理器.调试上下文中的所有测试\n::g30",
    "Ctrl+R+D": "调试上次运行\tTestExplorer.DebugLastRun\n::g30",
    "Ctrl+R+L": "测试资源管理器.重复上次运行\n::g30",
    "Ctrl+R+T": "测试资源管理器.运行上下文中的所有测试\n::g30",
    "Ctrl+R+A": "测试资源管理器.运行所有测试\n::g30",
    "Ctrl+E+T": "显示测试资源管理器TestExplorer.ShowTestExplorer\t\n::g30",
    "Ctrl+E+L": "打开选项卡\tLiveUnitTesting.OpenTab\n::g30",
    "Ctrl+E+C": "代码覆盖率结果\tTest.CodeCoverageResults\n::g30"
  },
  "#31": {
    "Ctrl+Alt+P": "工具.附加到进程\n::g31",
    "Ctrl+K": "工具.代码段管理器\n::g31",
    "Ctrl+Shift+Alt+F12": "工具.强制GC\n::g31"
  },
  "#32": {
    "Shift+Alt+M": "视图.所有窗口\n::g32",
    "Ctrl+\\": "视图.UML模型资源管理器\n::g32",
    "Alt+Left": "视图.向后\n::g32",
    "Ctrl+K": "视图.对象浏览器转到搜索组合框\n::g32",
    "Ctrl+Shift+1": "视图.浏览下一个\n::g32",
    "Ctrl+Shift+2": "视图.浏览上一个\n::g32",
    "Ctrl+Alt+K": "视图.调用层次结构\n::g32",
    "Ctrl+Shift+C": "视图.类视图\n::g32",
    "Ctrl+\\+D": "视图.代码定义窗口\n::g32",
    "Ctrl+Alt+A": "视图.命令窗口\n::g32",
    "Shift+Alt+D": "数据源\tView.DataSources\n::g32",
    "Ctrl+Alt+T": "视图.文档大纲\n::g32",
    "F2": "视图.编辑标签\n::g32",
    "Ctrl+\\+E": "视图.错误列表\n::g32",
    "Ctrl+Alt+F": "视图.F#Interactive\n::g32",
    "Ctrl+Alt+F12": "视图.查找符号结果\n::g32",
    "Alt+Right": "视图.向前\n::g32",
    "Ctrl+Shift+7": "视图.向前浏览上下文\n::g32",
    "Shift+Alt+Enter": "视图.全屏\n::g32",
    "Ctrl+-": "视图.向后定位\n::g32",
    "Ctrl+Shift+-": "视图.向前定位\n::g32",
    "Ctrl+Shift+F12": "视图.下一个错误\n::g32",
    "Ctrl+W+N": "视图.通知\n::g32",
    "Ctrl+Alt+J": "视图.对象浏览器\n::g32",
    "Ctrl+Alt+O": "视图.输出\n::g32",
    "Ctrl+Shift+8": "Pop浏览上下文View.PopBrowseContext\n::g32",
    "F4": "视图.属性窗口\n::g32",
    "Shift+F4": "视图.属性页\n::g32",
    "Ctrl+Shift+E": "视图.资源视图\n::g32",
    "Ctrl+Alt+S": "视图.服务器资源管理器\n::g32",
    "Shift+Alt+F10": "视图.显示智能标记\n::g32",
    "Ctrl+Alt+L": "视图.解决方案资源管理器\n::g32",
    "Ctrl+\\+T": "视图.任务列表\n::g32",
    "Ctrl+Alt+X": "视图.工具箱\n::g32",
    "F7": "视图.查看代码\n::g32",
    "Shift+F7": "视图.视图设计器\n::g32",
    "Ctrl+Alt+R": "视图.Web浏览器\n::g32",
    "Ctrl+Shift+.": "视图.放大\n::g32",
    "Ctrl+Shift+,": "\t视图.缩小\n::g32",
    "Ctrl+E+T": "显示测试资源管理器TestExplorer.ShowTestExplorer\n::g32"
  },
  "#33": {
    "ESC": "窗口.激活文档窗口\n::g33",
    "Ctrl+Shift+Alt+Space": "窗口.将选项卡添加到所选内容\n::g33",
    "Ctrl+F4": "窗口.关闭文档窗口\n::g33",
    "Shift+ESC": "窗口.关闭工具窗口\n::g33",
    "Ctrl+Alt+Home": "窗口.将选项卡保持打开状态\n::g33",
    "Ctrl+F2": "窗口.移动到导航栏\n::g33",
    "Ctrl+F6": "窗口.下一个文档窗口\n::g33",
    "Ctrl+Tab": "窗口.下一个文档窗口导航栏窗口.下一个文档窗口导航栏\n::g33",
    "Alt+F6": "窗口.下一窗格\n::g33",
    "F6": "\t窗口.下一个拆分窗格\n::g33",
    "Ctrl+Alt+PgDn": "窗口.下一选项卡\n::g33",
    "Ctrl+Shift+Alt+PgDn": "Window.NextTabandAddtoSelection\n::g33",
    "Alt+F7": "窗口.下一个工具窗口导航栏\n::g33",
    "Ctrl+Shift+F6": "窗口.上一个文档窗口\n::g33",
    "Ctrl+Shift+Tab": "窗口.上一个文档窗口导航栏\n::g33",
    "Shift+Alt+F6": "窗口.上一窗格\n::g33",
    "Shift+F6": "窗口.上一个拆分窗格\n::g33",
    "Ctrl+Alt+PgUp": "窗口.上一选项卡\n::g33",
    "Ctrl+Shift+Alt+PgUp": "Window.PreviousTabandAddtoSelection\n::g33",
    "Shift+Alt+F7": "窗口.上一个工具窗口导航栏\n::g33",
    "Ctrl+Q": "窗口.快速启动\n::g33",
    "Ctrl+Shift+Q": "\t窗口.快速启动以前分类\n::g33",
    "Alt+-": "窗口.显示停靠菜单\n::g33",
    "Ctrl+Alt+Down": "窗口.显示EzMDI文件列表\n::g33",
    "Ctrl+;": "窗口.解决方案资源管理器搜索\n::g33",
    "Alt+‘": "窗口.窗口搜索\n::g33"
  },
  "#34": {
    "Alt+Down": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向下\n::g34",
    "Alt+PgDn": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向下5\n::g34",
    "Alt+End": "\t其他上下文菜单.Microsoft数据实体设计上下文.移动属性.到底部\n::g34",
    "Alt+Home": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.到顶部\n::g34",
    "Alt+Up": "\t其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向上\n::g34",
    "Alt+PgUp": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向上5\n::g34",
    "Ctrl+R": "其他上下文菜单.Microsoft数据实体设计上下文.重构.重命名\n::g34",
    "Shift+Del": "其他上下文菜单.Microsoft数据实体设计上下文.从关系图中移除\n::g34",
    "Ctrl+1": "视图.实体数据模型资源浏览器\n::g34",
    "Ctrl+2": "视图.实体数据模型映射详细信息\n::g34"
  },
  "#35": {
    "-": "类图.折叠\n::g35",
    "+": "\t类图.展开\n::g35",
    "Ctrl+Del": "编辑.删除\n::g35",
    "Shift+Alt+B": "编辑.展开折叠基类型列表\n::g35",
    "Shift+Alt+L": "编辑.定位到棒糖形\n::g35",
    "Del": "编辑.从关系图中移除\n::g35",
    "Enter": "视图.查看代码\n::g35"
  },
  "#36": {
    "Ctrl+C": "其他上下文菜单.UI测试编辑器上下文菜单.将引用复制到剪贴板\n::g36",
    "Ctrl+Alt+D": "其他上下文菜单.UI测试编辑器上下文菜单.在前面插入延迟\n::g36",
    "Shift+Alt+L": "其他上下文菜单.UI测试编辑器上下文菜单.查找全部\n::g36",
    "Ctrl+Shift+L": "其他上下文菜单.UI测试编辑器上下文菜单.查找UI控件\n::g36",
    "Ctrl+Alt+C": "其他上下文菜单.UI测试编辑器上下文菜单.移动代码\n::g36",
    "Ctrl+Shift+T": "其他上下文菜单.UI测试编辑器上下文菜单.拆分成新方法\n::g36"
  },
  "#37": {
    "‘": "OtherContextMenus.ColumnContext.InsertColumn\n::g37",
    "Ctrl+L": "\tOtherContextMenus.DbTableContext.Add.Column\n::g37"
  },
  "#38": {
    "Ctrl+\\": "差异.同步视图切换\n::g38",
    "F8": "差异.下一个差异\n::g38",
    "Shift+F8": "差异.上一个差异\n::g38",
    "Ctrl+Shift+K": "编辑器上下文菜单.代码窗口.添加注释\n::g38",
    "Ctrl+Shift+P": "编辑器上下文菜单.代码窗口.编辑本地文件\n::g38"
  },
  "#39": {
    "F5": "DOM资源管理器.刷新\n::g39",
    "Ctrl+B": "DOM资源管理器.选择元素\n::g39",
    "Ctrl+Shift+I": "DOM资源管理器.显示布局\n::g39"
  },
  "#40": {
    "Ctrl": "其他上下文菜单.FSI控制台上下文.取消交互评估\n::g40"
  },
  "#41": {
    "‘": "体系结构上下文菜单.定向关系图上下文菜单.高级.添加.添加节点\n::g41",
    "B": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.两个依赖项\n::g41",
    "I": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.传入依赖项\n::g41",
    "O": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.传出依赖项\n::g41",
    "Ctrl+Shift+K": "体系结构上下文菜单.定向关系图上下文菜单.新注释\n::g41",
    "Ctrl+E+C": "体系结构上下文菜单.定向关系图上下文菜单.新注释\n::g41",
    "Del": "体系结构上下文菜单.定向关系图上下文菜单.删除\n::g41",
    "F2": "体系结构上下文菜单.定向关系图上下文菜单.重命名\n::g41"
  },
  "#42": {
    "Shift+Alt+Down": "Graphics.MovePixelSelectionDown\n::g42",
    "Shift+Alt+Left": "Graphics.MovePixelSelectionLeft\n::g42",
    "Shift+Alt+Right": "Graphics.MovePixelSelectionRight\n::g42",
    "Shift+Alt+Up": "Graphics.MovePixelSelectionUp\n::g42",
    "Shift+Alt+0": "Graphics.ZoomToActualSize\n::g42",
    "Shift+Alt+9": "\tGraphics.ZoomToFitInWindow\n::g42",
    "Shift+Alt+=": "\tGraphics.ZoomIn\n::g42",
    "Shift+Alt+-": "\tGraphics.ZoomOut\n::g42"
  },
  "#43": {
    "Ctrl+M": "其他上下文菜单.HTML上下文.转到控制器\n::g43"
  },
  "#44": {
    "Ctrl+Down": "编辑.下移控件\n::g44",
    "Ctrl+Up": "编辑.上移控件\n::g44",
    "Ctrl+B": "格式.粗体\n::g44",
    "Ctrl+L": "格式.转换为超链接\n::g44",
    "Ctrl+Shift+L": "格式.插入书签\n::g44",
    "Ctrl+I": "格式.斜体\n::g44",
    "Ctrl+U": "格式.下划线\n::g44",
    "Ctrl+M": "视图.编辑主表\n::g44",
    "Ctrl+Alt+Left": "表.左侧列\n::g44",
    "Ctrl+Alt+Right": "表.右侧列\n::g44",
    "Ctrl+Alt+Up": "表.上面的行\n::g44",
    "Ctrl+Alt+Down": "表.下面的行\n::g44",
    "Ctrl+Shift+N": "视图.ASP.NET非可视控件\n::g44",
    "Ctrl+PgDn": "\t视图.下一个视图\n::g44",
    "Shift+Alt+F10": "视图.显示智能标记\n::g44",
    "Shift+F7": "视图.查看标记\n::g44",
    "Ctrl+PgUp": "窗口.上一选项卡\n::g44"
  },
  "#45": {
    "Ctrl+M": "其他上下文菜单.HTML上下文.转到控制器\n::g45",
    "Ctrl+PgDn": "视图.下一个视图\n::g45",
    "Ctrl+Shift+Y": "视图.同步视图\n::g45",
    "Shift+F7": "视图.视图设计器\n::g45",
    "Ctrl+PgUp": "窗口.上一选项卡\n::g45"
  },
  "#46": {
    "Shift+Del": "编辑.删除\n::g46"
  },
  "#47": {
    "F2": "编辑.编辑单元格\n::g47",
    "Del": "编辑.移除\n::g47",
    "Ctrl+Del": "编辑.移除行\n::g47",
    "ESC": "编辑.取消选定\n::g47",
    "Ctrl+4": "资源.音频\n::g47",
    "Ctrl+5": "资源.文件\n::g47",
    "Ctrl+3": "资源.图标\n::g47",
    "Ctrl+2": "资源.图像\n::g47",
    "Ctrl+6": "资源.其他\n::g47",
    "Ctrl+1": "资源.字符串\n::g47"
  },
  "#48": {
    "Alt+1": "TeamFoundation上下文菜单.合并上下文菜单.在左侧窗口上设置焦点\n::g48",
    "Alt+2": "TeamFoundation上下文菜单.合并上下文菜单.在结果窗口上设置焦点\n::g48",
    "Alt+3": "TeamFoundation上下文菜单.合并上下文菜单.在右侧窗口上设置焦点\n::g48"
  },
  "#0": {
    "Ctrl+Shift+B": "生成解决方案\n::g13",
    "Ctrl": "其他上下文菜单.FSI控制台上下文.取消交互评估\n::g40",
    "Ctrl+F7": "生成.编译\n::g13",
    "Alt+F11": "\t生成.对解决方案运行代码分析\n::g13",
    "Ctrl+B": "格式.粗体\n::g44",
    "Ctrl+Alt": "项目.重写\n::g23",
    "Ctrl+Shift+F9": "调试.删除所有断点\n::g15",
    "Alt+Ctrl+E": "调试.异常\n::g15",
    "Alt+Ctrl+Q": "调试.快速监视\n::g2",
    "Ctrl+Shift+F5": "调试.重新启动\n::g15",
    "Ctrl+F10": "调试.运行到光标处\n::g15",
    "Ctrl+Shift+F10": "调试.设置下一语句\n::g15",
    "F5": "DOM资源管理器.刷新\n::g39",
    "Ctrl+F5": "调试.开始执行不调试\n::g15",
    "F11": "调试.逐语句\n::g15",
    "Shift+F11": "调试.跳出\n::g15",
    "F10": "调试.逐过程\n::g15",
    "Shift+F5": "调试.停止调试\n::g15",
    "F9": "调试.切换断点\n::g15",
    "Enter": "视图.查看代码\n::g35",
    "Ctrl+M": "其他上下文菜单.HTML上下文.转到控制器\n::g45",
    "Ctrl+K": "视图.对象浏览器转到搜索组合框\n::g32",
    "Alt+Right": "视图.向前\n::g32",
    "Ctrl+C": "其他上下文菜单.UI测试编辑器上下文菜单.将引用复制到剪贴板\n::g36",
    "Ctrl+X": "编辑.剪切\n::g18",
    "Shift+Del": "编辑.删除\n::g46",
    "Ctrl+F": "编辑.查找\n::g18",
    "Shift+F12": "编辑.查找所有引用\n::g18",
    "Ctrl+Shift+F": "编辑.在文件中查找\n::g18",
    "F3": "编辑.查找下一个\n::g18",
    "Ctrl+F3": "编辑.查找下一个选定项\n::g18",
    "Ctrl+G": "编辑.转到\n::g18",
    "Ctrl+F12": "编辑.转到声明\n::g18",
    "F12": "编辑.转到定义\n::g18",
    "Ctrl+D": "复制Edit.Duplicate\n::g18",
    "F8": "差异.下一个差异\n::g38",
    "Tab": "编辑.选择下一个控件\n::g18",
    "Ctrl+L": "格式.转换为超链接\n::g44",
    "Alt+Shift+Down": "Graphics.MovePixelSelectionDown\n::g42",
    "Ctrl+Enter": "编辑.上开新行\n::g3",
    "Ctrl+J": "编辑.列出成员\n::g3",
    "Ctrl+,": "导航到\n::g3",
    "Ctrl+Shift+G": "编辑.打开文件\n::g18",
    ".": "编辑.改写模式\n::g3",
    "Ctrl+Shift+Space": "编辑.参数信息\n::g3",
    "Ctrl+V": "编辑.粘贴\n::g18",
    "Alt+F12": "编辑.查看定义\n::g3",
    "Ctrl+Y": "编辑.重做\n::g18",
    "Ctrl+H": "编辑.替换\n::g18",
    "Ctrl+A": "编辑.全选\n::g18",
    "Ctrl+W": "编辑.选择当前字\n::g3",
    "ESC": "编辑.取消选定\n::g47",
    "Ctrl+R": "其他上下文菜单.Microsoft数据实体设计上下文.重构.重命名\n::g34",
    "Shift+Tab": "编辑.选择上一个控件\n::g18",
    "Alt+Ctrl+Space": "切换完成模式\n::g3",
    "Ctrl+Z": "编辑.取消\n::g18",
    "Ctrl+Del": "编辑.移除行\n::g47",
    "Ctrl+Back": "编辑.字删除直至开始处\n::g3",
    "Alt+F4": "文件.退出\n::g20",
    "Ctrl+N": "文件.新建文件\n::g20",
    "Ctrl+Shift+N": "视图.ASP.NET非可视控件\n::g44",
    "Alt+Shift+N": "文件.新建网站\n::g20",
    "Ctrl+O": "文件.打开文件\n::g20",
    "Ctrl+Shift+O": "文件.打开项目\n::g20",
    "Alt+Shift+O": "文件.打开网站\n::g20",
    "F2": "编辑.编辑单元格\n::g47",
    "Ctrl+Shift+S": "文件.全部保存\n::g20",
    "Ctrl+S": "文件.保存选定项\n::g20",
    "Ctrl+Shift+W": "文件.在浏览器中查看\n::g20",
    "Alt+Shift+A": "项目.添加现有项\n::g23",
    "Ctrl+Shift+A": "项目.添加新项\n::g23",
    "Alt+Ctrl+P": "工具.附加到进程\n::g31",
    "Ctrl+Shift+C": "视图.类视图\n::g32",
    "Ctrl+\\+E": "视图.错误列表\n::g32",
    "Ctrl+-": "视图.向后定位\n::g32",
    "Ctrl+Shift+-": "视图.向前定位\n::g32",
    "Alt+Ctrl+J": "视图.对象浏览器\n::g32",
    "Alt+Ctrl+O": "视图.输出\n::g32",
    "F4": "视图.属性窗口\n::g32",
    "Alt+Ctrl+S": "视图.服务器资源管理器\n::g32",
    "Ctrl+.": "显示智能标记\t\n::g8",
    "Alt+Ctrl+L": "视图.解决方案资源管理器\n::g32",
    "Ctrl+\\": "差异.同步视图切换\n::g38",
    "Alt+Ctrl+X": "视图.工具箱\n::g32",
    "Shift+F7": "视图.视图设计器\n::g45",
    "Ctrl+F4": "窗口.关闭文档窗口\n::g33",
    "Ctrl+F6": "窗口.下一个文档窗口\n::g33",
    "Ctrl+Tab": "窗口.下一个文档窗口导航栏窗口.下一个文档窗口导航栏\n::g33",
    "F6": "\t窗口.下一个拆分窗格\n::g33",
    "Alt+Shift+3": "向后导航\n::g10",
    "Alt+Shift+4": "向前导航\n::g10",
    "Ctrl+NLock": "显示移动服务脚本错误详细信息\n::g12",
    "Alt+Enter": "类视图上下文菜单.类视图多选项目引用项.属性\n::g14",
    "Alt+F10": "调试.应用代码更改\n::g15",
    "Alt+Ctrl+V+A": "调试.自动窗口\n::g15",
    "Alt+Ctrl+B": "调试.断点\n::g15",
    "Alt+Ctrl+C": "其他上下文菜单.UI测试编辑器上下文菜单.移动代码\n::g36",
    "Alt+F2": "调试.诊断中心.启动\n::g15",
    "Alt+Ctrl+D": "其他上下文菜单.UI测试编辑器上下文菜单.在前面插入延迟\n::g36",
    "Alt+Ctrl+V+D": "调试.DOM资源管理器\n::g15",
    "Ctrl+F9": "调试.启用断点\n::g15",
    "Ctrl+K+B": "函数断点Debug.FunctionBreakpoint\n::g15",
    "Ctrl+Shift+F11": "调试.转到上一个调用或IntelliTrace事件\n::g15",
    "Alt+F5": "调试.图形.启动诊断\n::g15",
    "Alt+Ctrl+I": "调试.即时\n::g15",
    "Alt+Ctrl+Y+T": "调试.IntelliTrace调用\n::g15",
    "Alt+Ctrl+Y+F": "调试.IntelliTrace事件\n::g15",
    "Alt+Ctrl+V+C": "调试.JavaScript控制台\n::g15",
    "Alt+Ctrl+V+L": "调试.局部变量\n::g15",
    "Ctrl+5": "资源.文件\n::g47",
    "Ctrl+7": "调试.位置工具栏.堆栈帧组合框\n::g15",
    "Ctrl+6": "资源.其他\n::g47",
    "Ctrl+8": "调试.位置工具栏.切换当前线程标志状态\n::g15",
    "Ctrl+9": "调试.位置工具栏.切换标记的线程\n::g15",
    "Alt+Ctrl+M+1": "调试.内存1\n::g15",
    "Alt+Ctrl+M+2": "调试.内存2\n::g15",
    "Alt+Ctrl+M+3": "调试.内存3\n::g15",
    "Alt+Ctrl+M+4": "调试.内存4\n::g15",
    "Alt+Ctrl+U": "调试.模块\n::g15",
    "Ctrl+D+Shift+S": "调试.并行堆栈\n::g15",
    "Ctrl+D+Shift+1": "调试.并行监视1\n::g15",
    "Ctrl+D+Shift+2": "调试.并行监视2\n::g15",
    "Ctrl+D+Shift+3": "调试.并行监视3\n::g15",
    "Ctrl+D+Shift+4": "调试.并行监视4\n::g15",
    "Alt+Ctrl+Z": "调试.进程\n::g15",
    "Shift+F9": "调试.快速监视\n::g15",
    "Alt+Shift+P": "重新附加到进程Debug.ReattachtoProcess\n::g15",
    "Ctrl+Shift+R": "刷新Windows应用Debug.RefreshWindowsapp\n::g15",
    "Alt+Ctrl+G": "调试.寄存器\n::g15",
    "Ctrl+Shift+`": "调试.在代码图上显示调用堆栈\n::g15",
    "Alt+NLock": "调试.显示下一语句\n::g15",
    "Alt+F1": "调试.启动WindowsPhone应用程序分析\n::g15",
    "Alt+Ctrl+F11": "调试.进入并单步执行当前进程\n::g15",
    "Alt+Shift+F11": "调试.单步执行特定函数\n::g15",
    "Alt+Ctrl+Shift+F11": "调试.跳出当前进程\n::g15",
    "Alt+Ctrl+F10": "调试.逐过程执行当前进程\n::g15",
    "Alt+Shift+F2": "调试.停止性能分析\n::g15",
    "Ctrl+D+Shift+K": "调试.任务\n::g15",
    "Alt+Ctrl+H": "调试.线程\n::g15",
    "Ctrl+F11": "调试.切换反汇编\n::g15",
    "Alt+Ctrl+W+1": "调试.监视1\n::g15",
    "Alt+Ctrl+W+2": "调试.监视2\n::g15",
    "Alt+Ctrl+W+3": "调试.监视3\n::g15",
    "Alt+Ctrl+W+4": "调试.监视4\n::g15",
    "Alt+F9+D": "调试器上下文菜单.断点窗口.删除\n::g16",
    "Alt+F9+A": "调试器上下文菜单.断点窗口.转到反汇编\n::g16",
    "Alt+F9+S": "调试器上下文菜单.断点窗口.转到源代码\n::g16",
    "Alt+Ctrl+F2": "诊断中心.停止收集\n::g17",
    "Ctrl+Shift+V": "编辑.循环应用剪贴板中的复制项\n::g18",
    "Shift+F3": "编辑.查找上一个\n::g18",
    "Ctrl+Shift+F3": "编辑.查找上一个选定项\n::g18",
    "Ctrl+T": "转到全部\tEdit.GoToAll\n::g18",
    "Ctrl+1": "资源.字符串\n::g47",
    "Shift+F8": "差异.上一个差异\n::g38",
    "Ctrl+Down": "编辑.下移控件\n::g44",
    "Down": "编辑.将控件移动到下侧网格\n::g18",
    "Ctrl+Left": "编辑.左移控件\n::g18",
    "Left": "编辑.将控件移动到左侧网格\n::g18",
    "Ctrl+Right": "编辑.右移控件\n::g18",
    "Right": "编辑.将控件移动到右侧网格\n::g18",
    "Ctrl+Up": "编辑.上移控件\n::g44",
    "Up": "编辑.将控件移动到上侧网格\n::g18",
    "Ctrl+Shift+K": "体系结构上下文菜单.定向关系图上下文菜单.新注释\n::g41",
    "Alt+Shift+F12": "编辑.快速查找符号\n::g18",
    "Ctrl+Shift+J": "编辑.刷新远程引用\n::g18",
    "Ctrl+Shift+H": "编辑.在文件中替换\n::g18",
    "Ctrl+Shift+Down": "编辑.向下调大控件大小\n::g18",
    "Shift+Down": "编辑.将控件调大到下侧网格\n::g18",
    "Ctrl+Shift+Left": "编辑.向左调整控件大小\n::g18",
    "Shift+Left": "编辑.将控件调大到左侧网格\n::g18",
    "Ctrl+Shift+Right": "编辑.向右调整控件大小\n::g18",
    "Shift+Right": "编辑.将控件调大到右侧网格\n::g18",
    "Ctrl+Shift+Up": "编辑.向上调整控件大小\n::g18",
    "Shift+Up": "编辑.将控件调大到上侧网格\n::g18",
    "Alt+F3+S": "编辑.停止搜索\n::g18",
    "Alt+F9+C": "断点条件EditorContextMenus.CodeWindow.Breakpoint.BreakpointConditions\n::g19",
    "Alt+F9+L": "编辑器上下文菜单.代码窗口.断点.断点编辑标签\n::g19",
    "Alt+F9+Shift+T": "编辑器上下文菜单.代码窗口.断点.插入临时断点\n::g19",
    "Ctrl+`": "团队.团队资源管理器搜索\n::g27",
    "Alt+Ctrl+F5": "编辑器上下文菜单.代码窗口.执行\n::g19",
    "Ctrl+K+T": "编辑器上下文菜单.代码窗口.查看调用层次结构\n::g19",
    "Ctrl+P": "文件.打印\n::g20",
    "Alt+Ctrl+F1": "帮助.添加和移除帮助内容\n::g21",
    "F1": "帮助.F1帮助\n::g21",
    "Ctrl+F1": "查看帮助\tHelp.ViewHelp\n::g21",
    "Shift+F1": "帮助.窗口帮助\n::g21",
    "Ctrl+R+Q": "\t负载测试.跳至计数器窗格\n::g22",
    "Ctrl+Shift+X": "项目.类向导\n::g23",
    "Alt+;": "项目.替换服务器上的选定文件\n::g23",
    "Alt+Down": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向下\n::g34",
    "Alt+Up": "\t其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向上\n::g34",
    "Ctrl+[+O": "解决方案资源管理器.打开文件筛选器\n::g26",
    "Ctrl+[+P": "解决方案资源管理器.挂起更改筛选器\n::g26",
    "Ctrl+[+S": "解决方案资源管理器.与活动文档同步\n::g26",
    "0+Ctrl+N": "团队.Git.转到Git分支\n::g27",
    "0+Ctrl+G": "团队.Git.转到Git更改\n::g27",
    "0+Ctrl+O": "团队.Git.转到Git提交\n::g27",
    "0+Ctrl+B": "TeamFoundation上下文菜单.命令.转到生成\n::g28",
    "0+Ctrl+C": "TeamFoundation上下文菜单.命令.转到连接\n::g28",
    "0+Ctrl+D": "TeamFoundation上下文菜单.命令.转到文档\n::g28",
    "0+Ctrl+H": "TeamFoundation上下文菜单.命令.转到主页\n::g28",
    "0+Ctrl+M": "TeamFoundation上下文菜单.命令.转到我的工作\n::g28",
    "0+Ctrl+P": "TeamFoundation上下文菜单.命令.转到挂起的更改\n::g28",
    "0+Ctrl+R": "TeamFoundation上下文菜单.命令.转到报告\n::g28",
    "0+Ctrl+S": "TeamFoundation上下文菜单.命令.转到设置\n::g28",
    "0+Ctrl+A": "TeamFoundation上下文菜单.命令.转到Web访问\n::g28",
    "0+Ctrl+W": "TeamFoundation上下文菜单.命令.转到工作项\n::g28",
    "Ctrl+R+D": "调试上次运行\tTestExplorer.DebugLastRun\n::g30",
    "Ctrl+R+L": "测试资源管理器.重复上次运行\n::g30",
    "Ctrl+R+T": "测试资源管理器.运行上下文中的所有测试\n::g30",
    "Ctrl+R+A": "测试资源管理器.运行所有测试\n::g30",
    "Ctrl+E+T": "显示测试资源管理器TestExplorer.ShowTestExplorer\n::g32",
    "Ctrl+E+L": "打开选项卡\tLiveUnitTesting.OpenTab\n::g30",
    "Ctrl+E+C": "体系结构上下文菜单.定向关系图上下文菜单.新注释\n::g41",
    "Alt+Ctrl+Shift+F12": "工具.强制GC\n::g31",
    "Alt+Shift+M": "视图.所有窗口\n::g32",
    "Alt+Left": "视图.向后\n::g32",
    "Ctrl+Shift+1": "视图.浏览下一个\n::g32",
    "Ctrl+Shift+2": "视图.浏览上一个\n::g32",
    "Alt+Ctrl+K": "视图.调用层次结构\n::g32",
    "Ctrl+\\+D": "视图.代码定义窗口\n::g32",
    "Alt+Ctrl+A": "视图.命令窗口\n::g32",
    "Alt+Shift+D": "数据源\tView.DataSources\n::g32",
    "Alt+Ctrl+T": "视图.文档大纲\n::g32",
    "Alt+Ctrl+F": "视图.F#Interactive\n::g32",
    "Alt+Ctrl+F12": "视图.查找符号结果\n::g32",
    "Ctrl+Shift+7": "视图.向前浏览上下文\n::g32",
    "Alt+Shift+Enter": "视图.全屏\n::g32",
    "Ctrl+Shift+F12": "视图.下一个错误\n::g32",
    "Ctrl+W+N": "视图.通知\n::g32",
    "Ctrl+Shift+8": "Pop浏览上下文View.PopBrowseContext\n::g32",
    "Shift+F4": "视图.属性页\n::g32",
    "Ctrl+Shift+E": "视图.资源视图\n::g32",
    "Alt+Shift+F10": "视图.显示智能标记\n::g44",
    "Ctrl+\\+T": "视图.任务列表\n::g32",
    "F7": "视图.查看代码\n::g32",
    "Alt+Ctrl+R": "视图.Web浏览器\n::g32",
    "Ctrl+Shift+.": "视图.放大\n::g32",
    "Ctrl+Shift+,": "\t视图.缩小\n::g32",
    "Alt+Ctrl+Shift+Space": "窗口.将选项卡添加到所选内容\n::g33",
    "Shift+ESC": "窗口.关闭工具窗口\n::g33",
    "Alt+Ctrl+Home": "窗口.将选项卡保持打开状态\n::g33",
    "Ctrl+F2": "窗口.移动到导航栏\n::g33",
    "Alt+F6": "窗口.下一窗格\n::g33",
    "Alt+Ctrl+PgDn": "窗口.下一选项卡\n::g33",
    "Alt+Ctrl+Shift+PgDn": "Window.NextTabandAddtoSelection\n::g33",
    "Alt+F7": "窗口.下一个工具窗口导航栏\n::g33",
    "Ctrl+Shift+F6": "窗口.上一个文档窗口\n::g33",
    "Ctrl+Shift+Tab": "窗口.上一个文档窗口导航栏\n::g33",
    "Alt+Shift+F6": "窗口.上一窗格\n::g33",
    "Shift+F6": "窗口.上一个拆分窗格\n::g33",
    "Alt+Ctrl+PgUp": "窗口.上一选项卡\n::g33",
    "Alt+Ctrl+Shift+PgUp": "Window.PreviousTabandAddtoSelection\n::g33",
    "Alt+Shift+F7": "窗口.上一个工具窗口导航栏\n::g33",
    "Ctrl+Q": "窗口.快速启动\n::g33",
    "Ctrl+Shift+Q": "\t窗口.快速启动以前分类\n::g33",
    "Alt+-": "窗口.显示停靠菜单\n::g33",
    "Alt+Ctrl+Down": "表.下面的行\n::g44",
    "Ctrl+;": "窗口.解决方案资源管理器搜索\n::g33",
    "Alt+‘": "窗口.窗口搜索\n::g33",
    "Alt+PgDn": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向下5\n::g34",
    "Alt+End": "\t其他上下文菜单.Microsoft数据实体设计上下文.移动属性.到底部\n::g34",
    "Alt+Home": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.到顶部\n::g34",
    "Alt+PgUp": "其他上下文菜单.Microsoft数据实体设计上下文.移动属性.向上5\n::g34",
    "Ctrl+2": "资源.图像\n::g47",
    "-": "类图.折叠\n::g35",
    "+": "\t类图.展开\n::g35",
    "Alt+Shift+B": "编辑.展开折叠基类型列表\n::g35",
    "Alt+Shift+L": "其他上下文菜单.UI测试编辑器上下文菜单.查找全部\n::g36",
    "Del": "编辑.移除\n::g47",
    "Ctrl+Shift+L": "格式.插入书签\n::g44",
    "Ctrl+Shift+T": "其他上下文菜单.UI测试编辑器上下文菜单.拆分成新方法\n::g36",
    "‘": "体系结构上下文菜单.定向关系图上下文菜单.高级.添加.添加节点\n::g41",
    "Ctrl+Shift+P": "编辑器上下文菜单.代码窗口.编辑本地文件\n::g38",
    "Ctrl+Shift+I": "DOM资源管理器.显示布局\n::g39",
    "B": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.两个依赖项\n::g41",
    "I": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.传入依赖项\n::g41",
    "O": "体系结构上下文菜单.定向关系图上下文菜单.高级.选择.传出依赖项\n::g41",
    "Alt+Shift+Left": "Graphics.MovePixelSelectionLeft\n::g42",
    "Alt+Shift+Right": "Graphics.MovePixelSelectionRight\n::g42",
    "Alt+Shift+Up": "Graphics.MovePixelSelectionUp\n::g42",
    "Alt+Shift+0": "Graphics.ZoomToActualSize\n::g42",
    "Alt+Shift+9": "\tGraphics.ZoomToFitInWindow\n::g42",
    "Alt+Shift+=": "\tGraphics.ZoomIn\n::g42",
    "Alt+Shift+-": "\tGraphics.ZoomOut\n::g42",
    "Ctrl+I": "格式.斜体\n::g44",
    "Ctrl+U": "格式.下划线\n::g44",
    "Alt+Ctrl+Left": "表.左侧列\n::g44",
    "Alt+Ctrl+Right": "表.右侧列\n::g44",
    "Alt+Ctrl+Up": "表.上面的行\n::g44",
    "Ctrl+PgDn": "视图.下一个视图\n::g45",
    "Ctrl+PgUp": "窗口.上一选项卡\n::g45",
    "Ctrl+Shift+Y": "视图.同步视图\n::g45",
    "Ctrl+4": "资源.音频\n::g47",
    "Ctrl+3": "资源.图标\n::g47",
    "Alt+1": "TeamFoundation上下文菜单.合并上下文菜单.在左侧窗口上设置焦点\n::g48",
    "Alt+2": "TeamFoundation上下文菜单.合并上下文菜单.在结果窗口上设置焦点\n::g48",
    "Alt+3": "TeamFoundation上下文菜单.合并上下文菜单.在右侧窗口上设置焦点\n::g48"
  },
  "#1": {
    "Ctrl+Shift+B": "生成.生成解决方案\n::g1",
    "Ctrl": "生成.取消\n::g1",
    "Ctrl+F7": "生成.编译\n::g1",
    "Alt+F11": "生成.对解决方案运行代码分析\n::g1",
    "#name": "一、文件"
  },
  "#2": {
    "Ctrl+B": "调试.在函数处中断\n::g2",
    "Ctrl+Alt": "调试.全部中断\n::g2",
    "Ctrl+Shift+F9": "调试.删除所有断点\n::g2",
    "Alt+Ctrl+E": "调试.异常\n::g2",
    "Alt+Ctrl+Q": "调试.快速监视\n::g2",
    "Ctrl+Shift+F5": "调试.重新启动\n::g2",
    "Ctrl+F10": "调试.运行到光标处\n::g2",
    "Ctrl+Shift+F10": "调试.设置下一语句\n::g2",
    "F5": "调试.启动\n::g2",
    "Ctrl+F5": "调试.开始执行不调试\n::g2",
    "F11": "调试.逐语句\n::g2",
    "Shift+F11": "调试.跳出\n::g2",
    "F10": "调试.逐过程\n::g2",
    "Shift+F5": "调试.停止调试\n::g2",
    "F9": "\t调试.切换断点\n::g2",
    "#name": "二、编辑"
  },
  "#3": {
    "Enter": "编辑.分行\n::g3",
    "Ctrl+M": "切换大纲显示展开\n::g3",
    "Ctrl+K": "编辑.取消注释选定内容\n::g3",
    "Alt+Right": "编辑.完成单词\n::g3",
    "Ctrl+C": "编辑.复制\n::g3",
    "Ctrl+X": "编辑.剪切\n::g3",
    "Shift+Del": "编辑.删除\n::g3",
    "Ctrl+F": "编辑.格式化选定内容\n::g3",
    "Shift+F12": "编辑.查找所有引用\n::g3",
    "Ctrl+Shift+F": "编辑.在文件中查找\n::g3",
    "F3": "编辑.查找下一个\n::g3",
    "Ctrl+F3": "编辑.查找下一个选定项\n::g3",
    "Ctrl+G": "编辑.转到\n::g3",
    "Ctrl+F12": "编辑.转到声明\n::g3",
    "F12": "\t编辑.转到定义\n::g3",
    "Ctrl+D": "\t编辑.转到查找组合框\n::g3",
    "F8": "编辑.转到下一个位置\n::g3",
    "Tab": "编辑.插入制表符\n::g3",
    "Ctrl+L": "编辑.剪切行\n::g3",
    "Alt+Shift+Down": "编辑.向下扩展列\n::g3",
    "Ctrl+Enter": "编辑.上开新行\n::g3",
    "Ctrl+J": "编辑.列出成员\n::g3",
    "Ctrl+,": "导航到\n::g3",
    "Ctrl+Shift+G": "编辑.打开文件\n::g3",
    ".": "编辑.改写模式\n::g3",
    "Ctrl+Shift+Space": "编辑.参数信息\n::g3",
    "Ctrl+V": "编辑.粘贴\n::g3",
    "Alt+F12": "编辑.查看定义\n::g3",
    "Ctrl+Y": "编辑.重做\n::g3",
    "Ctrl+H": "\t编辑.替换\n::g3",
    "Ctrl+A": "\t编辑.全选\n::g3",
    "Ctrl+W": "编辑.选择当前字\n::g3",
    "ESC": "编辑.取消选定\n::g3",
    "Ctrl+R": "对Using进行删除和排序\n::g3",
    "Shift+Tab": "编辑.左缩进\n::g3",
    "Alt+Ctrl+Space": "切换完成模式\n::g3",
    "Ctrl+Z": "编辑.取消\n::g3",
    "Ctrl+Del": "编辑.字删除直至结尾处\n::g3",
    "Ctrl+Back": "编辑.字删除直至开始处\n::g3",
    "#name": "三、图像"
  },
  "#4": {
    "Alt+F4": "退出\n::g4",
    "Ctrl+N": "新建文件\n::g4",
    "Ctrl+Shift+N": "新建项目\n::g4",
    "Alt+Shift+N": "新建网站\n::g4",
    "Ctrl+O": "打开文件\n::g4",
    "Ctrl+Shift+O": "打开项目\n::g4",
    "Alt+Shift+O": "打开网站\n::g4",
    "F2": "重命名\n::g4",
    "Ctrl+Shift+S": "全部保存\n::g4",
    "Ctrl+S": "保存选定项\n::g4",
    "Ctrl+Shift+W": "在浏览器中查看\n::g4",
    "#name": "四、图层"
  },
  "#5": {
    "Alt+Shift+A": "添加现有项\n::g5",
    "Ctrl+Shift+A": "添加新项\n::g5",
    "#name": "五、选择"
  },
  "#6": {
    "Ctrl+R": "提取方法\n::g6",
    "#name": "六、画布和显示操作"
  },
  "#7": {
    "Alt+Ctrl+P": "附加到进程\n::g7",
    "#name": "七、选择工具"
  },
  "#8": {
    "Ctrl+Shift+C": "类视图\n::g8",
    "F2": "编辑标签\t\n::g8",
    "Ctrl+\\+E": "错误列表\t\n::g8",
    "Ctrl+-": "向后导航\t\n::g8",
    "Ctrl+Shift+-": "向前导航\t\n::g8",
    "Alt+Ctrl+J": "对象浏览器\t\n::g8",
    "Alt+Ctrl+O": "输出\t\n::g8",
    "F4": "“属性”窗口\t\n::g8",
    "F5": "刷新\n::g8",
    "Alt+Ctrl+S": "服务器资源管理器\t\n::g8",
    "Ctrl+.": "显示智能标记\t\n::g8",
    "Alt+Ctrl+L": "解决方案资源管理器\t\n::g8",
    "Ctrl+\\": "TFS团队资源管理器\t\n::g8",
    "Alt+Ctrl+X": "工具箱\n::g8",
    "Enter": "查看代码\n::g8",
    "Shift+F7": "视图设计器\n::g8",
    "#name": "八、画笔和涂抹工具"
  },
  "#9": {
    "ESC": "激活文档窗口\n::g9",
    "Ctrl+F4": "关闭文档窗口\n::g9",
    "Ctrl+F6": "下一个文档窗口\t\n::g9",
    "Ctrl+Tab": "下一个文档窗口导航\t\n::g9",
    "F6": "下一个拆分窗格\t\n::g9",
    "#name": "九、渐变和涂抹工具"
  }
}