{
  "#version": "3.0.0-beta-1",
  "#config": {
    "uimode": "single",
    "layout": "pc",
    "layers": "7",
    "view": "k",
    "kbsize": 2,
    "kbext": true,
    "kbhint": true,
    "showall": false,
    "ks1": "0.75",
    "kw1": "3",
    "kh1": "3",
    "ks2": "0.9",
    "kw2": "5",
    "kh2": "5",
    "kt2": "0.75",
    "c0": "black",
    "c1": "lightblue",
    "c2": "lightseagreen",
    "c3": "black",
    "c4": "whitesmoke",
    "kb-bgc": "lightgray",
    "kb-bdc": "gray",
    "cols": 2,
    "extkeys": [
      "#鼠标",
      "LB",
      "RB",
      "MB",
      "WhlUp",
      "WhlDn"
    ],
    "modkeys": [],
    "modkey_colors": {
      "Alt": "#e53935",
      "Ctrl": "#00c853",
      "Shift": "#1976d2",
      "Win": "#7c4dff",
      "RAlt": "#e53935/",
      "RCtrl": "#00c853/",
      "RShift": "#1976d2/",
      "opt": "#e53935",
      "ctrl": "#00c853",
      "shift": "#1976d2",
      "cmd": "#7c4dff",
      "r-opt": "#e53935/",
      "r-ctrl": "#00c853/",
      "r-shift": "#1976d2/",
      "r-cmd": "#7c4dff/",
      "fn": "#ffc400"
    },
    "modkey_chars": {
      "Alt": "A",
      "Ctrl": "C",
      "Shift": "S",
      "Win": "W",
      "RAlt": "a",
      "RCtrl": "c",
      "RShift": "s",
      "opt": "o",
      "ctrl": "c",
      "shift": "s",
      "cmd": "m",
      "r-opt": "O",
      "r-ctrl": "C",
      "r-shift": "S",
      "r-cmd": "M",
      "fn": "f"
    },
    "modkey_mode": "chr",
    "modkey_clr": true,
    "modkey_clr_list": true,
    "mod-cs2": "0.7",
    "mod-ds2": "0.5",
    "groups": {
      "g1": [
        "#ACE1AF",
        "复制、粘贴及其他常规的键盘快捷方式"
      ],
      "g2": [
        "#F7CAC9",
        "Windows徽标键键盘快捷方式"
      ],
      "g3": [
        "#E7E28C",
        "命令提示符键盘快捷方式"
      ],
      "g4": [
        "#BFBD50",
        "对话框键盘快捷方式"
      ],
      "g5": [
        "#DCAE96",
        "文件资源管理器键盘快捷方式"
      ],
      "g6": [
        "#FAA052",
        "虚拟桌面的键盘快捷方式"
      ],
      "g7": [
        "#8ED449",
        "任务栏键盘快捷方式"
      ],
      "g8": [
        "#F2CB07",
        ""
      ],
      "g9": [
        "#BBBBBB",
        ""
      ]
    },
    "comment-font-size": "0.9",
    "show_comment": true,
    "show_cnt": true,
    "list_by": "group"
  },
  "#0": {
    "#comment": "逍遥制作；小众论坛（https://meta.appinn.net) ID（@lch319）\n最后更新于 20240204\n根据微软官网制作\n来源：https://support.microsoft.com/zh-cn/windows/windows-%E7%9A%84%E9%94%AE%E7%9B%98%E5%BF%AB%E6%8D%B7%E6%96%B9%E5%BC%8F-dcc61a57-8ff0-cffe-9796-cb9706c75eec\n\ng1：复制、粘贴及其他常规的键盘快捷方式\ng2：Windows徽标键键盘快捷方式\ng4：对话框键盘快捷方式[独立]\ng6: 虚拟桌面的键盘快捷方式\ng3：命令提示符键盘快捷方式\ng5：文件资源管理器键盘快捷方式\ng7：任务栏键盘快捷方式",
    "Ctrl+X": "* 剪切选定项\n::g1",
    "Ctrl+C": "* 复制选定项\n::g1",
    "Ctrl+Ins": "* 复制选定项\n::g1",
    "Ctrl+V": "* 粘贴选定项\n::g1",
    "Ctrl+Z": "* 撤销操作\n::g1",
    "Shift+Ins": "粘贴选定项\n::g1",
    "Alt+Tab": "在打开的应用之间切换\n::g1",
    "Alt+F4": "关闭活动项或者退出活动应用\n::g1",
    "Win+L": "锁定你的电脑或切换帐户\n::g1",
    "Win+D": "* 显示/隐藏桌面\n::g1",
    "F2": "重命名所选项目\n::g1",
    "F3": "在文件资源管理器中搜索文件或文件夹\n::g1",
    "F4": "在文件资源管理器中显示地址栏列表\n::g1",
    "F5": "刷新活动窗口\n::g1",
    "F6": "循环浏览窗口中或桌面上的屏幕元素\n::g1",
    "F10": "激活活动应用中的菜单栏\n::g1",
    "Alt+F8": "在登录屏幕上显示你的密码\n::g1",
    "Alt+Esc": "按项目打开顺序循环浏览\n::g1",
    "Alt+Enter": "显示所选项目的属性\n::g1",
    "Alt+Space": "打开活动窗口的快捷菜单\n::g1",
    "Alt+Left": "返回\n::g1",
    "Alt+Right": "前进\n::g1",
    "Ctrl+F4": "关闭活动文档（在可全屏显示并允许你同时打开多个文档的应用中）\n::g1",
    "Ctrl+A": "* 选择文档或窗口中的所有项目\n::g1",
    "Ctrl+D": "删除选定项，将其移至回收站。\n::g1",
    "Ctrl+Del": "* 删除选定项，将其移至回收站。\n::g1",
    "Ctrl+E": "打开搜索（在大多数应用中）\n::g1",
    "Ctrl+R": "刷新活动窗口\n::g1",
    "Ctrl+Y": "* 恢复操作\n::g1",
    "Ctrl+Right": "将光标移动到下一个字词的起始处\n::g1",
    "Ctrl+Left": "将光标移动到上一个字词的起始处\n::g1",
    "Ctrl+Down": "将光标移动到下一段落的起始处\n::g1",
    "Ctrl+Up": "将光标移动到上一段落的起始处\n::g1",
    "Alt+Ctrl+Tab": "使用箭头键在所有打开的应用之间进行切换\n::g1",
    "Alt+Shift+Down": "当组或磁贴的焦点放在“开始”菜单上时，可将其朝指定方向移动\n::g1",
    "Ctrl+Shift+Down": "当磁贴的焦点放在“开始”菜单上时，将其移到另一个磁贴即可创建一个文件夹。\n::g1",
    "Ctrl+Esc": "打开“开始”菜单\n::g1",
    "Ctrl+Shift+Esc": "打开任务管理器\n::g1",
    "Ctrl+Space": "打开或关闭中文输入法编辑器 (IME)\n::g1",
    "Shift+F10": "显示选定项的快捷菜单\n::g1",
    "Shift+Down": "在窗口中或桌面上选择多个项目，或在文档中选择文本\n::g1",
    "Shift+Del": "删除选定项，无需先移动到回收站\n::g1",
    "Esc": "停止或离开当前任务\n::g1",
    "PrtScr": "捕获整个屏幕的屏幕截图并将其复制到剪贴板。\n::g1",
    "Alt+PgUp": "向上移动一个屏幕\n::g1",
    "Alt+PgDn": "向下移动一个屏幕\n::g1",
    "Win": "打开或关闭“开始”菜单\n\n+数字。打开桌面，然后启动固定到任务栏的应用（位于数字所指明的位置）。 如果应用已处于运行状态，则切换至该应用\n::g2",
    "Win+A": "打开快速设置\n::g2",
    "Win+B": "* 将焦点设置为任务栏角落的第一个图标\n::g2",
    "Win+C": "从Microsoft Teams打开聊天\n::g2",
    "Shift+Win+C": "打开超级按钮菜单\n::g2",
    "Ctrl+Win+C": "打开颜色筛选器（在颜色筛选器设置中首先启用此快捷方式）\n::g2",
    "Win+E": "* 打开文件资源管理器\n::g2",
    "Win+F": "打开反馈中心并获取屏幕截图\n::g2",
    "Win+G": "打开 Xbox Game Bar\n\n（当游戏处于打开状态时）\n::g2",
    "Alt+Win+B": "打开Xbox Game Bar（当游戏处于打开状态时）\n::g2",
    "Win+H": "* 启动语音键入\n::g2",
    "Win+I": "打开设置\n::g2",
    "Win+J": "请将焦点设置到可用的Windows提示。\n\n当出现 Windows 提示时，请将焦点移到提示上。  再次按下键盘快捷方式，将焦点放在屏幕上 Windows 提示所固定的元素上\n::g2",
    "Win+K": "从“快速设置”打开“投放”\n::g2",
    "Win+M": "* 最小化所有窗口\n::g2",
    "Shift+Win+M": "还原桌面上的最小化窗口\n::g2",
    "Win+O": "锁定设备方向\n::g2",
    "Win+P": "* 选择演示显示模式\n::g2",
    "Ctrl+Win+Q": "打开快速助手\n::g2",
    "Win+R": "* 打开“运行”对话框\n::g2",
    "Alt+Win+R": "在焦点中录制游戏窗口的视频（使用Xbox Game Bar）\n::g2",
    "Win+S": "* 打开搜素\n::g2",
    "Shift+Win+S": "获取部分屏幕的屏幕截图\n::g2",
    "Win+U": "打开辅助功能设置\n::g2",
    "Win+V": "打开剪贴板历史记录\n\n注意：默认情况下，剪贴板历史记录未打开。 如果要打开它，请使用此键盘快捷方式，然后选择提示以打开历史记录。 或者，可以选择开始>设置>系统>剪贴板，然后打开剪贴板历史记录下的开关。\n::g2",
    "Shift+Win+V": "将焦点设置到通知\n::g2",
    "Win+W": "打开小组件\n::g2",
    "Win+X": "打开“快速链接”菜单\n::g2",
    "Win+Y": "在Windows Mixed Reality与桌面之间切换输入\n::g2",
    "Win+Z": "打开对齐布局\n::g2",
    "Win+.": "打开表情符号面板\n::g2",
    "Win+;": "打开表情符号面板\n::g2",
    "Win+,": "临时速览桌面\n::g2",
    "Win+Pause": "打开设置>系统>关于\n::g2",
    "Ctrl+Win+F": "搜索电脑（如果已连接到网络）\n::g2",
    "Win+1": "+数字。打开桌面，然后启动固定到任务栏的应用（位于数字所指明的位置）。 如果应用已处于运行状态，则切换至该应用\n::g2",
    "Shift+Win+1": "+数字。打开桌面，然后启动固定到任务栏的应用新实例（位于数字所指明的位置）\n::g2",
    "Ctrl+Win+1": "+数字。打开桌面，然后切换至固定到任务栏的应用的最后活动窗口（位于数字所指明的位置）\n::g2",
    "Alt+Win+1": "+数字。打开桌面，然后打开固定到任务栏的应用的“跳转列表”（位于数字所指明的位置\n::g2",
    "Ctrl+Shift+Win+1": "+数字。打开桌面，然后以管理员身份打开位于任务栏上指定位置的应用新实例\n::g2",
    "Win+Tab": "* 打开任务视图\n::g2",
    "Win+Up": "最大化窗口\n::g2",
    "Alt+Win+Up": "将焦点中的窗口贴靠到屏幕的上半部分\n::g2",
    "Win+Down": "将当前应用从屏幕上移除或最小化桌面窗口\n::g2",
    "Alt+Win+Down": "将焦点窗口贴靠到屏幕下半部分\n::g2",
    "Win+Left": "最大化屏幕左侧的应用或桌面窗口\n::g2",
    "Win+Right": "最大化屏幕右侧的应用或桌面窗口\n::g2",
    "Win+Home": "最小化活动桌面窗口之外的所有窗口（在第二个笔划时还原所有窗口）\n::g2",
    "Shift+Win+Up": "将桌面窗口拉伸至屏幕顶部和底部\n::g2",
    "Shift+Win+Down": "在垂直方向上还原/最小化活动桌面窗口，而宽度保持不变\n::g2",
    "Shift+Win+Left": "将桌面上的应用或窗口从一台显示器移动至另一台显示器\n::g2",
    "Shift+Win+Right": "将桌面上的应用或窗口从一台显示器移动至另一台显示器\n::g2",
    "Shift+Win+Space": "在语言和键盘布局中向后循环\n::g2",
    "Win+Space": "切换输入语言和键盘布局\n::g2",
    "Ctrl+Win+Space": "对之前选择的输入所做的更改\n::g2",
    "Ctrl+Win+Enter": "打开“讲述人”\n::g2",
    "Win+=": "打开放大镜并放大\n::g2",
    "Win+-": "缩小放大镜\n::g2",
    "Win+Esc": "关闭放大镜\n::g2",
    "Win+/": "开始输入法复原流程\n::g2",
    "Ctrl+Shift+Win+B": "从空白或黑屏唤醒电脑\n::g2",
    "Win+PrtScr": "将全屏屏幕截图保存到文件\n::g2",
    "Alt+Win+PrtScr": "将焦点中的游戏窗口的屏幕截图保存到文件（使用Xbox Game Bar）\n::g2",
    "Ctrl+Win+D": "添加虚拟桌面\n::g6",
    "Ctrl+Win+Left": "在你于左侧创建的虚拟桌面之间切换\n::g6",
    "Ctrl+Win+Right": "在你于右侧创建的虚拟桌面之间切换\n::g6",
    "Ctrl+Win+F4": "关闭你正在使用的虚拟桌面\n::g6",
    "Alt+Win+H": "将键盘焦点移动到语音键入对话框\n::g2",
    "Win+N": "* 打开通知中心和日历\n::g2",
    "Alt+Win+N": "打开“讲述人”设置\n::g2",
    "Ctrl+Win+S": "打开Windows语音识别\n::g2",
    "Ctrl+Win+O": "* 打开屏幕键盘\n::g2",
    "Alt+LB": "开始在块模式下选择\n::g3",
    "PgUp": "将光标向上移动一个页面\n::g3",
    "PgDn": "将光标向下移动一个页面\n::g3",
    "Ctrl+Home": "将光标移动到缓冲区的起始处\n（标记模式）\n\n如果命令行为空，则将视区移动到缓冲区顶部。 否则，请删除命令行中光标左侧的所有字符\n（历史记录导航）\n::g3",
    "Ctrl+End": "将光标移动到缓冲区的结尾处\n（标记模式）\n\n如果命令行为空，则将视区移动到命令行。 否则，请删除命令行中光标右侧的所有字符\n（历史记录导航）\n::g3",
    "Ctrl+M": "进入标记模式\n::g3",
    "Win+T": "循环浏览任务栏上的应用\n::g2",
    "Alt+D": "选择地址栏\n::g5",
    "Ctrl+F": "* 选择搜索框\n::g5",
    "Ctrl+W": "* 关闭活动窗口\n::g5",
    "Ctrl+WhlUp": "更改文件和文件夹图标的大小和外观\n::g5",
    "Ctrl+Shift+E": "显示选定文件夹上的所有文件夹\n::g5",
    "Ctrl+N": "打开新窗口\n::g5",
    "Ctrl+Shift+N": "创建新文件夹\n::g5",
    "Alt+P": "显示预览面板\n::g5",
    "Alt+Up": "查看该文件夹所在的文件夹\n::g5",
    "End": "显示活动窗口底部\n::g5",
    "Home": "显示活动窗口顶部\n::g5",
    "F11": "最大化或最小化活动窗口\n::g5",
    "Shift+LB": "按住shift。连续多选\n\n+单击任务栏按钮。打开应用或快速打开另一个应用实例\n::g7",
    "Ctrl+Shift+LB": "+单击任务栏按钮。打开应用或快速打开另一个应用实例\n::g7",
    "Shift+RB": "+右键单击任务栏按钮。显示应用的窗口菜单\n+右键单击分组任务栏按钮。显示组的窗口菜单\n::g7",
    "Ctrl+LB": "按住Ctrl。不连续多选\n\n+单击分组任务栏按钮。循环浏览组的窗口\n::g7",
    "#name": "全部[逍遥制作]",
    "Shift+Win+R": "获取视频截图\n::g2"
  },
  "#1": {
    "#comment": "g2：dows徽标键键盘快捷方式\ng6: 虚拟桌面的键盘快捷方式",
    "Win": "打开或关闭“开始”菜单\n+数字 \n打开桌面，然后启动固定到任务栏的应用（位于数字所指明的位置）。 如果应用已处于运行状态，则切换至该应用\n::g2",
    "Win+A": "打开快速设置\n::g2",
    "Win+B": "将焦点设置为任务栏角落的第一个图标\n::g2",
    "Win+C": "从Microsoft Teams打开聊天\n::g2",
    "Shift+Win+C": "打开超级按钮菜单\n::g2",
    "Ctrl+Win+C": "打开颜色筛选器（在颜色筛选器设置中首先启用此快捷方式）\n::g2",
    "Win+E": "打开文件资源管理器\n::g2",
    "Win+F": "打开反馈中心并获取屏幕截图\n::g2",
    "Win+G": "打开 Xbox Game Bar（当游戏处于打开状态时）\n::g2",
    "Alt+Win+B": "打开Xbox Game Bar（当游戏处于打开状态时）\n::g2",
    "Win+H": "启动语音键入\n::g2",
    "Win+I": "打开设置\n::g2",
    "Win+J": "请将焦点设置到可用的Windows提示。\n\n当出现 Windows 提示时，请将焦点移到提示上。  再次按下键盘快捷方式，将焦点放在屏幕上 Windows 提示所固定的元素上\n::g2",
    "Win+K": "从“快速设置”打开“投放”\n::g2",
    "Win+M": "最小化所有窗口\n::g2",
    "Shift+Win+M": "还原桌面上的最小化窗口\n::g2",
    "Win+O": "锁定设备方向\n::g2",
    "Win+P": "选择演示显示模式\n::g2",
    "Ctrl+Win+Q": "打开快速助手\n::g2",
    "Win+R": "打开“运行”对话框\n::g2",
    "Alt+Win+R": "在焦点中录制游戏窗口的视频（使用Xbox Game Bar）\n::g2",
    "Win+S": "打开搜素\n::g2",
    "Shift+Win+S": "获取部分屏幕的屏幕截图\n::g2",
    "Win+U": "打开辅助功能设置\n::g2",
    "Win+V": "打开剪贴板历史记录\n\n注意：默认情况下，剪贴板历史记录未打开。 如果要打开它，请使用此键盘快捷方式，然后选择提示以打开历史记录。 或者，可以选择开始>设置>系统>剪贴板，然后打开剪贴板历史记录下的开关。\n::g2",
    "Shift+Win+V": "将焦点设置到通知\n::g2",
    "Win+W": "打开小组件\n::g2",
    "Win+X": "打开“快速链接”菜单\n::g2",
    "Win+Y": "在Windows Mixed Reality与桌面之间切换输入\n::g2",
    "Win+Z": "打开对齐布局\n::g2",
    "Win+.": "打开表情符号面板\n::g2",
    "Win+;": "打开表情符号面板\n::g2",
    "Win+,": "临时速览桌面\n::g2",
    "Win+Pause": "打开设置>系统>关于\n::g2",
    "Ctrl+Win+F": "搜索电脑（如果已连接到网络）\n::g2",
    "Win+1": "+数字。打开桌面，然后启动固定到任务栏的应用（位于数字所指明的位置）。 如果应用已处于运行状态，则切换至该应用\n::g2",
    "Shift+Win+1": "+数字。打开桌面，然后启动固定到任务栏的应用新实例（位于数字所指明的位置）\n::g2",
    "Ctrl+Win+1": "+数字。打开桌面，然后切换至固定到任务栏的应用的最后活动窗口（位于数字所指明的位置）\n::g2",
    "Alt+Win+1": "+数字。打开桌面，然后打开固定到任务栏的应用的“跳转列表”（位于数字所指明的位置\n::g2",
    "Ctrl+Shift+Win+1": "+数字。打开桌面，然后以管理员身份打开位于任务栏上指定位置的应用新实例\n::g2",
    "Win+Tab": "打开任务视图\n::g2",
    "Win+Up": "最大化窗口\n::g2",
    "Alt+Win+Up": "将焦点中的窗口贴靠到屏幕的上半部分\n::g2",
    "Win+Down": "将当前应用从屏幕上移除或最小化桌面窗口\n::g2",
    "Alt+Win+Down": "将焦点窗口贴靠到屏幕下半部分\n::g2",
    "Win+Left": "最大化屏幕左侧的应用或桌面窗口\n::g2",
    "Win+Right": "最大化屏幕右侧的应用或桌面窗口\n::g2",
    "Win+Home": "最小化活动桌面窗口之外的所有窗口（在第二个笔划时还原所有窗口）\n::g2",
    "Shift+Win+Up": "将桌面窗口拉伸至屏幕顶部和底部\n::g2",
    "Shift+Win+Down": "在垂直方向上还原/最小化活动桌面窗口，而宽度保持不变\n::g2",
    "Shift+Win+Left": "将桌面上的应用或窗口从一台显示器移动至另一台显示器\n::g2",
    "Shift+Win+Right": "将桌面上的应用或窗口从一台显示器移动至另一台显示器\n::g2",
    "Shift+Win+Space": "在语言和键盘布局中向后循环\n::g2",
    "Win+Space": "切换输入语言和键盘布局\n::g2",
    "Ctrl+Win+Space": "对之前选择的输入所做的更改\n::g2",
    "Ctrl+Win+Enter": "打开“讲述人”\n::g2",
    "Win+=": "打开放大镜并放大\n::g2",
    "Win+-": "缩小放大镜\n::g2",
    "Win+Esc": "关闭放大镜\n::g2",
    "Win+/": "开始输入法复原流程\n::g2",
    "Ctrl+Shift+Win+B": "从空白或黑屏唤醒电脑\n::g2",
    "Win+PrtScr": "将全屏屏幕截图保存到文件\n::g2",
    "Alt+Win+PrtScr": "将焦点中的游戏窗口的屏幕截图保存到文件（使用Xbox Game Bar）\n::g2",
    "Ctrl+Win+D": "添加虚拟桌面\n::g6",
    "Ctrl+Win+Left": "在你于左侧创建的虚拟桌面之间切换\n::g6",
    "Ctrl+Win+Right": "在你于右侧创建的虚拟桌面之间切换\n::g6",
    "Ctrl+Win+F4": "关闭你正在使用的虚拟桌面\n::g6",
    "Alt+Win+H": "将键盘焦点移动到语音键入对话框\n::g2",
    "Win+N": "打开通知中心和日历\n::g2",
    "Alt+Win+N": "打开“讲述人”设置\n::g2",
    "Ctrl+Win+S": "打开Windows语音识别\n::g2",
    "Ctrl+Win+O": "打开屏幕键盘\n::g2",
    "Win+T": "循环浏览任务栏上的应用\n::g2",
    "#name": "Win组合键"
  },
  "#2": {
    "Alt+LB": "开始在块模式下选择\n::g3",
    "PgUp": "将光标向上移动一个页面\n::g3",
    "PgDn": "将光标向下移动一个页面\n::g3",
    "Ctrl+Home": "将光标移动到缓冲区的起始处\n（标记模式）\n\n如果命令行为空，则将视区移动到缓冲区顶部。 否则，请删除命令行中光标左侧的所有字符\n（历史记录导航）\n::g3",
    "Ctrl+End": "将光标移动到缓冲区的结尾处\n（标记模式）\n\n如果命令行为空，则将视区移动到命令行。 否则，请删除命令行中光标右侧的所有字符\n（历史记录导航）\n::g3",
    "Ctrl+M": "进入标记模式\n::g3",
    "#comment": "g3：命令提示符键盘快捷方式",
    "#name": "命令提示符"
  },
  "#3": {
    "#comment": "g4：对话框键盘快捷方式[独立]\n\n重复部分\nF4：显示活动列表中的项目",
    "F4": "显示活动列表中的项目\n::g4",
    "Ctrl+Tab": "在选项卡中向前移动\n::g4",
    "Ctrl+Shift+Tab": "在选项卡中向后移动\n::g4",
    "Ctrl+1": "+数字。移动到第n个选项卡\n::g4",
    "Tab": "在选项中向前移动\n::g4",
    "Shift+Tab": "在选项中向后移动\n::g4",
    "Alt": "+带下划线的字母\n执行可与该字母结合使用的命令（或选择该选项）\n::g4",
    "Space": "如果活动选项为复选框，则选择或清除复选框\n::g4",
    "Backspace": "如果在“另存为”或“打开”对话框中选择文件夹，则打开上一级别的文件夹\n::g4",
    "#name": "对话框"
  },
  "#4": {
    "#comment": "g5：文件资源管理器键盘快捷方式\n\n重复部分\nCtrl+E：选择搜索框[文件资源管理器]\nBackspace：查看上一个文件夹\nAlt+Enter：打开选定项的“属性”对话框[文件资源管理器]\n方向键",
    "Alt+D": "选择地址栏\n::g5",
    "Ctrl+E": "选择搜索框[文件资源管理器]\n::g5",
    "Ctrl+F": "选择搜索框\n::g5",
    "Ctrl+W": "关闭活动窗口\n::g5",
    "Ctrl+WhlUp": "更改文件和文件夹图标的大小和外观\n::g5",
    "Ctrl+Shift+E": "显示选定文件夹上的所有文件夹\n::g5",
    "Ctrl+N": "打开新窗口\n::g5",
    "Ctrl+Shift+N": "创建新文件夹\n::g5",
    "Alt+P": "显示预览面板\n::g5",
    "Alt+Enter": "打开选定项的“属性”对话框[文件资源管理器]\n::g5",
    "Alt+Up": "查看该文件夹所在的文件夹\n::g5",
    "Alt+Right": "查看下一个文件夹\n::g5",
    "Alt+Left": "查看上一个文件夹\n::g5",
    "Backspace": "查看上一个文件夹\n::g5",
    "Right": "显示当前选择内容（如果已折叠），或选择第一个子文件夹。\n::g5",
    "Left": "折叠当前选择内容（如果已展开），或选择该文件夹所在的文件夹\n::g5",
    "End": "显示活动窗口底部\n::g5",
    "Home": "显示活动窗口顶部\n::g5",
    "F11": "最大化或最小化活动窗口\n::g5",
    "#name": "文件资源管理器"
  },
  "#5": {
    "#comment": "g7：任务栏键盘快捷方式",
    "Shift+LB": "+单击任务栏按钮。打开应用或快速打开另一个应用实例\n::g7",
    "Ctrl+Shift+LB": "+单击任务栏按钮。打开应用或快速打开另一个应用实例\n::g7",
    "Shift+RB": "+右键单击任务栏按钮。显示应用的窗口菜单\n+右键单击分组任务栏按钮。显示组的窗口菜单\n::g7",
    "Ctrl+LB": "+单击分组任务栏按钮。循环浏览组的窗口\n::g7",
    "#name": "任务栏"
  },
  "#6": {
    "#name": "最后更新20240204"
  }
}