{
    "#1": {
        "Ctrl+N": "创建新文档\n::g1",
        "Ctrl+O": "打开文档\n::g1",
        "Ctrl+W": "关闭文档\n::g1",
        "Ctrl+S": "保存当前文档\n::g1",
        "Alt+F+A": "文档另存为\n::g1",
        "Ctrl+P": "打印文档\n::g1",
        "Ctrl+F": "查找文字、格式和特殊项\n::g1",
        "Ctrl+H": "替换文字、特殊格式和特殊项\n::g1",
        "Ctrl+G": "定位至页、节或者书签\n::g1",
        "Ctrl+Shift+E": "打开或关闭标记修订功能\n::g1",
        "Alt+I+M": "插入批注\n::g1",
        "Alt+V+L": "切换到页面视图\n::g1",
        "Alt+V+O": "切换到大纲视图\n::g1",
        "Ctrl+Alt+Right": "提升样式和格式的级别\n::g1",
        "Ctrl+Alt+Left": "提升样式和格式的级别\n::g1",
        "Ctrl+Shift+N": "将样式和格式恢复到“正文”级别\n::g1",
        "Alt+T+W": "统计文档字数\n::g1"
    },
    "#2": {
        "Left": "左移一个字符\n::g2",
        "Right": "右移一个字符\n::g2",
        "Ctrl+Left": "左移一个单词\n::g2",
        "Ctrl+Right": "右移一个单词\n::g2",
        "Home": "移至行首\n::g2",
        "End": "移至行尾\n::g2",
        "Up": "上移一行\n::g2",
        "Down": "下移一行\n::g2",
        "Ctrl+Up": "上移一段\n::g2",
        "Ctrl+Down": "下移一段\n::g2",
        "PgUp": "上移一屏（滚动）\n::g2",
        "PgDn": "下移一屏（滚动）\n::g2",
        "Ctrl+Home": "移至文档开头\n::g2",
        "Ctrl+End": "移至文档结尾\n::g2"
    },
    "#3": {
        "Ctrl+A": "选定整篇文档\n::g3",
        "Ctrl": "选定不连续文字\n::g3",
        "Shift": "选定连续文字\n::g3",
        "Shift+Left": "选定到左侧的一个字符\n::g3",
        "Shift+Right": "选定到右侧的一个字符\n::g3",
        "Ctrl+Shift+Left": "选定到上一个单词开始\n::g3",
        "Ctrl+Shift+Right": "选定到下一个单词结尾\n::g3",
        "Shift+Home": "选定到行首\n::g3",
        "Shift+End": "选定到行尾\n::g3",
        "Shift+Up": "选定到上一行\n::g3",
        "Shift+Down": "选定到下一行\n::g3",
        "Ctrl+Shift+Up": "选定到段首\n::g3",
        "Ctrl+Shift+Down": "选定到段尾\n::g3",
        "Ctrl+Shift+Home": "选定到文档开始处\n::g3",
        "Ctrl+Shift+End": "选定到文档结尾处\n::g3"
    },
    "#4": {
        "Alt": "选择选项\n::g4",
        "ESC": "选中列表时关闭所选列表\n::g4",
        "Enter": "执行默认按钮(一般为“确定”)\n::g4",
        "Ctrl+Tab": "切换至下一张选项卡\n::g4",
        "Ctrl+Shift+Tab": "切换至上一张选项卡\n::g4",
        "Tab": "移至下一选项或选项组\n::g4",
        "Shift+Tab": "移至上一选项或选项组\n::g4",
        "Space": "执行所选按钮的指定操作\n::g4",
        "Alt+Down": "选中列表时打开所选列表\n::g4"
    },
    "#5": {
        "Ctrl+Shift+C": "复制格式\n::g5",
        "Ctrl+Shift+V": "粘贴格式\n::g5",
        "Shift+F3": "切换字母大小写\n::g5",
        "Ctrl+Shift+P": "改变字号（打开“字体”下拉框）\n::g5",
        "Ctrl+D": "改变字符格式（格式菜单中的字体命令）\n::g5",
        "Ctrl+Shift+O": "打开“样式和格式”\n::g5",
        "Ctrl+B": "应用加粗格式\n::g5",
        "Ctrl+U": "应用下划线格式\n::g5",
        "Ctrl+I": "应用倾斜格式\n::g5",
        "Ctrl+]": "增大字号\n::g5",
        "Ctrl+[": "减小字号\n::g5",
        "Ctrl+=": "应用下标格式（自动间距）\n::g5",
        "Ctrl+Shift++": "应用上标格式（自动间距）\n::g5",
        "Ctrl+E": "居中对齐\n::g5",
        "Ctrl+J": "两端对齐\n::g5",
        "Ctrl+L": "左对齐\n::g5",
        "Ctrl+R": "右对齐\n::g5",
        "Ctrl+Shift+J": "分散对齐\n::g5"
    },
    "#6": {
        "Ctrl+C": "复制\n::g6",
        "Ctrl+X": "剪切\n::g6",
        "Ctrl+V": "粘贴\n::g6",
        "Ctrl+Z": "撤消上一步操作\n::g6",
        "Ctrl+Y": "恢复上一步操作\n::g6",
        "Back+Space": "删除左侧的一个字符\n::g6",
        "Ctrl+Back+Space": "删除左侧的一个单词\n::g6",
        "Del": "删除右侧的一个字符\n::g6",
        "Ctrl+Del": "删除右侧的一个单词\n::g6",
        "Insert": "激活插入状态\n::g6",
        "Ctrl+F9": "插入域\n::g6",
        "Shift+Enter": "插入换行符\n::g6",
        "Ctrl+Enter": "插入分页符\n::g6",
        "Ctrl+K": "插入超链接\n::g6",
        "Ctrl+Shift+F5": "插入书签\n::g6",
        "Alt+I+P": "插入图片\n::g6",
        "Shift+Alt+Right": "增加缩进量\n::g6",
        "Shift+Alt+Left": "减少缩进量\n::g6"
    },
    "#7": {
        "Alt+Space+N": "最小化WPS窗口\n::g7",
        "Alt+Space+X": "最大化WPS窗口\n::g7",
        "Alt+Space+R": "还原WPS窗口\n::g7",
        "Alt+Space+C": "关闭WPS窗口\n::g7",
        "Ctrl+Tab": "切换标签（文档）\n::g7",
        "Ctrl+W": "关闭标签（文档）\n::g7",
        "Alt+W+B": "并排比较两个文档\n::g7",
        "Ctrl+F1": "打开任务窗格\n::g7",
        "Ctrl+3": "打开在线素材\n::g7",
        "Alt+V+E": "打开首页\n::g7",
        "F1": "打开帮助\n::g7"
    },
    "#8": {
        "F1": "帮助\n::g8",
        "Ctrl+F1": "任务窗格\n::g8",
        "Ctrl+N": "新建空白文档\n::g8",
        "Ctrl+PgUp": "切换到活动工作表的上一个工作表\n::g8",
        "Ctrl+PgDn": "切换到活动工作表的下一个工作表\n::g8"
    },
    "#9": {
        "F2": "将光标移到单元格内容尾部\n::g9",
        "Ctrl+Enter": "键入同样的数据到多个单元格中\n::g9",
        "Alt+Enter": "在单元格内的换行操作\n::g9",
        "Back+Space": "进入编辑，重新编辑单元格内容\n::g9",
        "Ctrl+;": "键入当前日期\n::g9",
        "Ctrl+Shift+;": "键入当前时间\n::g9"
    },
    "#10": {
        "Ctrl": "移动到当前数据区域的边缘\n::g10",
        "Home": "定位到活动单元格所在窗格的行首\n::g10",
        "Ctrl+Home": "移动到工作表的开头位置\n::g10",
        "Ctrl+End": "移动到工作表的最后一个单元格位置，该单元格位于数据所占用的最右列的最下行中\n::g10"
    },
    "#11": {
        "Left": "改变当前所选单元格，取消原先所选\n::g11",
        "Shift": "选择从活动单元格到单击单元格之间的区域\n::g11",
        "Ctrl+Shift": "将选定区域扩展到与活动单元格在同一列或同一行的最后一个非空单元格\n::g11",
        "Shift+Home": "将选定区域扩展到行首\n::g11",
        "Ctrl+Shift+Home": "将选定区域扩展到工作表的开始处\n::g11",
        "Ctrl+Shift+End": "将选定区域扩展到工作表上最后一个使用的单元格（右下角）\n::g11",
        "Ctrl+A": "选定整张工作表\n::g11",
        "A": "选择一片区域\n::g11",
        "Ctrl": "选择多片区域\n::g11",
        "Tab": "在选定区域中从左向右移动。如果选定单列中的单元格，则向下移动\n::g11",
        "Shift+Tab": "在选定区域中从右向左移动。如果选定单列中的单元格，则向上移动\n::g11",
        "Enter": "在选定区域中从上向下移动。如果选定单列中的单元格，则向下移动\n::g11",
        "Shift+Enter": "在选定区域中从下向上移动。如果选定单列中的单元格，则向上移动\n::g11",
        "PgUp": "选中活动单元格的上一屏的单元格\n::g11",
        "PgDn": "选中活动单元格的下一屏的单元格\n::g11",
        "Shift+PgUp": "选中从活动单元格到上一屏相应单元格的区域\n::g11",
        "Shift+PgDn": "选中从活动单元格到下一屏相应单元格的区域\n::g11"
    },
    "#12": {
        "Enter": "激活超链接\n::g12",
        "Alt+Enter": "在单元格中换行\n::g12",
        "Ctrl+Enter": "用当前输入项填充选定的单元格区域\n::g12",
        "Shift+Enter": "完成单元格输入并向上选取上一个单元格\n::g12",
        "Tab": "完成单元格输入并向右选取下一个单元格\n::g12",
        "Shift+Tab": "完成单元格输入并向左选取上一个单元格\n::g12",
        "ESC": "取消单元格输入\n::g12",
        "Left+Up+Right": "向上、下、左或右移动一个字符\n::g12",
        "Home": "移到行首\n::g12",
        "Ctrl+Y": "重复上一次操作\n::g12",
        "Ctrl+Shift+F3": "由行列标志创建名称\n::g12",
        "Ctrl+D": "向下填充\n::g12",
        "Ctrl+R": "向右填充\n::g12",
        "Ctrl+F3": "定义名称\n::g12",
        "Ctrl+K": "插入超链接\n::g12",
        "Ctrl+;": "输入日期\n::g12",
        "Ctrl+Shift": "输入时间\n::g12",
        "Alt+Down": "显示清单的当前列中的数值下拉列表\n::g12",
        "Ctrl+Z": "撤销上一次操作\n::g12"
    },
    "#13": {
        "Alt+Del": "删除当前页\n::g13",
        "Alt+Enter": "弹出对象属性设置对话框\n::g13",
        "Alt+Insert": "在当前页插入新页\n::g13",
        "Ctrl+A": "全选（当前页对象）\n::g13",
        "Ctrl+Alt+F": "设置字体\n::g13",
        "Ctrl+Alt+R": "设置显示比例\n::g13",
        "Ctrl+Alt+S": "设置字体大小\n::g13",
        "Ctrl+B": "文字加粗（或清除）\n::g13",
        "Ctrl+Del": "删除当前页\n::g13",
        "Ctrl+Enter": "进入版式对象编辑状态，或插入新页\n::g13",
        "Ctrl+F": "查找\n::g13",
        "Ctrl+F1": "“关于…”对话框\n::g13",
        "Ctrl+F5": "演示播放（从第一页开始）\n::g13",
        "Ctrl+H": "替换\n::g13",
        "Ctrl+I": "文字添加或清除斜体\n::g13",
        "Ctrl+Insert": "复制\n::g13",
        "Ctrl+L": "页面设置\n::g13",
        "Ctrl+N": "新建演示稿\n::g13",
        "Ctrl+O": "打开演示稿\n::g13",
        "Ctrl+S": "文件存盘\n::g13",
        "Ctrl+Shift+U": "文字添加或清除着重号\n::g13",
        "Ctrl+U": "文字添加或清除下划线\n::g13",
        "Ctrl+P": "文件打印\n::g13",
        "End": "跳到最后一页（当没有对象处于文字编辑状态时）\n::g13",
        "F2": "文件存盘\n::g13",
        "F5": "从当前页开始播放\n::g13",
        "F8": "打印预览\n::g13",
        "F9": "文件打印\n::g13",
        "Home": "跳到第一页（当没有对象处于文字编辑状态时）\n::g13",
        "PgDn": "跳到下一页\n::g13",
        "PgUp": "跳到上一页\n::g13",
        "Shift+Del": "剪切\n::g13",
        "Shift+Insert": "粘贴\n::g13"
    },
    "#14": {
        "Enter": "执行下一个动画或切换到下一演示页\n::g14",
        "B": "黑屏，或从黑屏返回演示播放\n::g14",
        "Back+Space": "执行上一个动画或返回到上一演示页\n::g14",
        "Ctrl+A": "重新显示隐藏的鼠标指针和将指针改变成箭头\n::g14",
        "Ctrl+H": "立即隐藏鼠标指针\n::g14",
        "Ctrl+P": "显示绘图笔\n::g14",
        "E": "擦除屏幕上的绘画\n::g14",
        "ESC": "退出演示播放\n::g14",
        "N": "执行下一个动画或切换到下一演示页\n::g14",
        "P": "执行上一个动画或返回到上一演示页\n::g14",
        "PgUp": "执行上一个动画或返回到上一演示页\n::g14",
        "PgDn": "执行下一个动画或切换到下一演示页\n::g14",
        "S": "停止或重新启动自动演示播放\n::g14",
        "Shift+F10": "显示右键菜单\n::g14",
        "W": "白屏，或从白屏返回演示播放\n::g14",
        "Space": "执行下一个动画或切换到下一演示页\n::g14",
        "Up": "执行上一个动画或返回到上一演示页\n::g14",
        "Down": "执行下一个动画或切换到下一演示页\n::g14",
        "Right": "执行下一个动画或切换到下一演示页\n::g14",
        "Left": "执行上一个动画或返回到上一演示页\n::g14"
    },
    "#15": {
        "Back+Space": "上一级目录\n::g15",
        "Ctrl+C": "拷贝图片内容\n::g15",
        "F5": "刷新文件列表框\n::g15"
    },
    "#16": {
        "-": "缩小\n::g16",
        "+": "放大\n::g16",
        "Ctrl+C": "拷贝图片内容\n::g16",
        "Ctrl+F": "（切换）显示\n::g16",
        "PgDn": "下一幅图\n::g16",
        "PgUp": "上一幅图\n::g16"
    },
    "#0": {
        "Ctrl+N": "新建演示稿\n::g13",
        "Ctrl+O": "打开演示稿\n::g13",
        "Ctrl+W": "关闭标签（文档）\n::g7",
        "Ctrl+S": "文件存盘\n::g13",
        "Alt+F+A": "文档另存为\n::g1",
        "Ctrl+P": "显示绘图笔\n::g14",
        "Ctrl+F": "（切换）显示\n::g16",
        "Ctrl+H": "立即隐藏鼠标指针\n::g14",
        "Ctrl+G": "定位至页、节或者书签\n::g1",
        "Ctrl+Shift+E": "打开或关闭标记修订功能\n::g1",
        "Alt+I+M": "插入批注\n::g1",
        "Alt+V+L": "切换到页面视图\n::g1",
        "Alt+V+O": "切换到大纲视图\n::g1",
        "Ctrl+Alt+Right": "提升样式和格式的级别\n::g1",
        "Ctrl+Alt+Left": "提升样式和格式的级别\n::g1",
        "Ctrl+Shift+N": "将样式和格式恢复到“正文”级别\n::g1",
        "Alt+T+W": "统计文档字数\n::g1",
        "Left": "执行上一个动画或返回到上一演示页\n::g14",
        "Right": "执行下一个动画或切换到下一演示页\n::g14",
        "Ctrl+Left": "左移一个单词\n::g2",
        "Ctrl+Right": "右移一个单词\n::g2",
        "Home": "跳到第一页（当没有对象处于文字编辑状态时）\n::g13",
        "End": "跳到最后一页（当没有对象处于文字编辑状态时）\n::g13",
        "Up": "执行上一个动画或返回到上一演示页\n::g14",
        "Down": "执行下一个动画或切换到下一演示页\n::g14",
        "Ctrl+Up": "上移一段\n::g2",
        "Ctrl+Down": "下移一段\n::g2",
        "PgUp": "上一幅图\n::g16",
        "PgDn": "下一幅图\n::g16",
        "Ctrl+Home": "移动到工作表的开头位置\n::g10",
        "Ctrl+End": "移动到工作表的最后一个单元格位置，该单元格位于数据所占用的最右列的最下行中\n::g10",
        "Ctrl+A": "重新显示隐藏的鼠标指针和将指针改变成箭头\n::g14",
        "Ctrl": "选择多片区域\n::g11",
        "Shift": "选择从活动单元格到单击单元格之间的区域\n::g11",
        "Shift+Left": "选定到左侧的一个字符\n::g3",
        "Shift+Right": "选定到右侧的一个字符\n::g3",
        "Ctrl+Shift+Left": "选定到上一个单词开始\n::g3",
        "Ctrl+Shift+Right": "选定到下一个单词结尾\n::g3",
        "Shift+Home": "将选定区域扩展到行首\n::g11",
        "Shift+End": "选定到行尾\n::g3",
        "Shift+Up": "选定到上一行\n::g3",
        "Shift+Down": "选定到下一行\n::g3",
        "Ctrl+Shift+Up": "选定到段首\n::g3",
        "Ctrl+Shift+Down": "选定到段尾\n::g3",
        "Ctrl+Shift+Home": "将选定区域扩展到工作表的开始处\n::g11",
        "Ctrl+Shift+End": "将选定区域扩展到工作表上最后一个使用的单元格（右下角）\n::g11",
        "Alt": "选择选项\n::g4",
        "ESC": "退出演示播放\n::g14",
        "Enter": "执行下一个动画或切换到下一演示页\n::g14",
        "Ctrl+Tab": "切换标签（文档）\n::g7",
        "Ctrl+Shift+Tab": "切换至上一张选项卡\n::g4",
        "Tab": "完成单元格输入并向右选取下一个单元格\n::g12",
        "Shift+Tab": "完成单元格输入并向左选取上一个单元格\n::g12",
        "Space": "执行下一个动画或切换到下一演示页\n::g14",
        "Alt+Down": "显示清单的当前列中的数值下拉列表\n::g12",
        "Ctrl+Shift+C": "复制格式\n::g5",
        "Ctrl+Shift+V": "粘贴格式\n::g5",
        "Shift+F3": "切换字母大小写\n::g5",
        "Ctrl+Shift+P": "改变字号（打开“字体”下拉框）\n::g5",
        "Ctrl+D": "向下填充\n::g12",
        "Ctrl+Shift+O": "打开“样式和格式”\n::g5",
        "Ctrl+B": "文字加粗（或清除）\n::g13",
        "Ctrl+U": "文字添加或清除下划线\n::g13",
        "Ctrl+I": "文字添加或清除斜体\n::g13",
        "Ctrl+]": "增大字号\n::g5",
        "Ctrl+[": "减小字号\n::g5",
        "Ctrl+=": "应用下标格式（自动间距）\n::g5",
        "Ctrl+Shift++": "应用上标格式（自动间距）\n::g5",
        "Ctrl+E": "居中对齐\n::g5",
        "Ctrl+J": "两端对齐\n::g5",
        "Ctrl+L": "页面设置\n::g13",
        "Ctrl+R": "向右填充\n::g12",
        "Ctrl+Shift+J": "分散对齐\n::g5",
        "Ctrl+C": "拷贝图片内容\n::g16",
        "Ctrl+X": "剪切\n::g6",
        "Ctrl+V": "粘贴\n::g6",
        "Ctrl+Z": "撤销上一次操作\n::g12",
        "Ctrl+Y": "重复上一次操作\n::g12",
        "Back+Space": "上一级目录\n::g15",
        "Ctrl+Back+Space": "删除左侧的一个单词\n::g6",
        "Del": "删除右侧的一个字符\n::g6",
        "Ctrl+Del": "删除当前页\n::g13",
        "Insert": "激活插入状态\n::g6",
        "Ctrl+F9": "插入域\n::g6",
        "Shift+Enter": "完成单元格输入并向上选取上一个单元格\n::g12",
        "Ctrl+Enter": "进入版式对象编辑状态，或插入新页\n::g13",
        "Ctrl+K": "插入超链接\n::g12",
        "Ctrl+Shift+F5": "插入书签\n::g6",
        "Alt+I+P": "插入图片\n::g6",
        "Shift+Alt+Right": "增加缩进量\n::g6",
        "Shift+Alt+Left": "减少缩进量\n::g6",
        "Alt+Space+N": "最小化WPS窗口\n::g7",
        "Alt+Space+X": "最大化WPS窗口\n::g7",
        "Alt+Space+R": "还原WPS窗口\n::g7",
        "Alt+Space+C": "关闭WPS窗口\n::g7",
        "Alt+W+B": "并排比较两个文档\n::g7",
        "Ctrl+F1": "“关于…”对话框\n::g13",
        "Ctrl+3": "打开在线素材\n::g7",
        "Alt+V+E": "打开首页\n::g7",
        "F1": "帮助\n::g8",
        "Ctrl+PgUp": "切换到活动工作表的上一个工作表\n::g8",
        "Ctrl+PgDn": "切换到活动工作表的下一个工作表\n::g8",
        "F2": "文件存盘\n::g13",
        "Alt+Enter": "弹出对象属性设置对话框\n::g13",
        "Ctrl+;": "输入日期\n::g12",
        "Ctrl+Shift+;": "键入当前时间\n::g9",
        "Ctrl+Shift": "输入时间\n::g12",
        "A": "选择一片区域\n::g11",
        "Shift+PgUp": "选中从活动单元格到上一屏相应单元格的区域\n::g11",
        "Shift+PgDn": "选中从活动单元格到下一屏相应单元格的区域\n::g11",
        "Left+Up+Right": "向上、下、左或右移动一个字符\n::g12",
        "Ctrl+Shift+F3": "由行列标志创建名称\n::g12",
        "Ctrl+F3": "定义名称\n::g12",
        "Alt+Del": "删除当前页\n::g13",
        "Alt+Insert": "在当前页插入新页\n::g13",
        "Ctrl+Alt+F": "设置字体\n::g13",
        "Ctrl+Alt+R": "设置显示比例\n::g13",
        "Ctrl+Alt+S": "设置字体大小\n::g13",
        "Ctrl+F5": "演示播放（从第一页开始）\n::g13",
        "Ctrl+Insert": "复制\n::g13",
        "Ctrl+Shift+U": "文字添加或清除着重号\n::g13",
        "F5": "刷新文件列表框\n::g15",
        "F8": "打印预览\n::g13",
        "F9": "文件打印\n::g13",
        "Shift+Del": "剪切\n::g13",
        "Shift+Insert": "粘贴\n::g13",
        "B": "黑屏，或从黑屏返回演示播放\n::g14",
        "E": "擦除屏幕上的绘画\n::g14",
        "N": "执行下一个动画或切换到下一演示页\n::g14",
        "P": "执行上一个动画或返回到上一演示页\n::g14",
        "S": "停止或重新启动自动演示播放\n::g14",
        "Shift+F10": "显示右键菜单\n::g14",
        "W": "白屏，或从白屏返回演示播放\n::g14",
        "-": "缩小\n::g16",
        "+": "放大\n::g16"
    },
    "#config": {
        "layer_names": {
            "#1": "一、文件",
            "#2": "二、编辑",
            "#3": "三、图像",
            "#4": "四、图层",
            "#5": "五、选择",
            "#6": "六、画布和显示操作",
            "#7": "七、选择工具",
            "#8": "八、画笔和涂抹工具",
            "#9": "九、渐变和涂抹工具",
            "#10": "十、文本工具",
            "#11": "十一、滤镜和效果",
            "#12": "十二、其他"
        },
        "groups": {
            "g1": [
                "#e949ea",
                "一、文件"
            ],
            "g2": [
                "#915fff",
                "二、编辑"
            ],
            "g3": [
                "#69826c",
                "三、图像"
            ],
            "g4": [
                "#61c273",
                "四、图层"
            ],
            "g5": [
                "#d174eb",
                "五、选择"
            ],
            "g6": [
                "#db937f",
                "六、画布和显示操作"
            ],
            "g7": [
                "#98b2db",
                "七、选择工具"
            ],
            "g8": [
                "#b3c10f",
                "八、画笔和涂抹工具"
            ],
            "g9": [
                "#b3dace",
                "九、渐变和涂抹工具"
            ],
            "g10": [
                "#7ac5f0",
                "十、文本工具"
            ],
            "g11": [
                "#2f685e",
                "十一、滤镜和效果"
            ],
            "g12": [
                "#028a5e",
                "十二、其他"
            ]
        }
    }
}